packages/nodes-base/nodes/Microsoft/Excel/test/v2/node/worksheet/readRows.sp.drive.perItem.workflow.json
{
	"name": "microsoft excel 365 - read rows (service principal, per-item drive target)",
	"nodes": [
		{
			"parameters": {},
			"id": "8a000000-0000-4000-8000-000000000001",
			"name": "When clicking \"Execute Workflow\"",
			"type": "n8n-nodes-base.manualTrigger",
			"typeVersion": 1,
			"position": [0, 0]
		},
		{
			"parameters": {
				"data": [{ "drive": "b!driveA" }, { "drive": "b!driveB" }]
			},
			"id": "8a000000-0000-4000-8000-000000000002",
			"name": "Test Data",
			"type": "n8n-nodes-testing.testData",
			"typeVersion": 1,
			"position": [200, 0]
		},
		{
			"parameters": {
				"authentication": "microsoftEntraServicePrincipalApi",
				"resourceTarget": "drive",
				"driveTarget": {
					"__rl": true,
					"value": "={{ $json.drive }}",
					"mode": "id"
				},
				"resource": "worksheet",
				"operation": "readRows",
				"workbook": {
					"__rl": true,
					"value": "01FUWX3BQ4ATCOZNR265GLA6IJEZDQUE4I",
					"mode": "id"
				},
				"worksheet": {
					"__rl": true,
					"value": "{A0883CFE-D27E-4ECC-B94B-981830AAD55B}",
					"mode": "id"
				},
				"options": {}
			},
			"id": "8a000000-0000-4000-8000-000000000003",
			"name": "Microsoft Excel 365",
			"type": "n8n-nodes-base.microsoftExcel",
			"typeVersion": 2,
			"position": [400, 0],
			"credentials": {
				"microsoftEntraServicePrincipalApi": {
					"id": "1",
					"name": "Microsoft Entra Service Principal account"
				}
			}
		}
	],
	"pinData": {
		"Microsoft Excel 365": [
			{
				"json": {
					"row": "drive-a-row"
				}
			},
			{
				"json": {
					"row": "drive-b-row"
				}
			}
		]
	},
	"connections": {
		"When clicking \"Execute Workflow\"": {
			"main": [[{ "node": "Test Data", "type": "main", "index": 0 }]]
		},
		"Test Data": {
			"main": [[{ "node": "Microsoft Excel 365", "type": "main", "index": 0 }]]
		}
	},
	"active": false,
	"settings": {},
	"tags": []
}
