packages/testing/playwright/workflows/execute-previous-nodes.json
{
	"name": "Execute Previous Nodes Test",
	"nodes": [
		{
			"parameters": {},
			"id": "manual-trigger-node",
			"name": "Manual Trigger",
			"type": "n8n-nodes-base.manualTrigger",
			"typeVersion": 1,
			"position": [250, 300]
		},
		{
			"parameters": {
				"jsCode": "for (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
			},
			"id": "code-node-1",
			"name": "Code1",
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [470, 300]
		},
		{
			"parameters": {
				"jsCode": "for (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
			},
			"id": "code-node-2",
			"name": "Code2",
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [690, 300]
		}
	],
	"connections": {
		"Manual Trigger": {
			"main": [
				[
					{
						"node": "Code1",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Code1": {
			"main": [
				[
					{
						"node": "Code2",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"pinData": {}
}
