packages/testing/playwright/test-workflows/workflow-tests.spec.ts-snapshots/workflow-253-schema-mode-workflows.snap
{
  "$schema": "http://json-schema.org/draft-04/schema#",
  "type": "object",
  "properties": {
    "data": {
      "type": "object",
      "properties": {
        "startData": {
          "type": "object",
          "properties": {}
        },
        "resultData": {
          "type": "object",
          "properties": {
            "runData": {
              "type": "object",
              "properties": {
                "When clicking \"Test workflow\"": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {}
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Window Buffer Memory1": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            },
                            "previousNodeRun": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "previousNode",
                            "previousNodeRun"
                          ]
                        }
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "ai_memory": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "inputOverride": {
                        "type": "object",
                        "properties": {
                          "ai_memory": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {
                          "subRun": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "node": {
                                  "type": "string"
                                },
                                "runIndex": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "node",
                                "runIndex"
                              ]
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "startTime",
                      "executionTime",
                      "executionIndex",
                      "executionStatus",
                      "source",
                      "data",
                      "inputOverride",
                      "metadata"
                    ]
                  }
                },
                "OpenAI Chat Model3": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            },
                            "previousNodeRun": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "previousNode",
                            "previousNodeRun"
                          ]
                        }
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "ai_languageModel": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "inputOverride": {
                        "type": "object",
                        "properties": {
                          "ai_languageModel": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {
                          "subRun": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "node": {
                                  "type": "string"
                                },
                                "runIndex": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "node",
                                "runIndex"
                              ]
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "startTime",
                      "executionTime",
                      "executionIndex",
                      "executionStatus",
                      "source",
                      "data",
                      "inputOverride",
                      "metadata"
                    ]
                  }
                },
                "Structured Output Parser1": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            },
                            "previousNodeRun": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "previousNode",
                            "previousNodeRun"
                          ]
                        }
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "ai_outputParser": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "inputOverride": {
                        "type": "object",
                        "properties": {
                          "ai_outputParser": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {
                          "subRun": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "node": {
                                  "type": "string"
                                },
                                "runIndex": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "node",
                                "runIndex"
                              ]
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "startTime",
                      "executionTime",
                      "executionIndex",
                      "executionStatus",
                      "source",
                      "data",
                      "inputOverride",
                      "metadata"
                    ]
                  }
                },
                "AI Agent5": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "AI Agent3": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Edit Fields1": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "OpenAI Chat Model2": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            },
                            "previousNodeRun": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "previousNode",
                            "previousNodeRun"
                          ]
                        }
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "ai_languageModel": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "inputOverride": {
                        "type": "object",
                        "properties": {
                          "ai_languageModel": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {
                          "subRun": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "node": {
                                  "type": "string"
                                },
                                "runIndex": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "node",
                                "runIndex"
                              ]
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "startTime",
                      "executionTime",
                      "executionIndex",
                      "executionStatus",
                      "source",
                      "data",
                      "inputOverride",
                      "metadata"
                    ]
                  }
                },
                "HTTP Request": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            },
                            "previousNodeRun": {
                              "type": "number"
                            }
                          }
                        }
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "ai_tool": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "inputOverride": {
                        "type": "object",
                        "properties": {
                          "ai_tool": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {
                          "subRun": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "node": {
                                  "type": "string"
                                },
                                "runIndex": {
                                  "type": "number"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "AI Agent2": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Edit Fields9": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "OpenAI Chat Model1": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            },
                            "previousNodeRun": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "previousNode",
                            "previousNodeRun"
                          ]
                        }
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "ai_languageModel": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "inputOverride": {
                        "type": "object",
                        "properties": {
                          "ai_languageModel": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {
                          "subRun": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "node": {
                                  "type": "string"
                                },
                                "runIndex": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "node",
                                "runIndex"
                              ]
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "startTime",
                      "executionTime",
                      "executionIndex",
                      "executionStatus",
                      "source",
                      "data",
                      "inputOverride",
                      "metadata"
                    ]
                  }
                },
                "Code Tool": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            },
                            "previousNodeRun": {
                              "type": "number"
                            }
                          }
                        }
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "ai_tool": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "inputOverride": {
                        "type": "object",
                        "properties": {
                          "ai_tool": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {
                          "subRun": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "node": {
                                  "type": "string"
                                },
                                "runIndex": {
                                  "type": "number"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "AI Agent1": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Edit Fields8": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "OpenAI Chat Model": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            },
                            "previousNodeRun": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "previousNode",
                            "previousNodeRun"
                          ]
                        }
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "ai_languageModel": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "inputOverride": {
                        "type": "object",
                        "properties": {
                          "ai_languageModel": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {
                          "subRun": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "node": {
                                  "type": "string"
                                },
                                "runIndex": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "node",
                                "runIndex"
                              ]
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "startTime",
                      "executionTime",
                      "executionIndex",
                      "executionStatus",
                      "source",
                      "data",
                      "inputOverride",
                      "metadata"
                    ]
                  }
                },
                "Search Wiki": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            },
                            "previousNodeRun": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "previousNode",
                            "previousNodeRun"
                          ]
                        }
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "ai_tool": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "inputOverride": {
                        "type": "object",
                        "properties": {
                          "ai_tool": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {
                          "subExecution": {
                            "type": "object",
                            "properties": {
                              "executionId": {
                                "type": "string"
                              },
                              "workflowId": {
                                "type": "string"
                              }
                            }
                          },
                          "subRun": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "node": {
                                  "type": "string"
                                },
                                "runIndex": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "node",
                                "runIndex"
                              ]
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "startTime",
                      "executionTime",
                      "executionIndex",
                      "executionStatus",
                      "source",
                      "data",
                      "inputOverride",
                      "metadata"
                    ]
                  }
                },
                "Structured Output Parser": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            },
                            "previousNodeRun": {
                              "type": "number"
                            }
                          }
                        }
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "ai_outputParser": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "inputOverride": {
                        "type": "object",
                        "properties": {
                          "ai_outputParser": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {
                          "subRun": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "node": {
                                  "type": "string"
                                },
                                "runIndex": {
                                  "type": "number"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "AI Agent": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Edit Fields7": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "OpenAI Chat Model4": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            },
                            "previousNodeRun": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "previousNode",
                            "previousNodeRun"
                          ]
                        }
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "ai_languageModel": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "inputOverride": {
                        "type": "object",
                        "properties": {
                          "ai_languageModel": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {
                          "subRun": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "node": {
                                  "type": "string"
                                },
                                "runIndex": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "node",
                                "runIndex"
                              ]
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "startTime",
                      "executionTime",
                      "executionIndex",
                      "executionStatus",
                      "source",
                      "data",
                      "inputOverride",
                      "metadata"
                    ]
                  }
                },
                "Get Weather": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            },
                            "previousNodeRun": {
                              "type": "number"
                            }
                          }
                        }
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "ai_tool": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "inputOverride": {
                        "type": "object",
                        "properties": {
                          "ai_tool": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {
                          "subExecution": {
                            "type": "object",
                            "properties": {
                              "executionId": {
                                "type": "string"
                              },
                              "workflowId": {
                                "type": "string"
                              }
                            }
                          },
                          "subRun": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "node": {
                                  "type": "string"
                                },
                                "runIndex": {
                                  "type": "number"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Get Events": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            },
                            "previousNodeRun": {
                              "type": "number"
                            }
                          }
                        }
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "ai_tool": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "inputOverride": {
                        "type": "object",
                        "properties": {
                          "ai_tool": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {
                          "subExecution": {
                            "type": "object",
                            "properties": {
                              "executionId": {
                                "type": "string"
                              },
                              "workflowId": {
                                "type": "string"
                              }
                            }
                          },
                          "subRun": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "node": {
                                  "type": "string"
                                },
                                "runIndex": {
                                  "type": "number"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "AI Agent4": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Edit Fields6": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "lastNodeExecuted": {
              "type": "string"
            }
          }
        },
        "executionData": {
          "type": "object",
          "properties": {
            "contextData": {
              "type": "object",
              "properties": {}
            },
            "nodeExecutionStack": {
              "type": "array",
              "items": {}
            },
            "metadata": {
              "type": "object",
              "properties": {
                "Window Buffer Memory1": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "subRun": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "node": {
                              "type": "string"
                            },
                            "runIndex": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "node",
                            "runIndex"
                          ]
                        }
                      }
                    },
                    "required": [
                      "subRun"
                    ]
                  }
                },
                "OpenAI Chat Model3": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "subRun": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "node": {
                              "type": "string"
                            },
                            "runIndex": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "node",
                            "runIndex"
                          ]
                        }
                      }
                    },
                    "required": [
                      "subRun"
                    ]
                  }
                },
                "Structured Output Parser1": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "subRun": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "node": {
                              "type": "string"
                            },
                            "runIndex": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "node",
                            "runIndex"
                          ]
                        }
                      }
                    },
                    "required": [
                      "subRun"
                    ]
                  }
                },
                "OpenAI Chat Model2": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "subRun": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "node": {
                              "type": "string"
                            },
                            "runIndex": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "node",
                            "runIndex"
                          ]
                        }
                      }
                    },
                    "required": [
                      "subRun"
                    ]
                  }
                },
                "HTTP Request": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "subRun": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "node": {
                              "type": "string"
                            },
                            "runIndex": {
                              "type": "number"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "OpenAI Chat Model1": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "subRun": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "node": {
                              "type": "string"
                            },
                            "runIndex": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "node",
                            "runIndex"
                          ]
                        }
                      }
                    },
                    "required": [
                      "subRun"
                    ]
                  }
                },
                "Code Tool": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "subRun": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "node": {
                              "type": "string"
                            },
                            "runIndex": {
                              "type": "number"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "OpenAI Chat Model": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "subRun": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "node": {
                              "type": "string"
                            },
                            "runIndex": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "node",
                            "runIndex"
                          ]
                        }
                      }
                    },
                    "required": [
                      "subRun"
                    ]
                  }
                },
                "Search Wiki": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "subRun": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "node": {
                              "type": "string"
                            },
                            "runIndex": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "node",
                            "runIndex"
                          ]
                        }
                      }
                    },
                    "required": [
                      "subRun"
                    ]
                  }
                },
                "Structured Output Parser": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "subRun": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "node": {
                              "type": "string"
                            },
                            "runIndex": {
                              "type": "number"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "OpenAI Chat Model4": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "subRun": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "node": {
                              "type": "string"
                            },
                            "runIndex": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "node",
                            "runIndex"
                          ]
                        }
                      }
                    },
                    "required": [
                      "subRun"
                    ]
                  }
                },
                "Get Weather": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "subRun": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "node": {
                              "type": "string"
                            },
                            "runIndex": {
                              "type": "number"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Get Events": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "subRun": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "node": {
                              "type": "string"
                            },
                            "runIndex": {
                              "type": "number"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "waitingExecution": {
              "type": "object",
              "properties": {}
            },
            "waitingExecutionSource": {
              "type": "object",
              "properties": {}
            }
          }
        }
      }
    },
    "mode": {
      "type": "string"
    },
    "startedAt": {
      "type": "string"
    },
    "stoppedAt": {
      "type": "string"
    },
    "status": {
      "type": "string"
    },
    "finished": {
      "type": "boolean"
    }
  }
}