workflows/n8n-templates-sorted/Google/3110-Convert_Squarespace_Profiles_to_Shopify_Customers_in_Google_Sheets.json
{
  "workflow": {
    "id": 3110,
    "name": "Convert Squarespace Profiles to Shopify Customers in Google Sheets",
    "views": 161,
    "recentViews": 1,
    "totalViews": 161,
    "createdAt": "2025-03-09T02:45:58.976Z",
    "description": "This workflow converts an exported CSV from Squarespace profiles into a Shopify-compatible format for customer import.\n\n## How It Works\nClone this [Google Sheets template](https://docs.google.com/spreadsheets/d/1ZUP7RySMCjQUBAvlZhSE1rOul1FMVHvTSF0QexuV7mQ/edit?usp=sharing), which includes two sheets:\n\n#### Squarespace Profiles (Input)\n1. Go to **Squarespace Dashboard → Contacts**  \n2. Click the **three-dot icon** → Select **Export all Contacts**\n\n#### Shopify Customers (Output)\n- This sheet formats the data to match Shopify's customer import CSV.  \n- Shopify Dashboard → Customers → **Import customers by CSV**\n\nThe workflow can run **on-demand** or be **triggered via webhook**.\n\n### Via webhook\n1. Set up webhook node to expect a POST request\n2. Trigger the webhook using this code (psuedo) - replace {webhook-url} with the actual URL\n```\n    const formData = new FormData();\n    formData.append('file', blob, 'profiles_export.csv'); // Add file to FormData\n\n    fetch('{webhook-url}', { // Replace with your target URL\n      method: 'POST',\n      mode: 'no-cors',\n      body: formData\n    });\n```\n3. The data is processed into the Shopify Customers sheet.\n\n### Manually trigger\n1. Import Squarespace profiles into the sheet.\n2. Run the workflow to convert and populate the Shopify Customers sheet.\n\nOnce workflow is done, export the Shopify to csv and import to Shopify customers\n\n## Requirements\nTo use this template, you need:\n\n- Google Sheets API credentials\n\n### Google Sheets Setup\nUse this [sample Google Sheets template](https://docs.google.com/spreadsheets/d/1ZUP7RySMCjQUBAvlZhSE1rOul1FMVHvTSF0QexuV7mQ/edit?usp=sharing) to get started quickly.\n\n## Who Is This For?\nFor anyone looking to automate Squarespace contact exports into a Shopify-compatible format—no more manual conversion!\n\nExplore More Templates\nCheck out my other n8n templates:\n👉 [n8n.io/creators/bangank36](https://n8n.io/creators/bangank36/)",
    "workflow": {
      "id": "7Gw4IfHaVMDSj70o",
      "meta": {
        "instanceId": "e634e668fe1fc93a75c4f2a7fc0dad807ca318b79654157eadb9578496acbc76",
        "templateCredsSetupCompleted": true
      },
      "name": "Convert Squarespace Profiles to Shopify Customers in Google Sheets",
      "tags": [],
      "nodes": [
        {
          "id": "17b7e952-ba9b-4067-9c98-a69ea09f7e69",
          "name": "Webhook",
          "type": "n8n-nodes-base.webhook",
          "position": [
            -800,
            -420
          ],
          "webhookId": "e09976b5-7525-422b-9834-3bc6e1c4a1b6",
          "parameters": {
            "path": "submit-profiles",
            "options": {
              "allowedOrigins": "*"
            },
            "httpMethod": "POST"
          },
          "typeVersion": 2
        },
        {
          "id": "7e149be3-19da-4320-8910-40ef0900628a",
          "name": "Shopify Customers",
          "type": "n8n-nodes-base.googleSheets",
          "position": [
            420,
            -220
          ],
          "parameters": {
            "columns": {
              "value": {
                "Tags": "=n8n, squarespace, {{ $json['Last Order Date'] ? \"ground-control,\" : \"\" }}",
                "Email": "={{ $json.Email }}",
                "Phone": "={{ $json['Billing Phone Number'] }}",
                "Last Name": "={{ $json['Last Name'] }}",
                "First Name": "={{ $json['First Name'] }}",
                "Default Address Zip": "={{ $json['Billing Zip'] }}",
                "Default Address City": "={{ $json['Billing City'] }}",
                "Default Address Phone": "={{ $json['Billing Phone Number'] }}",
                "Accepts Email Marketing": "yes",
                "Default Address Company": "={{ $json['Billing Name'] }}",
                "Default Address Address1": "={{ $json['Billing Address 1'] }}",
                "Default Address Address2": "={{ $json['Billing Address 2'] }}",
                "Default Address Country Code": "={{ $json['Billing Country'] }}",
                "Default Address Province Code": "={{ $json['Billing Province/State'] }}"
              },
              "schema": [
                {
                  "id": "First Name",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "First Name",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Last Name",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Last Name",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Email",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "required": false,
                  "displayName": "Email",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Accepts Email Marketing",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Accepts Email Marketing",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Default Address Company",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Default Address Company",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Default Address Address1",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Default Address Address1",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Default Address Address2",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Default Address Address2",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Default Address City",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Default Address City",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Default Address Province Code",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Default Address Province Code",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Default Address Country Code",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Default Address Country Code",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Default Address Zip",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Default Address Zip",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Default Address Phone",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Default Address Phone",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Phone",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Phone",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Accepts SMS Marketing",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Accepts SMS Marketing",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Tags",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Tags",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Note",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Note",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Tax Exempt",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Tax Exempt",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                }
              ],
              "mappingMode": "defineBelow",
              "matchingColumns": [
                "Email"
              ],
              "attemptToConvertTypes": false,
              "convertFieldsToString": false
            },
            "options": {},
            "operation": "appendOrUpdate",
            "sheetName": {
              "__rl": true,
              "mode": "list",
              "value": 15798644,
              "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yf_RYZGFHpMyOvD3RKGSvIFY2vumvI4474Qm_1t4-jM/edit#gid=15798644",
              "cachedResultName": "shopify_template"
            },
            "documentId": {
              "__rl": true,
              "mode": "list",
              "value": "1yf_RYZGFHpMyOvD3RKGSvIFY2vumvI4474Qm_1t4-jM",
              "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yf_RYZGFHpMyOvD3RKGSvIFY2vumvI4474Qm_1t4-jM/edit?usp=drivesdk",
              "cachedResultName": "Make.com template"
            }
          },
          "credentials": {
            "googleSheetsOAuth2Api": {
              "id": "JgI9maibw5DnBXRP",
              "name": "Google Sheets account"
            }
          },
          "typeVersion": 4.5
        },
        {
          "id": "e04f9a9e-b699-4cf2-aa91-56e6bfa30faa",
          "name": "Read Squarespace profiles",
          "type": "n8n-nodes-base.googleSheets",
          "position": [
            -180,
            0
          ],
          "parameters": {
            "options": {},
            "sheetName": {
              "__rl": true,
              "mode": "list",
              "value": 144532755,
              "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yf_RYZGFHpMyOvD3RKGSvIFY2vumvI4474Qm_1t4-jM/edit#gid=144532755",
              "cachedResultName": "squarespace_profiles"
            },
            "documentId": {
              "__rl": true,
              "mode": "list",
              "value": "1yf_RYZGFHpMyOvD3RKGSvIFY2vumvI4474Qm_1t4-jM",
              "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yf_RYZGFHpMyOvD3RKGSvIFY2vumvI4474Qm_1t4-jM/edit?usp=drivesdk",
              "cachedResultName": "Squarespace automation"
            }
          },
          "credentials": {
            "googleSheetsOAuth2Api": {
              "id": "JgI9maibw5DnBXRP",
              "name": "Google Sheets account"
            }
          },
          "typeVersion": 4.5
        },
        {
          "id": "ffebc458-bd3c-4145-a5ef-1677815f210e",
          "name": "Append Squarespace profiles",
          "type": "n8n-nodes-base.googleSheets",
          "position": [
            -200,
            -420
          ],
          "parameters": {
            "columns": {
              "value": {
                "Email": "={{ $json.Email }}",
                "Last Name": "={{ $json['Last Name'] }}",
                "Created On": "={{ $json['Created On'] }}",
                "First Name": "={{ $json['First Name'] }}",
                "Billing Zip": "={{ $json['Billing Zip'] }}",
                "Order Count": "={{ $json['Order Count'] }}",
                "Total Spent": "={{ $json['Total Spent'] }}",
                "Billing City": "={{ $json['Billing City'] }}",
                "Billing Name": "={{ $json['Billing Name'] }}",
                "Shipping Zip": "={{ $json['Billing Zip'] }}",
                "Shipping City": "={{ $json['Billing City'] }}",
                "Shipping Name": "={{ $json['Billing Name'] }}",
                "Billing Country": "={{ $json['Billing Country'] }}",
                "Last Order Date": "={{ $json['Last Order Date'] }}",
                "Shipping Country": "={{ $json['Billing Country'] }}",
                "Subscriber Since": "={{ $json['Subscriber Since'] }}",
                "Billing Address 1": "={{ $json['Billing Address 1'] }}",
                "Billing Address 2": "={{ $json['Billing Address 2'] }}",
                "Subscriber Source": "={{ $json['Subscriber Source'] }}",
                "Shipping Address 1": "={{ $json['Billing Address 1'] }}",
                "Shipping Address 2": "={{ $json['Billing Address 2'] }}",
                "Billing Phone Number": "={{ $json['Billing Phone Number'] }}",
                "Shipping Phone Number": "={{ $json['Billing Phone Number'] }}",
                "Billing Province/State": "={{ $json['Billing Province/State'] }}",
                "Shipping Province/State": "={{ $json['Billing Province/State'] }}"
              },
              "schema": [
                {
                  "id": "Email",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "required": false,
                  "displayName": "Email",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "First Name",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "First Name",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Last Name",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Last Name",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Created On",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Created On",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Order Count",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Order Count",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Last Order Date",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Last Order Date",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Total Spent",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Total Spent",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Member Since",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Member Since",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Subscriber Since",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Subscriber Since",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Subscriber Source",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Subscriber Source",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Tags",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Tags",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Mailing Lists",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Mailing Lists",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Member Areas",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Member Areas",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Donation Count",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Donation Count",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Last Donation Date",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Last Donation Date",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Total Donation Amount",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Total Donation Amount",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Has Account",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Has Account",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Customer Since",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Customer Since",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Shipping Name",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Shipping Name",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Shipping Address 1",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Shipping Address 1",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Shipping Address 2",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Shipping Address 2",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Shipping City",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Shipping City",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Shipping Zip",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Shipping Zip",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Shipping Province/State",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Shipping Province/State",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Shipping Country",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Shipping Country",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Shipping Phone Number",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Shipping Phone Number",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Billing Name",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Billing Name",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Billing Address 1",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Billing Address 1",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Billing Address 2",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Billing Address 2",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Billing City",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Billing City",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Billing Zip",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Billing Zip",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Billing Province/State",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Billing Province/State",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Billing Country",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Billing Country",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Billing Phone Number",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Billing Phone Number",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Accepts Marketing",
                  "type": "string",
                  "display": true,
                  "required": false,
                  "displayName": "Accepts Marketing",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                }
              ],
              "mappingMode": "defineBelow",
              "matchingColumns": [
                "Email"
              ],
              "attemptToConvertTypes": false,
              "convertFieldsToString": false
            },
            "options": {},
            "operation": "appendOrUpdate",
            "sheetName": {
              "__rl": true,
              "mode": "list",
              "value": 144532755,
              "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yf_RYZGFHpMyOvD3RKGSvIFY2vumvI4474Qm_1t4-jM/edit#gid=144532755",
              "cachedResultName": "squarespace_profiles"
            },
            "documentId": {
              "__rl": true,
              "mode": "list",
              "value": "1yf_RYZGFHpMyOvD3RKGSvIFY2vumvI4474Qm_1t4-jM",
              "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yf_RYZGFHpMyOvD3RKGSvIFY2vumvI4474Qm_1t4-jM/edit?usp=drivesdk",
              "cachedResultName": "Squarespace automation"
            }
          },
          "credentials": {
            "googleSheetsOAuth2Api": {
              "id": "JgI9maibw5DnBXRP",
              "name": "Google Sheets account"
            }
          },
          "typeVersion": 4.5,
          "alwaysOutputData": true
        },
        {
          "id": "dc5cfb81-0d9b-47fb-a97a-fa20c673283b",
          "name": "Loop Over Items",
          "type": "n8n-nodes-base.splitInBatches",
          "position": [
            -360,
            -420
          ],
          "parameters": {
            "options": {},
            "batchSize": 1000
          },
          "typeVersion": 3
        },
        {
          "id": "b319cb05-6b8b-48cb-b7c9-4badee6bbf57",
          "name": "Sticky Note",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            -1240,
            -580
          ],
          "parameters": {
            "width": 340,
            "height": 280,
            "content": "## Convert Squarespace profiles\nConvert exported profile from Squarespace to compatible Shopify customers data in csv format\nSample Spreadsheet template\nhttps://docs.google.com/spreadsheets/d/1ZUP7RySMCjQUBAvlZhSE1rOul1FMVHvTSF0QexuV7mQ\n- Squarespace profiles\n- Shopify customers"
          },
          "typeVersion": 1
        },
        {
          "id": "8b9d6f85-af6e-43b8-a3f1-c63c7893e064",
          "name": "Extract items from webhook submission",
          "type": "n8n-nodes-base.extractFromFile",
          "position": [
            -580,
            -420
          ],
          "parameters": {
            "options": {},
            "binaryPropertyName": "file"
          },
          "typeVersion": 1
        },
        {
          "id": "ce82f958-081b-4a55-a0d1-8ffb69dee68b",
          "name": "Manual trigger",
          "type": "n8n-nodes-base.manualTrigger",
          "position": [
            -580,
            0
          ],
          "parameters": {},
          "typeVersion": 1
        }
      ],
      "active": true,
      "pinData": {},
      "settings": {
        "executionOrder": "v1"
      },
      "versionId": "05db75a8-16f8-4191-b60b-d515d062bef9",
      "connections": {
        "Webhook": {
          "main": [
            [
              {
                "node": "Extract items from webhook submission",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Manual trigger": {
          "main": [
            [
              {
                "node": "Read Squarespace profiles",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Loop Over Items": {
          "main": [
            [
              {
                "node": "Shopify Customers",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Append Squarespace profiles",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Read Squarespace profiles": {
          "main": [
            [
              {
                "node": "Shopify Customers",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Append Squarespace profiles": {
          "main": [
            [
              {
                "node": "Loop Over Items",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Extract items from webhook submission": {
          "main": [
            [
              {
                "node": "Loop Over Items",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      }
    },
    "lastUpdatedBy": 16,
    "workflowInfo": {
      "nodeCount": 8,
      "nodeTypes": {
        "n8n-nodes-base.webhook": {
          "count": 1
        },
        "n8n-nodes-base.stickyNote": {
          "count": 1
        },
        "n8n-nodes-base.googleSheets": {
          "count": 3
        },
        "n8n-nodes-base.manualTrigger": {
          "count": 1
        },
        "n8n-nodes-base.splitInBatches": {
          "count": 1
        },
        "n8n-nodes-base.extractFromFile": {
          "count": 1
        }
      }
    },
    "user": {
      "name": "bangank36",
      "username": "bangank36",
      "bio": "Automation specialist with 10+ years of experience helping SME website owners streamline their workflows—specializing in Squarespace, Shopify, and WordPress. Book an initial consultation for custom n8n automation using my link.",
      "verified": true,
      "links": [
        "https://beyondspace.studio"
      ],
      "avatar": "https://gravatar.com/avatar/499b5f6868bff3f56c51a6650bf87b946b25b2e17d353e3c9bbf5b34d2bd5bf4?r=pg&d=retro&size=200"
    },
    "nodes": [
      {
        "id": 18,
        "icon": "file:googleSheets.svg",
        "name": "n8n-nodes-base.googleSheets",
        "codex": {
          "data": {
            "alias": [
              "CSV",
              "Sheet",
              "Spreadsheet",
              "GS"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/love-at-first-sight-ricardos-n8n-journey/",
                  "icon": "❤️",
                  "label": "Love at first sight: Ricardo’s n8n journey"
                },
                {
                  "url": "https://n8n.io/blog/why-business-process-automation-with-n8n-can-change-your-daily-life/",
                  "icon": "🧬",
                  "label": "Why business process automation with n8n can change your daily life"
                },
                {
                  "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                  "icon": "🧾",
                  "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
                },
                {
                  "url": "https://n8n.io/blog/supercharging-your-conference-registration-process-with-n8n/",
                  "icon": "🎫",
                  "label": "Supercharging your conference registration process with n8n"
                },
                {
                  "url": "https://n8n.io/blog/creating-triggers-for-n8n-workflows-using-polling/",
                  "icon": "⏲",
                  "label": "Creating triggers for n8n workflows using polling"
                },
                {
                  "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                  "icon": "store",
                  "label": "6 e-commerce workflows to power up your Shopify s"
                },
                {
                  "url": "https://n8n.io/blog/migrating-community-metrics-to-orbit-using-n8n/",
                  "icon": "📈",
                  "label": "Migrating Community Metrics to Orbit using n8n"
                },
                {
                  "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                  "icon": "💡",
                  "label": "15 Google apps you can combine and automate to increase productivity"
                },
                {
                  "url": "https://n8n.io/blog/your-business-doesnt-need-you-to-operate/",
                  "icon": " 🖥️",
                  "label": "Hey founders! Your business doesn't need you to operate"
                },
                {
                  "url": "https://n8n.io/blog/how-honest-burgers-use-automation-to-save-100k-per-year/",
                  "icon": "🍔",
                  "label": "How Honest Burgers Use Automation to Save $100k per year"
                },
                {
                  "url": "https://n8n.io/blog/how-a-digital-strategist-uses-n8n-for-online-marketing/",
                  "icon": "💻",
                  "label": "How a digital strategist uses n8n for online marketing"
                },
                {
                  "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                  "icon": "🧠",
                  "label": "Why this Product Manager loves workflow automation with n8n"
                },
                {
                  "url": "https://n8n.io/blog/sending-automated-congratulations-with-google-sheets-twilio-and-n8n/",
                  "icon": "🙌",
                  "label": "Sending Automated Congratulations with Google Sheets, Twilio, and n8n "
                },
                {
                  "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                  "icon": "📈",
                  "label": "How a Membership Development Manager automates his work and investments"
                },
                {
                  "url": "https://n8n.io/blog/aws-workflow-automation/",
                  "label": "7 no-code workflow automations for Amazon Web Services"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googlesheets/"
                }
              ],
              "credentialDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/"
                }
              ]
            },
            "categories": [
              "Data & Storage",
              "Productivity"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0"
          }
        },
        "group": "[\"input\",\"output\"]",
        "defaults": {
          "name": "Google Sheets"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2MCIgaGVpZ2h0PSI2MCI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNS42OSAxIDUyIDE3LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0OC4yOTMgNjBIMTIuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDkgNTYuMzEyVjQuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTIuNzA3IDF6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM1LjY5IDEgNTIgMTcuMjI1SDM5LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzkuMjExIDE3LjIyNSA1MiAyMi40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTIwLjEyIDMxLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMS42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzEuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjxwYXRoIGZpbGw9IiMyOEI0NDYiIGQ9Ik0zNC42OSAwIDUxIDE2LjIyNXYzOS4wODdhMy42NyAzLjY3IDAgMCAxLTEuMDg0IDIuNjFBMy43IDMuNyAwIDAgMSA0Ny4yOTMgNTlIMTEuNzA3YTMuNyAzLjcgMCAwIDEtMi42MjMtMS4wNzhBMy42NyAzLjY3IDAgMCAxIDggNTUuMzEyVjMuNjg4YTMuNjcgMy42NyAwIDAgMSAxLjA4NC0yLjYxQTMuNyAzLjcgMCAwIDEgMTEuNzA3IDB6Ii8+PHBhdGggZmlsbD0iIzZBQ0U3QyIgZD0iTTM0LjY5IDAgNTEgMTYuMjI1SDM4LjM5N2MtMi4wNTQgMC0zLjcwNy0xLjgyOS0zLjcwNy0zLjg3MnoiLz48cGF0aCBmaWxsPSIjMjE5QjM4IiBkPSJNMzguMjExIDE2LjIyNSA1MSAyMS40OHYtNS4yNTV6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTE5LjEyIDMwLjk3NWMwLS44MTcuNjYyLTEuNDc1IDEuNDgzLTEuNDc1aDE3Ljc5NGMuODIxIDAgMS40ODIuNjU4IDEuNDgyIDEuNDc1djE1LjQ4N2MwIC44MTgtLjY2MSAxLjQ3NS0xLjQ4MiAxLjQ3NUgyMC42MDNhMS40NzYgMS40NzYgMCAwIDEtMS40ODItMS40NzRWMzAuOTc0em0yLjIyNSAxLjQ3NWg2LjY3MnYyLjIxMmgtNi42NzJ6bTAgNS4xNjJoNi42NzJ2Mi4yMTNoLTYuNjcyem0wIDUuMTYzaDYuNjcydjIuMjEyaC02LjY3MnptOS42MzgtMTAuMzI1aDYuNjcydjIuMjEyaC02LjY3MnptMCA1LjE2Mmg2LjY3MnYyLjIxM2gtNi42NzJ6bTAgNS4xNjNoNi42NzJ2Mi4yMTJoLTYuNjcyeiIvPjwvZz48L3N2Zz4="
        },
        "displayName": "Google Sheets",
        "typeVersion": 5,
        "nodeCategories": [
          {
            "id": 3,
            "name": "Data & Storage"
          },
          {
            "id": 4,
            "name": "Productivity"
          }
        ]
      },
      {
        "id": 39,
        "icon": "fa:sync",
        "name": "n8n-nodes-base.splitInBatches",
        "codex": {
          "data": {
            "alias": [
              "Loop",
              "Concatenate",
              "Batch",
              "Split",
              "Split In Batches"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                  "icon": " 🕸️",
                  "label": "How uProc scraped a multi-page website with a low-code workflow"
                },
                {
                  "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                  "icon": "🎖",
                  "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.splitinbatches/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Flow"
              ]
            }
          }
        },
        "group": "[\"organization\"]",
        "defaults": {
          "name": "Loop Over Items",
          "color": "#007755"
        },
        "iconData": {
          "icon": "sync",
          "type": "icon"
        },
        "displayName": "Loop Over Items (Split in Batches)",
        "typeVersion": 3,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 47,
        "icon": "file:webhook.svg",
        "name": "n8n-nodes-base.webhook",
        "codex": {
          "data": {
            "alias": [
              "HTTP",
              "API",
              "Build",
              "WH"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/learn-how-to-automatically-cross-post-your-content-with-n8n/",
                  "icon": "✍️",
                  "label": "Learn how to automatically cross-post your content with n8n"
                },
                {
                  "url": "https://n8n.io/blog/running-n8n-on-ships-an-interview-with-maranics/",
                  "icon": "🛳",
                  "label": "Running n8n on ships: An interview with Maranics"
                },
                {
                  "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                  "icon": "🔗",
                  "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
                },
                {
                  "url": "https://n8n.io/blog/what-are-apis-how-to-use-them-with-no-code/",
                  "icon": " 🪢",
                  "label": "What are APIs and how to use them with no code"
                },
                {
                  "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                  "icon": "⚡️",
                  "label": "5 tasks you can automate with the new Notion API "
                },
                {
                  "url": "https://n8n.io/blog/how-a-digital-strategist-uses-n8n-for-online-marketing/",
                  "icon": "💻",
                  "label": "How a digital strategist uses n8n for online marketing"
                },
                {
                  "url": "https://n8n.io/blog/the-ultimate-guide-to-automate-your-video-collaboration-with-whereby-mattermost-and-n8n/",
                  "icon": "📹",
                  "label": "The ultimate guide to automate your video collaboration with Whereby, Mattermost, and n8n"
                },
                {
                  "url": "https://n8n.io/blog/how-to-automatically-give-kudos-to-contributors-with-github-slack-and-n8n/",
                  "icon": "👏",
                  "label": "How to automatically give kudos to contributors with GitHub, Slack, and n8n"
                },
                {
                  "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                  "icon": "🤖",
                  "label": "5 workflow automations for Mattermost that we love at n8n"
                },
                {
                  "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                  "icon": "🧠",
                  "label": "Why this Product Manager loves workflow automation with n8n"
                },
                {
                  "url": "https://n8n.io/blog/creating-custom-incident-response-workflows-with-n8n/",
                  "label": "How to automate every step of an incident response workflow"
                },
                {
                  "url": "https://n8n.io/blog/learn-to-build-powerful-api-endpoints-using-webhooks/",
                  "icon": "🧰",
                  "label": "Learn to Build Powerful API Endpoints Using Webhooks"
                },
                {
                  "url": "https://n8n.io/blog/learn-how-to-use-webhooks-with-mattermost-slash-commands/",
                  "icon": "🦄",
                  "label": "Learn how to use webhooks with Mattermost slash commands"
                },
                {
                  "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                  "icon": "🛵",
                  "label": "How Goomer automated their operations with over 200 n8n workflows"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.webhook/"
                }
              ]
            },
            "categories": [
              "Development",
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Helpers"
              ]
            }
          }
        },
        "group": "[\"trigger\"]",
        "defaults": {
          "name": "Webhook"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCI+PHBhdGggZmlsbD0iIzM3NDc0ZiIgZD0iTTM1IDM3Yy0yLjIgMC00LTEuOC00LTRzMS44LTQgNC00IDQgMS44IDQgNC0xLjggNC00IDQiLz48cGF0aCBmaWxsPSIjMzc0NzRmIiBkPSJNMzUgNDNjLTMgMC01LjktMS40LTcuOC0zLjdsMy4xLTIuNWMxLjEgMS40IDIuOSAyLjMgNC43IDIuMyAzLjMgMCA2LTIuNyA2LTZzLTIuNy02LTYtNmMtMSAwLTIgLjMtMi45LjdsLTEuNyAxTDIzLjMgMTZsMy41LTEuOSA1LjMgOS40YzEtLjMgMi0uNSAzLS41IDUuNSAwIDEwIDQuNSAxMCAxMFM0MC41IDQzIDM1IDQzIi8+PHBhdGggZmlsbD0iIzM3NDc0ZiIgZD0iTTE0IDQzQzguNSA0MyA0IDM4LjUgNCAzM2MwLTQuNiAzLjEtOC41IDcuNS05LjdsMSAzLjlDOS45IDI3LjkgOCAzMC4zIDggMzNjMCAzLjMgMi43IDYgNiA2czYtMi43IDYtNnYtMmgxNXY0SDIzLjhjLS45IDQuNi01IDgtOS44IDgiLz48cGF0aCBmaWxsPSIjZTkxZTYzIiBkPSJNMTQgMzdjLTIuMiAwLTQtMS44LTQtNHMxLjgtNCA0LTQgNCAxLjggNCA0LTEuOCA0LTQgNCIvPjxwYXRoIGZpbGw9IiMzNzQ3NGYiIGQ9Ik0yNSAxOWMtMi4yIDAtNC0xLjgtNC00czEuOC00IDQtNCA0IDEuOCA0IDQtMS44IDQtNCA0Ii8+PHBhdGggZmlsbD0iI2U5MWU2MyIgZD0ibTE1LjcgMzQtMy40LTIgNS45LTkuN2MtMi0xLjktMy4yLTQuNS0zLjItNy4zIDAtNS41IDQuNS0xMCAxMC0xMHMxMCA0LjUgMTAgMTBjMCAuOS0uMSAxLjctLjMgMi41bC0zLjktMWMuMS0uNS4yLTEgLjItMS41IDAtMy4zLTIuNy02LTYtNnMtNiAyLjctNiA2YzAgMi4xIDEuMSA0IDIuOSA1LjFsMS43IDF6Ii8+PC9zdmc+"
        },
        "displayName": "Webhook",
        "typeVersion": 2,
        "nodeCategories": [
          {
            "id": 5,
            "name": "Development"
          },
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 565,
        "icon": "fa:sticky-note",
        "name": "n8n-nodes-base.stickyNote",
        "codex": {
          "data": {
            "alias": [
              "Comments",
              "Notes",
              "Sticky"
            ],
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Helpers"
              ]
            }
          }
        },
        "group": "[\"input\"]",
        "defaults": {
          "name": "Sticky Note",
          "color": "#FFD233"
        },
        "iconData": {
          "icon": "sticky-note",
          "type": "icon"
        },
        "displayName": "Sticky Note",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 838,
        "icon": "fa:mouse-pointer",
        "name": "n8n-nodes-base.manualTrigger",
        "codex": {
          "data": {
            "resources": {
              "generic": [],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.manualworkflowtrigger/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0"
          }
        },
        "group": "[\"trigger\"]",
        "defaults": {
          "name": "When clicking ‘Test workflow’",
          "color": "#909298"
        },
        "iconData": {
          "icon": "mouse-pointer",
          "type": "icon"
        },
        "displayName": "Manual Trigger",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 1235,
        "icon": "file:extractFromFile.svg",
        "name": "n8n-nodes-base.extractFromFile",
        "codex": {
          "data": {
            "alias": [
              "CSV",
              "Spreadsheet",
              "Excel",
              "xls",
              "xlsx",
              "ods",
              "tabular",
              "decode",
              "decoding",
              "Move Binary Data",
              "Binary",
              "File",
              "PDF",
              "JSON",
              "HTML",
              "ICS",
              "iCal",
              "txt",
              "Text",
              "RTF",
              "XML",
              "64",
              "Base64",
              "Convert"
            ],
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.extractfromfile/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Files",
                "Data Transformation"
              ]
            }
          }
        },
        "group": "[\"input\"]",
        "defaults": {
          "name": "Extract from File"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAuOTM3NSAyQzAuNDE5NzMzIDIgMCAyLjQxOTczIDAgMi45Mzc1VjM3LjMyMjFDMCAzNy44Mzk5IDAuNDE5NzMzIDM4LjI1OTYgMC45Mzc1IDM4LjI1OTZIMjYuMjE1NEMyNi43MzMyIDM4LjI1OTYgMjcuMTUyOSAzNy44Mzk5IDI3LjE1MjkgMzcuMzIyMUwyNy4xNTI5IDMwLjY3MTlMMTYuNzk2OSAzMC42NzE5QzE0Ljg5ODQgMzAuNjcxOSAxMy4zNTk0IDI5LjEzMjkgMTMuMzU5NCAyNy4yMzQ0VjI1LjM1OTRDMTMuMzU5NCAyMy40NjA5IDE0Ljg5ODQgMjEuOTIxOSAxNi43OTY5IDIxLjkyMTlIMjcuMTUyOUwyNy4xNTI5IDE1Ljc4MjFIMTQuMzA4M0MxMy43OTA2IDE1Ljc4MjEgMTMuMzcwOCAxNS4zNjI0IDEzLjM3MDggMTQuODQ0NlYySDAuOTM3NVoiIGZpbGw9IiMzNTNGNkUiLz4KPHBhdGggZD0iTTE2LjAyNzEgMkMxNS45NDA4IDIgMTUuODcwOCAyLjA2OTk2IDE1Ljg3MDggMi4xNTYyNVYxMi44MTM0QzE1Ljg3MDggMTMuMDcyMyAxNi4wODA3IDEzLjI4MjEgMTYuMzM5NiAxMy4yODIxSDI2Ljk5NjdDMjcuMDgzIDEzLjI4MjEgMjcuMTUyOSAxMy4yMTIyIDI3LjE1MjkgMTMuMTI1OUwyNy4xNTI5IDEyLjYxNzFDMjcuMTUyOSAxMi4zNjg4IDI3LjA1NDUgMTIuMTMwNyAyNi44NzkxIDExLjk1NUwxNy4yMjI1IDIuMjc1MzhDMTcuMDQ2NiAyLjA5OTA4IDE2LjgwNzkgMiAxNi41NTg4IDJIMTYuMDI3MVoiIGZpbGw9IiMzNTNGNkUiLz4KPHBhdGggZD0iTTI5Ljc2NDIgMzQuNjUwM0MyOS4wMzQgMzMuOTE2IDI5LjAzNzQgMzIuNzI4OCAyOS43NzE2IDMxLjk5ODZMMzMuNjE5NyAyOC4xNzE5TDE2Ljc5NjkgMjguMTcxOUMxNi4yNzkxIDI4LjE3MTkgMTUuODU5NCAyNy43NTIxIDE1Ljg1OTQgMjcuMjM0NFYyNS4zNTk0QzE1Ljg1OTQgMjQuODQxNiAxNi4yNzkxIDI0LjQyMTkgMTYuNzk2OSAyNC40MjE5TDMzLjU0MTIgMjQuNDIxOUwyOS43NzE2IDIwLjY3MzNDMjkuMDM3NCAxOS45NDMxIDI5LjAzNCAxOC43NTU5IDI5Ljc2NDIgMTguMDIxNkMzMC40OTQ0IDE3LjI4NzQgMzEuNjgxNiAxNy4yODQgMzIuNDE1OSAxOC4wMTQyTDM5LjQ0NzEgMjUuMDA2NEMzOS44MDEgMjUuMzU4MyA0MCAyNS44MzY4IDQwIDI2LjMzNTlDNDAgMjYuODM1IDM5LjgwMSAyNy4zMTM1IDM5LjQ0NzEgMjcuNjY1NUwzMi40MTU5IDM0LjY1NzZDMzEuNjgxNiAzNS4zODc4IDMwLjQ5NDQgMzUuMzg0NSAyOS43NjQyIDM0LjY1MDNaIiBmaWxsPSIjMzUzRjZFIi8+Cjwvc3ZnPgo="
        },
        "displayName": "Extract from File",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      }
    ],
    "categories": [
      {
        "id": 2,
        "name": "Sales"
      },
      {
        "id": 27,
        "name": "Marketing"
      }
    ],
    "image": []
  }
}