packages/testing/playwright/tests/cli-workflows/workflow-tests.spec.ts-snapshots/workflow-15-schema-mode-workflows.snap
{
  "$schema": "http://json-schema.org/draft-04/schema#",
  "type": "object",
  "properties": {
    "data": {
      "type": "object",
      "properties": {
        "startData": {
          "type": "object",
          "properties": {}
        },
        "resultData": {
          "type": "object",
          "properties": {
            "runData": {
              "type": "object",
              "properties": {
                "Start": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {}
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Dropbox8": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Read Binary File": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Sleep 0.8 seconds": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Dropbox": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Sleep 0.8 seconds1": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Dropbox2": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Dropbox3": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Dropbox5": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Sleep 0.8 seconds2": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Sleep 0.8 seconds3": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Dropbox4": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Dropbox6": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Sleep 0.8 seconds6": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Dropbox10": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Sleep 0.8 seconds5": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Dropbox9": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Sleep 0.8 seconds4": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Dropbox11": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "lastNodeExecuted": {
              "type": "string"
            }
          }
        },
        "executionData": {
          "type": "object",
          "properties": {
            "contextData": {
              "type": "object",
              "properties": {}
            },
            "nodeExecutionStack": {
              "type": "array",
              "items": {}
            },
            "metadata": {
              "type": "object",
              "properties": {}
            },
            "waitingExecution": {
              "type": "object",
              "properties": {}
            },
            "waitingExecutionSource": {
              "type": "object",
              "properties": {}
            }
          }
        }
      }
    },
    "mode": {
      "type": "string"
    },
    "startedAt": {
      "type": "string"
    },
    "stoppedAt": {
      "type": "string"
    },
    "status": {
      "type": "string"
    },
    "finished": {
      "type": "boolean"
    }
  }
}