packages/testing/playwright/tests/cli-workflows/workflow-tests.spec.ts-snapshots/workflow-19-schema-mode-workflows.snap
{
  "$schema": "http://json-schema.org/draft-04/schema#",
  "type": "object",
  "properties": {
    "data": {
      "type": "object",
      "properties": {
        "startData": {
          "type": "object",
          "properties": {}
        },
        "resultData": {
          "type": "object",
          "properties": {
            "runData": {
              "type": "object",
              "properties": {
                "Start": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {}
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Sentry.io": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Sentry.io3": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Sentry.io22": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Sentry.io1": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Sentry.io4": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Sentry.io6": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Sentry.io18": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Sentry.io16": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Sentry.io7": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Sentry.io2": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Sentry.io5": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Sentry.io19": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Sentry.io17": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Sentry.io13": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Sentry.io14": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Sentry.io15": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Sentry.io20": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Sentry.io21": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Sentry.io23": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "lastNodeExecuted": {
              "type": "string"
            }
          }
        },
        "executionData": {
          "type": "object",
          "properties": {
            "contextData": {
              "type": "object",
              "properties": {}
            },
            "nodeExecutionStack": {
              "type": "array",
              "items": {}
            },
            "metadata": {
              "type": "object",
              "properties": {}
            },
            "waitingExecution": {
              "type": "object",
              "properties": {}
            },
            "waitingExecutionSource": {
              "type": "object",
              "properties": {}
            }
          }
        }
      }
    },
    "mode": {
      "type": "string"
    },
    "startedAt": {
      "type": "string"
    },
    "stoppedAt": {
      "type": "string"
    },
    "status": {
      "type": "string"
    },
    "finished": {
      "type": "boolean"
    }
  }
}