packages/testing/playwright/tests/cli-workflows/workflow-tests.spec.ts-snapshots/workflow-259-schema-mode-workflows.snap
{
  "$schema": "http://json-schema.org/draft-04/schema#",
  "type": "object",
  "properties": {
    "data": {
      "type": "object",
      "properties": {
        "startData": {
          "type": "object",
          "properties": {}
        },
        "resultData": {
          "type": "object",
          "properties": {
            "runData": {
              "type": "object",
              "properties": {
                "When clicking \"Test workflow\"": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {}
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Code": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string"
                            },
                            "location": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Default Data Loader2": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            },
                            "previousNodeRun": {
                              "type": "number"
                            }
                          }
                        }
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "ai_document": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "inputOverride": {
                        "type": "object",
                        "properties": {
                          "ai_document": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {
                          "subRun": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "node": {
                                  "type": "string"
                                },
                                "runIndex": {
                                  "type": "number"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Token Splitter2": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            },
                            "previousNodeRun": {
                              "type": "number"
                            }
                          }
                        }
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "ai_textSplitter": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "inputOverride": {
                        "type": "object",
                        "properties": {
                          "ai_textSplitter": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {
                          "subRun": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "node": {
                                  "type": "string"
                                },
                                "runIndex": {
                                  "type": "number"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Embeddings OpenAI6": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            },
                            "previousNodeRun": {
                              "type": "number"
                            }
                          }
                        }
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "ai_embedding": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "inputOverride": {
                        "type": "object",
                        "properties": {
                          "ai_embedding": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {
                          "subRun": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "node": {
                                  "type": "string"
                                },
                                "runIndex": {
                                  "type": "number"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "In-Memory Vector Store": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Check Vector Store Populated2": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Vector Store Retriever2": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            },
                            "previousNodeRun": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "previousNode",
                            "previousNodeRun"
                          ]
                        }
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "ai_retriever": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "inputOverride": {
                        "type": "object",
                        "properties": {
                          "ai_retriever": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {
                          "subRun": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "node": {
                                  "type": "string"
                                },
                                "runIndex": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "node",
                                "runIndex"
                              ]
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "startTime",
                      "executionTime",
                      "executionIndex",
                      "executionStatus",
                      "source",
                      "data",
                      "inputOverride",
                      "metadata"
                    ]
                  }
                },
                "In-Memory Vector Store2": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            },
                            "previousNodeRun": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "previousNode",
                            "previousNodeRun"
                          ]
                        }
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "ai_vectorStore": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "inputOverride": {
                        "type": "object",
                        "properties": {
                          "ai_vectorStore": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {
                          "subRun": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "node": {
                                  "type": "string"
                                },
                                "runIndex": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "node",
                                "runIndex"
                              ]
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "startTime",
                      "executionTime",
                      "executionIndex",
                      "executionStatus",
                      "source",
                      "data",
                      "inputOverride",
                      "metadata"
                    ]
                  }
                },
                "Embeddings OpenAI7": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            },
                            "previousNodeRun": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "previousNode",
                            "previousNodeRun"
                          ]
                        }
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "ai_embedding": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "inputOverride": {
                        "type": "object",
                        "properties": {
                          "ai_embedding": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {
                          "subRun": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "node": {
                                  "type": "string"
                                },
                                "runIndex": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "node",
                                "runIndex"
                              ]
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "startTime",
                      "executionTime",
                      "executionIndex",
                      "executionStatus",
                      "source",
                      "data",
                      "inputOverride",
                      "metadata"
                    ]
                  }
                },
                "OpenAI Chat Model2": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            },
                            "previousNodeRun": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "previousNode",
                            "previousNodeRun"
                          ]
                        }
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "ai_languageModel": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "inputOverride": {
                        "type": "object",
                        "properties": {
                          "ai_languageModel": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {
                          "subRun": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "node": {
                                  "type": "string"
                                },
                                "runIndex": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "node",
                                "runIndex"
                              ]
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "startTime",
                      "executionTime",
                      "executionIndex",
                      "executionStatus",
                      "source",
                      "data",
                      "inputOverride",
                      "metadata"
                    ]
                  }
                },
                "Question and Answer Chain 1.3": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Question and Answer Chain 1.4": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Question and Answer Chain 1.5": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Merge": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "previousNode"
                          ]
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Edit Fields2": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startTime": {
                        "type": "number"
                      },
                      "executionIndex": {
                        "type": "number"
                      },
                      "source": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "previousNode": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "hints": {
                        "type": "array",
                        "items": {}
                      },
                      "executionTime": {
                        "type": "number"
                      },
                      "executionStatus": {
                        "type": "string"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "main": {
                            "type": "array",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "lastNodeExecuted": {
              "type": "string"
            }
          }
        },
        "executionData": {
          "type": "object",
          "properties": {
            "contextData": {
              "type": "object",
              "properties": {}
            },
            "nodeExecutionStack": {
              "type": "array",
              "items": {}
            },
            "metadata": {
              "type": "object",
              "properties": {
                "Token Splitter2": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "subRun": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "node": {
                              "type": "string"
                            },
                            "runIndex": {
                              "type": "number"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Default Data Loader2": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "subRun": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "node": {
                              "type": "string"
                            },
                            "runIndex": {
                              "type": "number"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Embeddings OpenAI6": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "subRun": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "node": {
                              "type": "string"
                            },
                            "runIndex": {
                              "type": "number"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Embeddings OpenAI7": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "subRun": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "node": {
                              "type": "string"
                            },
                            "runIndex": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "node",
                            "runIndex"
                          ]
                        }
                      }
                    },
                    "required": [
                      "subRun"
                    ]
                  }
                },
                "In-Memory Vector Store2": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "subRun": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "node": {
                              "type": "string"
                            },
                            "runIndex": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "node",
                            "runIndex"
                          ]
                        }
                      }
                    },
                    "required": [
                      "subRun"
                    ]
                  }
                },
                "Vector Store Retriever2": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "subRun": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "node": {
                              "type": "string"
                            },
                            "runIndex": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "node",
                            "runIndex"
                          ]
                        }
                      }
                    },
                    "required": [
                      "subRun"
                    ]
                  }
                },
                "OpenAI Chat Model2": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "subRun": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "node": {
                              "type": "string"
                            },
                            "runIndex": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "node",
                            "runIndex"
                          ]
                        }
                      }
                    },
                    "required": [
                      "subRun"
                    ]
                  }
                }
              }
            },
            "waitingExecution": {
              "type": "object",
              "properties": {}
            },
            "waitingExecutionSource": {
              "type": "object",
              "properties": {}
            }
          }
        }
      }
    },
    "mode": {
      "type": "string"
    },
    "startedAt": {
      "type": "string"
    },
    "stoppedAt": {
      "type": "string"
    },
    "status": {
      "type": "string"
    },
    "finished": {
      "type": "boolean"
    }
  }
}