workflows/n8n-templates-sorted/AI/2817-AI_Social_Media_Caption_Creator_creates_social_media_post_captions_in_Airtable.json
{
  "workflow": {
    "id": 2817,
    "name": "AI Social Media Caption Creator creates social media post captions in Airtable",
    "views": 2982,
    "recentViews": 4,
    "totalViews": 2982,
    "createdAt": "2025-01-29T08:07:40.999Z",
    "description": "# Welcome to my **AI Social Media Caption Creator** Workflow!\n\n## What this workflow does\nThis workflow automatically creates a social media post caption in an editorial plan in Airtable. It also uses background information on the target group, tonality, etc. stored in Airtable.\n\n## This workflow has the following sequence:\n\n1. Airtable trigger (scan for new records every minute)\n2. Wait 1 Minute so the Airtable record creator has time to write the Briefing field\n3. retrieval of Airtable record data\n4. AI Agent to write a caption for a social media post. The agent is instructed to use background information stored in Airtable (such as target group, tonality, etc.) to create the post.\n5. Format the output and assign it to the correct field in Airtable.\n6. Post the caption into Airtable record.\n\n## Requirements\n- Airtable Database: [Documentation](https://docs.n8n.io/integrations/builtin/credentials/airtable)\n- AI API access (e.g. via OpenAI, Anthropic, Google or Ollama)\n\n### Example of an editorial plan in Airtable:\n[Editorial Plan example in Airtable](https://airtable.com/appIXeIkDPjQefHXN/shrwcY45g48RpcvvC)\n\nFor this workflow you need the Airtable fields \"created_at\", \"Briefing\" and \"SoMe_Text_AI\"\n\n**Feel free to [contact me via LinkedIn](https://www.linkedin.com/in/friedemann-schuetz), if you have any questions!**",
    "workflow": {
      "id": "V8ypWn7oaOVS3zH0",
      "meta": {
        "instanceId": "1acdaec6c8e84424b4715cf41a9f7ec057947452db21cd2e22afbc454c8711cd",
        "templateCredsSetupCompleted": true
      },
      "name": "AI Social Media Caption Creator",
      "tags": [],
      "nodes": [
        {
          "id": "12d0470e-1030-47c4-8bd0-890d5b3a5976",
          "name": "AI Agent",
          "type": "@n8n/n8n-nodes-langchain.agent",
          "position": [
            120,
            -120
          ],
          "parameters": {
            "text": "={{ $json['Briefing'] }}",
            "options": {
              "systemMessage": "=<system_prompt>  \nYOU ARE AN EXPERT CAPTION CREATOR AGENT FOR INSTAGRAM, DESIGNED FOR USE IN N8N WORKFLOWS. YOUR TASK IS TO CREATE A CREATIVE, TARGET AUDIENCE-ORIENTED, AND MEMORABLE CAPTION BASED ON THE BRIEFING: `{{ $json['Briefing'] }}`. YOU SHOULD RETRIEVE ADDITIONAL INFORMATION ABOUT THE TARGET AUDIENCE AND PREFERRED WORDING USING THE TOOL \"BACKGROUND INFO\" TO MAXIMIZE THE QUALITY AND RELEVANCE OF THE CAPTION.  \n\n###INSTRUCTIONS###  \n\n- YOU MUST:  \n  1. READ AND UNDERSTAND THE BRIEFING CAREFULLY.  \n  2. RETRIEVE ADDITIONAL DATA ABOUT THE TARGET AUDIENCE AND COMMUNICATION STYLE USING THE \"BACKGROUND INFO\" TOOL.  \n  3. CREATE A CAPTION THAT IS CREATIVE, ENGAGING, AND TAILORED TO THE TARGET AUDIENCE.  \n  4. ENSURE THAT THE CAPTION INCLUDES A CLEAR CALL-TO-ACTION (CTA) THAT ENCOURAGES USERS TO TAKE ACTION (E.G., LIKE, COMMENT, OR CLICK).  \n  5. OUTPUT ONLY THE FINAL CAPTION WITHOUT ANY ACCOMPANYING EXPLANATIONS, FEEDBACK, OR COMMENTS.  \n\n###CHAIN OF THOUGHTS###  \n\n1. **UNDERSTANDING THE BRIEFING**:  \n   - THOROUGHLY READ THE BRIEFING PROVIDED UNDER `{{ $json['Briefing/Notizen'] }}`.  \n   - IDENTIFY THE MAIN FOCUS OF THE POST (E.G., PRODUCT PROMOTION, INSPIRATION, INFORMATION). \n   - NOTE THE KEY THEMES, MOOD, AND DESIRED IMPACT.  \n\n2. **TARGET AUDIENCE ANALYSIS**:  \n   - USE THE \"BACKGROUND INFO\" TOOL TO:  \n     - RETRIEVE THE TARGET AUDIENCE'S AGE, INTERESTS, AND NEEDS.  \n     - DEFINE THE APPROPRIATE TONE (FRIENDLY, PROFESSIONAL, INSPIRATIONAL, ETC.).  \n\n3. **CREATIVE CAPTION DEVELOPMENT**:  \n   - DEVELOP AN OPENING SENTENCE THAT GRABS THE TARGET AUDIENCE'S ATTENTION.  \n   - WRITE A BODY THAT CONVEYS THE CORE MESSAGE OF THE POST AND RESONATES WITH THE TARGET AUDIENCE.  \n   - ADD AN INVITING CTA (E.G., \"What do you think? Share your thoughts in the comments!\" OR \"Click the link in our bio!\").  \n\n4. **FINALIZATION**:  \n   - CHECK THE CAPTION FOR CLARITY, CONSISTENCY, AND GRAMMAR.  \n   - ENSURE THAT IT ALIGNS WITH THE TARGET AUDIENCE AND THE IDENTIFIED TONE.  \n   - MAXIMIZE CREATIVITY AND ENTERTAINMENT VALUE WITHOUT LOSING THE ESSENTIAL MESSAGE.  \n\n5. **OUTPUT**:  \n   - OUTPUT ONLY THE FINAL CAPTION WITHOUT ANY ACCOMPANYING COMMENTS, FEEDBACK, OR EXPLANATIONS.  \n\n###WHAT NOT TO DO###  \n\n- **DO NOT OUTPUT ANY ACCOMPANYING TEXTS, EXPLANATIONS, OR FEEDBACK** ABOUT THE CAPTION.  \n- **DO NOT WORK WITHOUT PRIOR TARGET AUDIENCE ANALYSIS**.  \n- **DO NOT USE CLICHÉ PHRASES** THAT HAVE NO RELEVANCE TO THE TARGET AUDIENCE.  \n- **DO NOT ALLOW ANY SPELLING OR GRAMMATICAL ERRORS**.  \n\n</system_prompt>\n"
            },
            "promptType": "define"
          },
          "typeVersion": 1.7
        },
        {
          "id": "3a6fcc4e-46ed-4f80-a9ce-f955e3d47222",
          "name": "OpenAI Chat Model",
          "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
          "position": [
            80,
            100
          ],
          "parameters": {
            "model": "gpt-4o",
            "options": {}
          },
          "credentials": {
            "openAiApi": {
              "id": "EjchNb5GBqYh0Cqn",
              "name": "OpenAi account"
            }
          },
          "typeVersion": 1.1
        },
        {
          "id": "1a8b6f44-b9cf-4c80-ac5d-358d7cf61404",
          "name": "Window Buffer Memory",
          "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
          "position": [
            220,
            100
          ],
          "parameters": {
            "sessionKey": "={{ $json.id }}",
            "sessionIdType": "customKey"
          },
          "typeVersion": 1.3
        },
        {
          "id": "a4972690-5fa5-48bd-b5fd-b1899076b6c0",
          "name": "Get Airtable Record Data",
          "type": "n8n-nodes-base.airtable",
          "position": [
            -40,
            -120
          ],
          "parameters": {
            "id": "={{ $json.id }}",
            "base": {
              "__rl": true,
              "mode": "list",
              "value": "appXvZviYORVbPEaS",
              "cachedResultUrl": "https://airtable.com/appXvZviYORVbPEaS",
              "cachedResultName": "Redaktionsplan 2025 - E&P Reisen"
            },
            "table": {
              "__rl": true,
              "mode": "list",
              "value": "tbllbO3DyTNie9Pga",
              "cachedResultUrl": "https://airtable.com/appLe3fQHeaRN7kWG/tbllbO3DyTNie9Pga",
              "cachedResultName": "Redaktionsplanung"
            },
            "options": {}
          },
          "credentials": {
            "airtableTokenApi": {
              "id": "pMphGrxsDsELetHZ",
              "name": "Airtable account"
            }
          },
          "typeVersion": 2.1
        },
        {
          "id": "27519b09-7ce7-4a8b-abe7-dc630eea24b0",
          "name": "Wait 1 Minute",
          "type": "n8n-nodes-base.wait",
          "position": [
            -200,
            -120
          ],
          "webhookId": "757986ac-2e3f-4a5b-993d-b53b8ae12258",
          "parameters": {
            "unit": "minutes",
            "amount": 1
          },
          "typeVersion": 1.1
        },
        {
          "id": "b9e7c19a-e468-4f83-b1a4-2013af36caa0",
          "name": "Format Fields",
          "type": "n8n-nodes-base.set",
          "position": [
            440,
            -120
          ],
          "parameters": {
            "options": {},
            "assignments": {
              "assignments": [
                {
                  "id": "c7243724-463f-4732-8866-efdf19837f17",
                  "name": "SoMe Text",
                  "type": "string",
                  "value": "={{ $json.output }}"
                }
              ]
            }
          },
          "typeVersion": 3.4
        },
        {
          "id": "5d4e6149-20a5-42bf-be6b-6ebaa31c517e",
          "name": "Post Caption into Airtable Record",
          "type": "n8n-nodes-base.airtable",
          "position": [
            600,
            -120
          ],
          "parameters": {
            "base": {
              "__rl": true,
              "mode": "list",
              "value": "appXvZviYORVbPEaS",
              "cachedResultUrl": "https://airtable.com/appXvZviYORVbPEaS",
              "cachedResultName": "Redaktionsplan 2025 - E&P Reisen"
            },
            "table": {
              "__rl": true,
              "mode": "list",
              "value": "tblxsKj5PtumCR9um",
              "cachedResultUrl": "https://airtable.com/appXvZviYORVbPEaS/tblxsKj5PtumCR9um",
              "cachedResultName": "Redaktionsplanung"
            },
            "columns": {
              "value": {
                "id": "={{ $('Get Airtable Record Data').item.json.id }}",
                "Posten": false,
                "SoMe_Text_KI": "={{ $json['SoMe Text'] }}",
                "Werbeanzeige": false
              },
              "schema": [
                {
                  "id": "id",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "readOnly": true,
                  "required": false,
                  "displayName": "id",
                  "defaultMatch": true
                },
                {
                  "id": "Beitragsname",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "readOnly": false,
                  "required": false,
                  "displayName": "Beitragsname",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Marke",
                  "type": "options",
                  "display": true,
                  "options": [
                    {
                      "name": "E&P",
                      "value": "E&P"
                    },
                    {
                      "name": "SER",
                      "value": "SER"
                    },
                    {
                      "name": "SBW",
                      "value": "SBW"
                    },
                    {
                      "name": "SZO",
                      "value": "SZO"
                    },
                    {
                      "name": "UCH",
                      "value": "UCH"
                    }
                  ],
                  "removed": false,
                  "readOnly": false,
                  "required": false,
                  "displayName": "Marke",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Netzwerk",
                  "type": "array",
                  "display": true,
                  "options": [
                    {
                      "name": "Facebook",
                      "value": "Facebook"
                    },
                    {
                      "name": "Instagram",
                      "value": "Instagram"
                    },
                    {
                      "name": "Threads",
                      "value": "Threads"
                    },
                    {
                      "name": "TikTok",
                      "value": "TikTok"
                    },
                    {
                      "name": "YouTube Shorts",
                      "value": "YouTube Shorts"
                    },
                    {
                      "name": "MyBusiness",
                      "value": "MyBusiness"
                    },
                    {
                      "name": "Push",
                      "value": "Push"
                    },
                    {
                      "name": "WhatsApp",
                      "value": "WhatsApp"
                    },
                    {
                      "name": "LinkedIn",
                      "value": "LinkedIn"
                    },
                    {
                      "name": "CleverPush",
                      "value": "CleverPush"
                    },
                    {
                      "name": "SBW",
                      "value": "SBW"
                    }
                  ],
                  "removed": false,
                  "readOnly": false,
                  "required": false,
                  "displayName": "Netzwerk",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Status",
                  "type": "options",
                  "display": true,
                  "options": [
                    {
                      "name": "Brainstorming",
                      "value": "Brainstorming"
                    },
                    {
                      "name": "Bitte formulieren",
                      "value": "Bitte formulieren"
                    },
                    {
                      "name": "Bitte checken/freigeben",
                      "value": "Bitte checken/freigeben"
                    },
                    {
                      "name": "Bitte ändern",
                      "value": "Bitte ändern"
                    },
                    {
                      "name": "Warten auf externe Rückmeldung",
                      "value": "Warten auf externe Rückmeldung"
                    },
                    {
                      "name": "Freigabe erteilt/Bitte einplanen",
                      "value": "Freigabe erteilt/Bitte einplanen"
                    },
                    {
                      "name": "Geplant/Veröffentlicht",
                      "value": "Geplant/Veröffentlicht"
                    }
                  ],
                  "removed": false,
                  "readOnly": false,
                  "required": false,
                  "displayName": "Status",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Zuständigkeit",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "readOnly": false,
                  "required": false,
                  "displayName": "Zuständigkeit",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "KW",
                  "type": "options",
                  "display": true,
                  "options": [
                    {
                      "name": "KW 1",
                      "value": "KW 1"
                    },
                    {
                      "name": "KW 2",
                      "value": "KW 2"
                    },
                    {
                      "name": "KW 3",
                      "value": "KW 3"
                    },
                    {
                      "name": "KW 4",
                      "value": "KW 4"
                    },
                    {
                      "name": "KW 5",
                      "value": "KW 5"
                    },
                    {
                      "name": "KW 6",
                      "value": "KW 6"
                    },
                    {
                      "name": "KW 7",
                      "value": "KW 7"
                    },
                    {
                      "name": "KW 8",
                      "value": "KW 8"
                    },
                    {
                      "name": "KW 9",
                      "value": "KW 9"
                    },
                    {
                      "name": "KW 10",
                      "value": "KW 10"
                    },
                    {
                      "name": "KW 11",
                      "value": "KW 11"
                    },
                    {
                      "name": "KW 12",
                      "value": "KW 12"
                    },
                    {
                      "name": "KW 13",
                      "value": "KW 13"
                    },
                    {
                      "name": "KW 14",
                      "value": "KW 14"
                    },
                    {
                      "name": "KW 15",
                      "value": "KW 15"
                    },
                    {
                      "name": "KW 16",
                      "value": "KW 16"
                    },
                    {
                      "name": "KW 17",
                      "value": "KW 17"
                    },
                    {
                      "name": "KW 18",
                      "value": "KW 18"
                    },
                    {
                      "name": "KW 19",
                      "value": "KW 19"
                    },
                    {
                      "name": "KW 20",
                      "value": "KW 20"
                    },
                    {
                      "name": "KW 21",
                      "value": "KW 21"
                    },
                    {
                      "name": "KW 22",
                      "value": "KW 22"
                    },
                    {
                      "name": "KW 23",
                      "value": "KW 23"
                    },
                    {
                      "name": "KW 24",
                      "value": "KW 24"
                    },
                    {
                      "name": "KW 25",
                      "value": "KW 25"
                    },
                    {
                      "name": "KW 26",
                      "value": "KW 26"
                    },
                    {
                      "name": "KW 27",
                      "value": "KW 27"
                    },
                    {
                      "name": "KW 28",
                      "value": "KW 28"
                    },
                    {
                      "name": "KW 29",
                      "value": "KW 29"
                    },
                    {
                      "name": "KW 30",
                      "value": "KW 30"
                    },
                    {
                      "name": "KW 31",
                      "value": "KW 31"
                    },
                    {
                      "name": "KW 32",
                      "value": "KW 32"
                    },
                    {
                      "name": "KW 33",
                      "value": "KW 33"
                    },
                    {
                      "name": "KW 34",
                      "value": "KW 34"
                    },
                    {
                      "name": "KW 35",
                      "value": "KW 35"
                    },
                    {
                      "name": "KW 36",
                      "value": "KW 36"
                    },
                    {
                      "name": "KW 37",
                      "value": "KW 37"
                    },
                    {
                      "name": "KW 38",
                      "value": "KW 38"
                    },
                    {
                      "name": "KW 39",
                      "value": "KW 39"
                    },
                    {
                      "name": "KW 40",
                      "value": "KW 40"
                    },
                    {
                      "name": "KW 41",
                      "value": "KW 41"
                    },
                    {
                      "name": "KW 42",
                      "value": "KW 42"
                    },
                    {
                      "name": "KW 43",
                      "value": "KW 43"
                    },
                    {
                      "name": "KW 44",
                      "value": "KW 44"
                    },
                    {
                      "name": "KW 45",
                      "value": "KW 45"
                    },
                    {
                      "name": "KW 46",
                      "value": "KW 46"
                    },
                    {
                      "name": "KW 47",
                      "value": "KW 47"
                    },
                    {
                      "name": "KW 48",
                      "value": "KW 48"
                    },
                    {
                      "name": "KW 49",
                      "value": "KW 49"
                    },
                    {
                      "name": "KW 50",
                      "value": "KW 50"
                    },
                    {
                      "name": "KW 51",
                      "value": "KW 51"
                    },
                    {
                      "name": "KW 52",
                      "value": "KW 52"
                    },
                    {
                      "name": "47",
                      "value": "47"
                    }
                  ],
                  "removed": false,
                  "readOnly": false,
                  "required": false,
                  "displayName": "KW",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Veröffentlichungsdatum SoMe",
                  "type": "dateTime",
                  "display": true,
                  "removed": false,
                  "readOnly": false,
                  "required": false,
                  "displayName": "Veröffentlichungsdatum SoMe",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Destination/Haus",
                  "type": "array",
                  "display": true,
                  "options": [
                    {
                      "name": "1: Allgemein",
                      "value": "1: Allgemein"
                    },
                    {
                      "name": "Ahrntal - Bruggerhof",
                      "value": "Ahrntal - Bruggerhof"
                    },
                    {
                      "name": "Ahrntal - Christiler",
                      "value": "Ahrntal - Christiler"
                    },
                    {
                      "name": "Ahrntal - Griesfeld",
                      "value": "Ahrntal - Griesfeld"
                    },
                    {
                      "name": "Davos - Allgemein",
                      "value": "Davos - Allgemein"
                    },
                    {
                      "name": "Davos - Schweizerhaus",
                      "value": "Davos - Schweizerhaus"
                    },
                    {
                      "name": "Davos - Schwendi",
                      "value": "Davos - Schwendi"
                    },
                    {
                      "name": "Davos - Waldschlössli",
                      "value": "Davos - Waldschlössli"
                    },
                    {
                      "name": "Kleinwalsertal - Heuberghaus",
                      "value": "Kleinwalsertal - Heuberghaus"
                    },
                    {
                      "name": "L2A - SZO",
                      "value": "L2A - SZO"
                    },
                    {
                      "name": "L2A - UCH",
                      "value": "L2A - UCH"
                    },
                    {
                      "name": "Lenzerheide - Jenatsch",
                      "value": "Lenzerheide - Jenatsch"
                    },
                    {
                      "name": "Montafon - Josefsheim",
                      "value": "Montafon - Josefsheim"
                    },
                    {
                      "name": "Montafon - Klein Tirol",
                      "value": "Montafon - Klein Tirol"
                    },
                    {
                      "name": "PdS - Jolimont",
                      "value": "PdS - Jolimont"
                    },
                    {
                      "name": "PdS - Victoria",
                      "value": "PdS - Victoria"
                    },
                    {
                      "name": "Saalbach - Allgemein",
                      "value": "Saalbach - Allgemein"
                    },
                    {
                      "name": "Saalbach - Steinachhof",
                      "value": "Saalbach - Steinachhof"
                    },
                    {
                      "name": "Schweiz - Allgemein",
                      "value": "Schweiz - Allgemein"
                    },
                    {
                      "name": "Stubaital - Ranalt",
                      "value": "Stubaital - Ranalt"
                    },
                    {
                      "name": "Team",
                      "value": "Team"
                    },
                    {
                      "name": "VT - SBW",
                      "value": "VT - SBW"
                    },
                    {
                      "name": "SurfZone",
                      "value": "SurfZone"
                    },
                    {
                      "name": "lenzerheide - allgemein",
                      "value": "lenzerheide - allgemein"
                    },
                    {
                      "name": "Family",
                      "value": "Family"
                    },
                    {
                      "name": "Jobs",
                      "value": "Jobs"
                    },
                    {
                      "name": "L2A",
                      "value": "L2A"
                    },
                    {
                      "name": "Davos - Spinabad",
                      "value": "Davos - Spinabad"
                    }
                  ],
                  "removed": false,
                  "readOnly": false,
                  "required": false,
                  "displayName": "Destination/Haus",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Content Art",
                  "type": "options",
                  "display": true,
                  "options": [
                    {
                      "name": "Bild(er)",
                      "value": "Bild(er)"
                    },
                    {
                      "name": "Video",
                      "value": "Video"
                    },
                    {
                      "name": "Carousel",
                      "value": "Carousel"
                    },
                    {
                      "name": "Story",
                      "value": "Story"
                    },
                    {
                      "name": "Reel",
                      "value": "Reel"
                    },
                    {
                      "name": "Link",
                      "value": "Link"
                    },
                    {
                      "name": "Bilderalbum",
                      "value": "Bilderalbum"
                    },
                    {
                      "name": "Text",
                      "value": "Text"
                    },
                    {
                      "name": "Push",
                      "value": "Push"
                    }
                  ],
                  "removed": false,
                  "readOnly": false,
                  "required": false,
                  "displayName": "Content Art",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Briefing/Notizen",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "readOnly": false,
                  "required": false,
                  "displayName": "Briefing/Notizen",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Linkmanager-Link",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "readOnly": false,
                  "required": false,
                  "displayName": "Linkmanager-Link",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Short Link",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "readOnly": false,
                  "required": false,
                  "displayName": "Short Link",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Story",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "readOnly": false,
                  "required": false,
                  "displayName": "Story",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "MyBusiness Link",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "readOnly": false,
                  "required": false,
                  "displayName": "MyBusiness Link",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "SoMe Text",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "readOnly": false,
                  "required": false,
                  "displayName": "SoMe Text",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Anzahl Hashtags",
                  "type": "string",
                  "display": true,
                  "removed": true,
                  "readOnly": true,
                  "required": false,
                  "displayName": "Anzahl Hashtags",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Anzahl Zeichen",
                  "type": "string",
                  "display": true,
                  "removed": true,
                  "readOnly": true,
                  "required": false,
                  "displayName": "Anzahl Zeichen",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "SoMe Media",
                  "type": "array",
                  "display": true,
                  "removed": false,
                  "readOnly": false,
                  "required": false,
                  "displayName": "SoMe Media",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Link zum Canva Layout",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "readOnly": false,
                  "required": false,
                  "displayName": "Link zum Canva Layout",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Storylink Canva",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "readOnly": false,
                  "required": false,
                  "displayName": "Storylink Canva",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "MyBusiness Layout",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "readOnly": false,
                  "required": false,
                  "displayName": "MyBusiness Layout",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Posten",
                  "type": "boolean",
                  "display": true,
                  "removed": false,
                  "readOnly": false,
                  "required": false,
                  "displayName": "Posten",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "created_at",
                  "type": "string",
                  "display": true,
                  "removed": true,
                  "readOnly": true,
                  "required": false,
                  "displayName": "created_at",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "SoMe_Text_KI",
                  "type": "string",
                  "display": true,
                  "removed": false,
                  "readOnly": false,
                  "required": false,
                  "displayName": "SoMe_Text_KI",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                },
                {
                  "id": "Werbeanzeige",
                  "type": "boolean",
                  "display": true,
                  "removed": false,
                  "readOnly": false,
                  "required": false,
                  "displayName": "Werbeanzeige",
                  "defaultMatch": false,
                  "canBeUsedToMatch": true
                }
              ],
              "mappingMode": "defineBelow",
              "matchingColumns": [
                "id",
                "SoMe_Text_KI"
              ],
              "attemptToConvertTypes": false,
              "convertFieldsToString": false
            },
            "options": {},
            "operation": "update"
          },
          "credentials": {
            "airtableTokenApi": {
              "id": "pMphGrxsDsELetHZ",
              "name": "Airtable account"
            }
          },
          "typeVersion": 2.1
        },
        {
          "id": "ddc9159e-0da7-4844-84c5-eca981b9d52f",
          "name": "Airtable Trigger: New Record",
          "type": "n8n-nodes-base.airtableTrigger",
          "position": [
            -360,
            -120
          ],
          "parameters": {
            "baseId": {
              "__rl": true,
              "mode": "id",
              "value": "appXvZviYORVbPEaS"
            },
            "tableId": {
              "__rl": true,
              "mode": "id",
              "value": "tblxsKj5PtumCR9um"
            },
            "pollTimes": {
              "item": [
                {
                  "mode": "everyMinute"
                }
              ]
            },
            "triggerField": "created_at",
            "authentication": "airtableTokenApi",
            "additionalFields": {}
          },
          "credentials": {
            "airtableTokenApi": {
              "id": "pMphGrxsDsELetHZ",
              "name": "Airtable account"
            }
          },
          "typeVersion": 1
        },
        {
          "id": "a71626b0-43ba-430b-bd2f-8cc121676e46",
          "name": "Background Info",
          "type": "n8n-nodes-base.airtableTool",
          "position": [
            360,
            100
          ],
          "parameters": {
            "id": "reckd97lgylz93Ht5",
            "base": {
              "__rl": true,
              "mode": "list",
              "value": "appXvZviYORVbPEaS",
              "cachedResultUrl": "https://airtable.com/appXvZviYORVbPEaS",
              "cachedResultName": "Redaktionsplan 2025 - E&P Reisen"
            },
            "table": {
              "__rl": true,
              "mode": "list",
              "value": "tblMmE9cjgNZCoIO1",
              "cachedResultUrl": "https://airtable.com/appLe3fQHeaRN7kWG/tblMmE9cjgNZCoIO1",
              "cachedResultName": "Good to know"
            },
            "options": {},
            "descriptionType": "manual",
            "toolDescription": "Read data from Airtable"
          },
          "credentials": {
            "airtableTokenApi": {
              "id": "pMphGrxsDsELetHZ",
              "name": "Airtable account"
            }
          },
          "typeVersion": 2.1
        },
        {
          "id": "9c422e74-155c-4714-87aa-16b31bd73e5b",
          "name": "Sticky Note1",
          "type": "n8n-nodes-base.stickyNote",
          "position": [
            -680,
            80
          ],
          "parameters": {
            "width": 660,
            "height": 680,
            "content": "# Welcome to my AI Social Media Caption Creator Workflow!\n\nThis workflow automatically creates a social media post caption in an editorial plan in Airtable. It also uses background information on the target group, tonality, etc. stored in Airtable.\n\n## This workflow has the following sequence:\n\n1. Airtable trigger (scan for new records every minute)\n2. Wait 1 Minute so the Airtable record creator has time to write the Briefing field\n3. retrieval of Airtable record data\n4. AI Agent to write a caption for a social media post. The agent is instructed to use background information stored in Airtable (such as target group, tonality, etc.) to create the post.\n5. Format the output and assign it to the correct field in Airtable.\n6. Post the caption into Airtable record.\n\n## The following accesses are required for the workflow:\n- Airtable Database: [Documentation](https://docs.n8n.io/integrations/builtin/credentials/airtable)\n- AI API access (e.g. via OpenAI, Anthropic, Google or Ollama)\n\n### Example of an editorial plan in Airtable: https://airtable.com/appIXeIkDPjQefHXN/shrwcY45g48RpcvvC\nFor this workflow you need the Airtable fields \"created_at\", \"Briefing\" and \"SoMe_Text_AI\"\n\nYou can contact me via LinkedIn, if you have any questions: https://www.linkedin.com/in/friedemann-schuetz"
          },
          "typeVersion": 1
        }
      ],
      "active": false,
      "pinData": {},
      "settings": {
        "executionOrder": "v1"
      },
      "versionId": "50376a31-f279-4f5d-9204-82cacb596751",
      "connections": {
        "AI Agent": {
          "main": [
            [
              {
                "node": "Format Fields",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Format Fields": {
          "main": [
            [
              {
                "node": "Post Caption into Airtable Record",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Wait 1 Minute": {
          "main": [
            [
              {
                "node": "Get Airtable Record Data",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Background Info": {
          "ai_tool": [
            [
              {
                "node": "AI Agent",
                "type": "ai_tool",
                "index": 0
              }
            ]
          ]
        },
        "OpenAI Chat Model": {
          "ai_languageModel": [
            [
              {
                "node": "AI Agent",
                "type": "ai_languageModel",
                "index": 0
              }
            ]
          ]
        },
        "Window Buffer Memory": {
          "ai_memory": [
            [
              {
                "node": "AI Agent",
                "type": "ai_memory",
                "index": 0
              }
            ]
          ]
        },
        "Get Airtable Record Data": {
          "main": [
            [
              {
                "node": "AI Agent",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Airtable Trigger: New Record": {
          "main": [
            [
              {
                "node": "Wait 1 Minute",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      }
    },
    "lastUpdatedBy": 16,
    "workflowInfo": {
      "nodeCount": 10,
      "nodeTypes": {
        "n8n-nodes-base.set": {
          "count": 1
        },
        "n8n-nodes-base.wait": {
          "count": 1
        },
        "n8n-nodes-base.airtable": {
          "count": 2
        },
        "n8n-nodes-base.stickyNote": {
          "count": 1
        },
        "n8n-nodes-base.airtableTool": {
          "count": 1
        },
        "@n8n/n8n-nodes-langchain.agent": {
          "count": 1
        },
        "n8n-nodes-base.airtableTrigger": {
          "count": 1
        },
        "@n8n/n8n-nodes-langchain.lmChatOpenAi": {
          "count": 1
        },
        "@n8n/n8n-nodes-langchain.memoryBufferWindow": {
          "count": 1
        }
      }
    },
    "user": {
      "name": "Friedemann Schuetz",
      "username": "freddy-schuetz",
      "bio": "",
      "verified": true,
      "links": [
        "https://www.linkedin.com/in/friedemann-schuetz"
      ],
      "avatar": "https://gravatar.com/avatar/eb8eb92141f57c72c5f5a9fb5e8c85dca42047f764de54ab5466999cbb691079?r=pg&d=retro&size=200"
    },
    "nodes": [
      {
        "id": 2,
        "icon": "file:airtable.svg",
        "name": "n8n-nodes-base.airtable",
        "codex": {
          "data": {
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/2021-goals-level-up-your-vocabulary-with-vonage-and-n8n/",
                  "icon": "🎯",
                  "label": "2021 Goals: Level Up Your Vocabulary With Vonage and n8n"
                },
                {
                  "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                  "icon": "☀️",
                  "label": "2021: The Year to Automate the New You with n8n"
                },
                {
                  "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                  "icon": "🔗",
                  "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
                },
                {
                  "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                  "icon": "👥",
                  "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
                },
                {
                  "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                  "icon": "💡",
                  "label": "15 Google apps you can combine and automate to increase productivity"
                },
                {
                  "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                  "icon": "📱",
                  "label": "Building an expense tracking app in 10 minutes"
                },
                {
                  "url": "https://n8n.io/blog/why-this-product-manager-loves-workflow-automation-with-n8n/",
                  "icon": "🧠",
                  "label": "Why this Product Manager loves workflow automation with n8n"
                },
                {
                  "url": "https://n8n.io/blog/learn-to-build-powerful-api-endpoints-using-webhooks/",
                  "icon": "🧰",
                  "label": "Learn to Build Powerful API Endpoints Using Webhooks"
                },
                {
                  "url": "https://n8n.io/blog/sending-sms-the-low-code-way-with-airtable-twilio-programmable-sms-and-n8n/",
                  "icon": "📱",
                  "label": "Sending SMS the Low-Code Way with Airtable, Twilio Programmable SMS, and n8n"
                },
                {
                  "url": "https://n8n.io/blog/automating-conference-organization-processes-with-n8n/",
                  "icon": "🙋‍♀️",
                  "label": "Automating Conference Organization Processes with n8n"
                },
                {
                  "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                  "icon": "🎖",
                  "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
                },
                {
                  "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                  "icon": "🛵",
                  "label": "How Goomer automated their operations with over 200 n8n workflows"
                },
                {
                  "url": "https://n8n.io/blog/aws-workflow-automation/",
                  "label": "7 no-code workflow automations for Amazon Web Services"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.airtable/"
                }
              ],
              "credentialDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/credentials/airtable/"
                }
              ]
            },
            "categories": [
              "Data & Storage"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0"
          }
        },
        "group": "[\"input\"]",
        "defaults": {
          "name": "Airtable"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMDAgMTcwIj48cGF0aCBmaWxsPSIjZmNiNDAwIiBkPSJNODkgNC44IDE2LjIgMzQuOWMtNC4xIDEuNy00IDcuNC4xIDkuMWw3My4yIDI5YzYuNCAyLjYgMTMuNiAyLjYgMjAgMGw3My4yLTI5YzQuMS0xLjYgNC4xLTcuNC4xLTkuMWwtNzMtMzAuMUMxMDMuMiAyIDk1LjcgMiA4OSA0LjgiLz48cGF0aCBmaWxsPSIjMThiZmZmIiBkPSJNMTA1LjkgODguOXY3Mi41YzAgMy40IDMuNSA1LjggNi43IDQuNWw4MS42LTMxLjdjMS45LS43IDMuMS0yLjUgMy4xLTQuNVY1Ny4yYzAtMy40LTMuNS01LjgtNi43LTQuNUwxMDkgODQuM2MtMS45LjgtMy4xIDIuNi0zLjEgNC42Ii8+PHBhdGggZmlsbD0iI2Y4MmI2MCIgZD0ibTg2LjkgOTIuNi0yNC4yIDExLjctMi41IDEuMkw5LjEgMTMwYy0zLjIgMS42LTcuNC0uOC03LjQtNC40VjU3LjVjMC0xLjMuNy0yLjQgMS42LTMuM3EuNi0uNiAxLjItLjljMS4yLS43IDMtLjkgNC40LS4zbDc3LjUgMzAuN2M0IDEuNSA0LjMgNy4xLjUgOC45Ii8+PHBhdGggZmlsbD0iI2JhMWU0NSIgZD0ibTg2LjkgOTIuNi0yNC4yIDExLjctNTkuNC01MHEuNi0uNiAxLjItLjljMS4yLS43IDMtLjkgNC40LS4zbDc3LjUgMzAuN2M0IDEuNCA0LjMgNyAuNSA4LjgiLz48L3N2Zz4="
        },
        "displayName": "Airtable",
        "typeVersion": 2,
        "nodeCategories": [
          {
            "id": 3,
            "name": "Data & Storage"
          }
        ]
      },
      {
        "id": 38,
        "icon": "fa:pen",
        "name": "n8n-nodes-base.set",
        "codex": {
          "data": {
            "alias": [
              "Set",
              "JS",
              "JSON",
              "Filter",
              "Transform",
              "Map"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/learn-to-automate-your-factorys-incident-reporting-a-step-by-step-guide/",
                  "icon": "🏭",
                  "label": "Learn to Automate Your Factory's Incident Reporting: A Step by Step Guide"
                },
                {
                  "url": "https://n8n.io/blog/2021-the-year-to-automate-the-new-you-with-n8n/",
                  "icon": "☀️",
                  "label": "2021: The Year to Automate the New You with n8n"
                },
                {
                  "url": "https://n8n.io/blog/automatically-pulling-and-visualizing-data-with-n8n/",
                  "icon": "📈",
                  "label": "Automatically pulling and visualizing data with n8n"
                },
                {
                  "url": "https://n8n.io/blog/database-monitoring-and-alerting-with-n8n/",
                  "icon": "📡",
                  "label": "Database Monitoring and Alerting with n8n"
                },
                {
                  "url": "https://n8n.io/blog/automatically-adding-expense-receipts-to-google-sheets-with-telegram-mindee-twilio-and-n8n/",
                  "icon": "🧾",
                  "label": "Automatically Adding Expense Receipts to Google Sheets with Telegram, Mindee, Twilio, and n8n"
                },
                {
                  "url": "https://n8n.io/blog/no-code-ecommerce-workflow-automations/",
                  "icon": "store",
                  "label": "6 e-commerce workflows to power up your Shopify s"
                },
                {
                  "url": "https://n8n.io/blog/how-to-build-a-low-code-self-hosted-url-shortener/",
                  "icon": "🔗",
                  "label": "How to build a low-code, self-hosted URL shortener in 3 steps"
                },
                {
                  "url": "https://n8n.io/blog/automate-your-data-processing-pipeline-in-9-steps-with-n8n/",
                  "icon": "⚙️",
                  "label": "Automate your data processing pipeline in 9 steps"
                },
                {
                  "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                  "icon": "👥",
                  "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
                },
                {
                  "url": "https://n8n.io/blog/5-tasks-you-can-automate-with-notion-api/",
                  "icon": "⚡️",
                  "label": "5 tasks you can automate with the new Notion API "
                },
                {
                  "url": "https://n8n.io/blog/automate-google-apps-for-productivity/",
                  "icon": "💡",
                  "label": "15 Google apps you can combine and automate to increase productivity"
                },
                {
                  "url": "https://n8n.io/blog/how-uproc-scraped-a-multi-page-website-with-a-low-code-workflow/",
                  "icon": " 🕸️",
                  "label": "How uProc scraped a multi-page website with a low-code workflow"
                },
                {
                  "url": "https://n8n.io/blog/building-an-expense-tracking-app-in-10-minutes/",
                  "icon": "📱",
                  "label": "Building an expense tracking app in 10 minutes"
                },
                {
                  "url": "https://n8n.io/blog/the-ultimate-guide-to-automate-your-video-collaboration-with-whereby-mattermost-and-n8n/",
                  "icon": "📹",
                  "label": "The ultimate guide to automate your video collaboration with Whereby, Mattermost, and n8n"
                },
                {
                  "url": "https://n8n.io/blog/5-workflow-automations-for-mattermost-that-we-love-at-n8n/",
                  "icon": "🤖",
                  "label": "5 workflow automations for Mattermost that we love at n8n"
                },
                {
                  "url": "https://n8n.io/blog/learn-to-build-powerful-api-endpoints-using-webhooks/",
                  "icon": "🧰",
                  "label": "Learn to Build Powerful API Endpoints Using Webhooks"
                },
                {
                  "url": "https://n8n.io/blog/how-a-membership-development-manager-automates-his-work-and-investments/",
                  "icon": "📈",
                  "label": "How a Membership Development Manager automates his work and investments"
                },
                {
                  "url": "https://n8n.io/blog/a-low-code-bitcoin-ticker-built-with-questdb-and-n8n-io/",
                  "icon": "📈",
                  "label": "A low-code bitcoin ticker built with QuestDB and n8n.io"
                },
                {
                  "url": "https://n8n.io/blog/how-to-set-up-a-ci-cd-pipeline-with-no-code/",
                  "icon": "🎡",
                  "label": "How to set up a no-code CI/CD pipeline with GitHub and TravisCI"
                },
                {
                  "url": "https://n8n.io/blog/benefits-of-automation-and-n8n-an-interview-with-hubspots-hugh-durkin/",
                  "icon": "🎖",
                  "label": "Benefits of automation and n8n: An interview with HubSpot's Hugh Durkin"
                },
                {
                  "url": "https://n8n.io/blog/how-goomer-automated-their-operations-with-over-200-n8n-workflows/",
                  "icon": "🛵",
                  "label": "How Goomer automated their operations with over 200 n8n workflows"
                },
                {
                  "url": "https://n8n.io/blog/aws-workflow-automation/",
                  "label": "7 no-code workflow automations for Amazon Web Services"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.set/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Data Transformation"
              ]
            }
          }
        },
        "group": "[\"input\"]",
        "defaults": {
          "name": "Edit Fields"
        },
        "iconData": {
          "icon": "pen",
          "type": "icon"
        },
        "displayName": "Edit Fields (Set)",
        "typeVersion": 3,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 408,
        "icon": "file:airtable.svg",
        "name": "n8n-nodes-base.airtableTrigger",
        "codex": {
          "data": {
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/trigger-nodes/n8n-nodes-base.airtabletrigger/"
                }
              ],
              "credentialDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/credentials/airtable/"
                }
              ]
            },
            "categories": [
              "Data & Storage"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0"
          }
        },
        "group": "[\"trigger\"]",
        "defaults": {
          "name": "Airtable Trigger"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMDAgMTcwIj48cGF0aCBmaWxsPSIjZmNiNDAwIiBkPSJNODkgNC44IDE2LjIgMzQuOWMtNC4xIDEuNy00IDcuNC4xIDkuMWw3My4yIDI5YzYuNCAyLjYgMTMuNiAyLjYgMjAgMGw3My4yLTI5YzQuMS0xLjYgNC4xLTcuNC4xLTkuMWwtNzMtMzAuMUMxMDMuMiAyIDk1LjcgMiA4OSA0LjgiLz48cGF0aCBmaWxsPSIjMThiZmZmIiBkPSJNMTA1LjkgODguOXY3Mi41YzAgMy40IDMuNSA1LjggNi43IDQuNWw4MS42LTMxLjdjMS45LS43IDMuMS0yLjUgMy4xLTQuNVY1Ny4yYzAtMy40LTMuNS01LjgtNi43LTQuNUwxMDkgODQuM2MtMS45LjgtMy4xIDIuNi0zLjEgNC42Ii8+PHBhdGggZmlsbD0iI2Y4MmI2MCIgZD0ibTg2LjkgOTIuNi0yNC4yIDExLjctMi41IDEuMkw5LjEgMTMwYy0zLjIgMS42LTcuNC0uOC03LjQtNC40VjU3LjVjMC0xLjMuNy0yLjQgMS42LTMuM3EuNi0uNiAxLjItLjljMS4yLS43IDMtLjkgNC40LS4zbDc3LjUgMzAuN2M0IDEuNSA0LjMgNy4xLjUgOC45Ii8+PHBhdGggZmlsbD0iI2JhMWU0NSIgZD0ibTg2LjkgOTIuNi0yNC4yIDExLjctNTkuNC01MHEuNi0uNiAxLjItLjljMS4yLS43IDMtLjkgNC40LS4zbDc3LjUgMzAuN2M0IDEuNCA0LjMgNyAuNSA4LjgiLz48L3N2Zz4="
        },
        "displayName": "Airtable Trigger",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 3,
            "name": "Data & Storage"
          }
        ]
      },
      {
        "id": 514,
        "icon": "fa:pause-circle",
        "name": "n8n-nodes-base.wait",
        "codex": {
          "data": {
            "alias": [
              "pause",
              "sleep",
              "delay",
              "timeout"
            ],
            "resources": {
              "generic": [
                {
                  "url": "https://n8n.io/blog/how-to-get-started-with-crm-automation-and-no-code-workflow-ideas/",
                  "icon": "👥",
                  "label": "How to get started with CRM automation (with 3 no-code workflow ideas"
                },
                {
                  "url": "https://n8n.io/blog/aws-workflow-automation/",
                  "label": "7 no-code workflow automations for Amazon Web Services"
                }
              ],
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.wait/"
                }
              ]
            },
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Helpers",
                "Flow"
              ]
            }
          }
        },
        "group": "[\"organization\"]",
        "defaults": {
          "name": "Wait",
          "color": "#804050"
        },
        "iconData": {
          "icon": "pause-circle",
          "type": "icon"
        },
        "displayName": "Wait",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 565,
        "icon": "fa:sticky-note",
        "name": "n8n-nodes-base.stickyNote",
        "codex": {
          "data": {
            "alias": [
              "Comments",
              "Notes",
              "Sticky"
            ],
            "categories": [
              "Core Nodes"
            ],
            "nodeVersion": "1.0",
            "codexVersion": "1.0",
            "subcategories": {
              "Core Nodes": [
                "Helpers"
              ]
            }
          }
        },
        "group": "[\"input\"]",
        "defaults": {
          "name": "Sticky Note",
          "color": "#FFD233"
        },
        "iconData": {
          "icon": "sticky-note",
          "type": "icon"
        },
        "displayName": "Sticky Note",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 9,
            "name": "Core Nodes"
          }
        ]
      },
      {
        "id": 1119,
        "icon": "fa:robot",
        "name": "@n8n/n8n-nodes-langchain.agent",
        "codex": {
          "data": {
            "alias": [
              "LangChain",
              "Chat",
              "Conversational",
              "Plan and Execute",
              "ReAct",
              "Tools"
            ],
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent/"
                }
              ]
            },
            "categories": [
              "AI",
              "Langchain"
            ],
            "subcategories": {
              "AI": [
                "Agents",
                "Root Nodes"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "AI Agent",
          "color": "#404040"
        },
        "iconData": {
          "icon": "robot",
          "type": "icon"
        },
        "displayName": "AI Agent",
        "typeVersion": 2,
        "nodeCategories": [
          {
            "id": 25,
            "name": "AI"
          },
          {
            "id": 26,
            "name": "Langchain"
          }
        ]
      },
      {
        "id": 1153,
        "icon": "file:openAiLight.svg",
        "name": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "codex": {
          "data": {
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.lmchatopenai/"
                }
              ]
            },
            "categories": [
              "AI",
              "Langchain"
            ],
            "subcategories": {
              "AI": [
                "Language Models",
                "Root Nodes"
              ],
              "Language Models": [
                "Chat Models (Recommended)"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "OpenAI Chat Model"
        },
        "iconData": {
          "type": "file",
          "fileBuffer": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTM2Ljg2NzEgMTYuMzcxOEMzNy43NzQ2IDEzLjY0OCAzNy40NjIxIDEwLjY2NDIgMzYuMDEwOCA4LjE4NjYxQzMzLjgyODIgNC4zODY1MyAyOS40NDA3IDIuNDMxNDkgMjUuMTU1NiAzLjM1MTUxQzIzLjI0OTMgMS4yMDM5NiAyMC41MTA1IC0wLjAxNzMxNDggMTcuNjM5MiAwLjAwMDE4NTUzM0MxMy4yNTkxIC0wLjAwOTgxNDY4IDkuMzcyNzMgMi44MTAyNSA4LjAyNTIgNi45Nzc4M0M1LjIxMTM5IDcuNTU0MSAyLjc4MjU4IDkuMzE1MzggMS4zNjEzIDExLjgxMTdDLTAuODM3NDkzIDE1LjYwMTggLTAuMzM2MjMyIDIwLjM3OTQgMi42MDEzMyAyMy42Mjk0QzEuNjkzODEgMjYuMzUzMiAyLjAwNjMyIDI5LjMzNzEgMy40NTc2IDMxLjgxNDZDNS42NDAxNSAzNS42MTQ3IDEwLjAyNzcgMzcuNTY5NyAxNC4zMTI4IDM2LjY0OTdDMTYuMjE3OSAzOC43OTczIDE4Ljk1NzkgNDAuMDE4NSAyMS44MjkyIDM5Ljk5OThDMjYuMjExOCA0MC4wMTEgMzAuMDk5NCAzNy4xODg1IDMxLjQ0NjkgMzMuMDE3MUMzNC4yNjA4IDMyLjQ0MDkgMzYuNjg5NiAzMC42Nzk2IDM4LjExMDggMjguMTgzM0M0MC4zMDcxIDI0LjM5MzIgMzkuODA0NiAxOS42MTk0IDM2Ljg2ODMgMTYuMzY5M0wzNi44NjcxIDE2LjM3MThaTTIxLjgzMTcgMzcuMzg2QzIwLjA3OCAzNy4zODg1IDE4LjM3OTIgMzYuNzc0NyAxNy4wMzI5IDM1LjY1MDlDMTcuMDk0MSAzNS42MTg0IDE3LjIwMDQgMzUuNTU5NyAxNy4yNjkxIDM1LjUxNzJMMjUuMjM0MyAzMC45MTcxQzI1LjY0MTggMzAuNjg1OCAyNS44OTE4IDMwLjI1MjEgMjUuODg5MyAyOS43ODMzVjE4LjU1NDNMMjkuMjU1NyAyMC40OTgxQzI5LjI5MTkgMjAuNTE1NiAyOS4zMTU3IDIwLjU1MDYgMjkuMzIwNyAyMC41OTA2VjI5Ljg4OTZDMjkuMzE1NyAzNC4wMjQ3IDI1Ljk2NjggMzcuMzc3MiAyMS44MzE3IDM3LjM4NlpNNS43MjY0IDMwLjUwNzFDNC44NDc2MyAyOC45ODk2IDQuNTMxMzcgMjcuMjEwOCA0LjgzMjYzIDI1LjQ4NDVDNC44OTEzOCAyNS41MTk1IDQuOTk1MTMgMjUuNTgzMiA1LjA2ODg4IDI1LjYyNTdMMTMuMDM0MSAzMC4yMjU4QzEzLjQzNzggMzAuNDYyMSAxMy45Mzc4IDMwLjQ2MjEgMTQuMzQyOCAzMC4yMjU4TDI0LjA2NjggMjQuNjEwN1YyOC40OTgzQzI0LjA2OTMgMjguNTM4MyAyNC4wNTA1IDI4LjU3NyAyNC4wMTkzIDI4LjYwMkwxNS45Njc5IDMzLjI1MDlDMTIuMzgxNSAzNS4zMTU5IDcuODAxNDQgMzQuMDg4NCA1LjcyNzY1IDMwLjUwNzFINS43MjY0Wk0zLjYzMDEgMTMuMTIwNUM0LjUwNTEyIDExLjYwMDQgNS44ODY0IDEwLjQzNzkgNy41MzE0NCA5LjgzNDE1QzcuNTMxNDQgOS45MDI5IDcuNTI3NjkgMTAuMDI0MiA3LjUyNzY5IDEwLjEwOTJWMTkuMzEwNkM3LjUyNTE5IDE5Ljc3ODEgNy43NzUxOSAyMC4yMTE5IDguMTgxNDUgMjAuNDQzMUwxNy45MDU0IDI2LjA1N0wxNC41MzkxIDI4LjAwMDhDMTQuNTA1MyAyOC4wMjMzIDE0LjQ2MjggMjguMDI3IDE0LjQyNTMgMjguMDEwOEw2LjM3MjY2IDIzLjM1ODJDMi43OTM4MyAyMS4yODU2IDEuNTY2MzEgMTYuNzA2OCAzLjYyODg1IDEzLjEyMTdMMy42MzAxIDEzLjEyMDVaTTMxLjI4ODIgMTkuNTU2OUwyMS41NjQyIDEzLjk0MTdMMjQuOTMwNiAxMS45OTkyQzI0Ljk2NDMgMTEuOTc2NyAyNS4wMDY4IDExLjk3MjkgMjUuMDQ0MyAxMS45ODkyTDMzLjA5NyAxNi42MzhDMzYuNjgyMSAxOC43MDkzIDM3LjkxMDggMjMuMjk1NyAzNS44Mzk1IDI2Ljg4MDhDMzQuOTYzMyAyOC4zOTgzIDMzLjU4MzIgMjkuNTYwOCAzMS45Mzk1IDMwLjE2NThWMjAuNjg5NEMzMS45NDMyIDIwLjIyMTkgMzEuNjk0NSAxOS43ODk0IDMxLjI4OTQgMTkuNTU2OUgzMS4yODgyWk0zNC42MzgzIDE0LjUxNDJDMzQuNTc5NSAxNC40NzggMzQuNDc1OCAxNC40MTU1IDM0LjQwMiAxNC4zNzNMMjYuNDM2OCA5Ljc3Mjg5QzI2LjAzMzEgOS41MzY2NCAyNS41MzMxIDkuNTM2NjQgMjUuMTI4MSA5Ljc3Mjg5TDE1LjQwNDEgMTUuMzg4VjExLjUwMDRDMTUuNDAxNiAxMS40NjA0IDE1LjQyMDQgMTEuNDIxNyAxNS40NTE2IDExLjM5NjdMMjMuNTAzIDYuNzUxNThDMjcuMDg5NCA0LjY4Mjc5IDMxLjY3NDUgNS45MTQwNiAzMy43NDIgOS41MDE2NEMzNC42MTU4IDExLjAxNjcgMzQuOTMyIDEyLjc5MDUgMzQuNjM1OCAxNC41MTQySDM0LjYzODNaTTEzLjU3NDEgMjEuNDQzMUwxMC4yMDY1IDE5LjQ5OTRDMTAuMTcwMiAxOS40ODE5IDEwLjE0NjUgMTkuNDQ2OCAxMC4xNDE1IDE5LjQwNjhWMTAuMTA3OUMxMC4xNDQgNS45Njc4MSAxMy41MDI4IDIuNjEyNzQgMTcuNjQyOSAyLjYxNTI0QzE5LjM5NDIgMi42MTUyNCAyMS4wODkyIDMuMjMwMjUgMjIuNDM1NSA0LjM1MDI4QzIyLjM3NDMgNC4zODI3OCAyMi4yNjkzIDQuNDQxNTMgMjIuMTk5MiA0LjQ4NDAzTDE0LjIzNDEgOS4wODQxM0MxMy44MjY2IDkuMzE1MzggMTMuNTc2NiA5Ljc0Nzg5IDEzLjU3OTEgMTAuMjE2N0wxMy41NzQxIDIxLjQ0MDZWMjEuNDQzMVpNMTUuNDAyOSAxNy41MDA2TDE5LjczNDIgMTQuOTk5M0wyNC4wNjU1IDE3LjQ5OTNWMjIuNTAwN0wxOS43MzQyIDI1LjAwMDdMMTUuNDAyOSAyMi41MDA3VjE3LjUwMDZaIiBmaWxsPSIjN0Q3RDg3Ii8+Cjwvc3ZnPgo="
        },
        "displayName": "OpenAI Chat Model",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 25,
            "name": "AI"
          },
          {
            "id": 26,
            "name": "Langchain"
          }
        ]
      },
      {
        "id": 1163,
        "icon": "fa:database",
        "name": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "codex": {
          "data": {
            "resources": {
              "primaryDocumentation": [
                {
                  "url": "https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.memorybufferwindow/"
                }
              ]
            },
            "categories": [
              "AI",
              "Langchain"
            ],
            "subcategories": {
              "AI": [
                "Memory"
              ],
              "Memory": [
                "For beginners"
              ]
            }
          }
        },
        "group": "[\"transform\"]",
        "defaults": {
          "name": "Simple Memory"
        },
        "iconData": {
          "icon": "database",
          "type": "icon"
        },
        "displayName": "Simple Memory",
        "typeVersion": 1,
        "nodeCategories": [
          {
            "id": 25,
            "name": "AI"
          },
          {
            "id": 26,
            "name": "Langchain"
          }
        ]
      }
    ],
    "categories": [
      {
        "id": 25,
        "name": "AI"
      },
      {
        "id": 27,
        "name": "Marketing"
      }
    ],
    "image": []
  }
}