test-workflows/snapshots/115-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1710331887209,
            "executionTime": 0,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Cockpit": [
          {
            "startTime": 1710331887209,
            "executionTime": 302,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "Name": "entry1710331887212",
                      "_by": "604887bce94fea0ea177c951",
                      "_modified": 1710331887,
                      "_created": 1710331887,
                      "_id": "65f197ef674387269e75af55"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Cockpit3": [
          {
            "startTime": 1710331887511,
            "executionTime": 83,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "name": "FixedName",
                      "_mby": "604887bce94fea0ea177c951",
                      "_by": "604887bce94fea0ea177c951"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Cockpit4": [
          {
            "startTime": 1710331887594,
            "executionTime": 74,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "name": "name1710331887596",
                      "tag": "tag1710331887597"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Cockpit1": [
          {
            "startTime": 1710331887668,
            "executionTime": 76,
            "source": [
              {
                "previousNode": "Cockpit"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_id": "65f197ef674387269e75af55",
                      "Name": "UpdatedEntry1710331887671",
                      "_by": "604887bce94fea0ea177c951",
                      "_modified": 1710331887
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Cockpit2": [
          {
            "startTime": 1710331887744,
            "executionTime": 55,
            "source": [
              {
                "previousNode": "Cockpit1"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "Name": "UpdatedEntry1615366572785",
                      "_by": "604887bce94fea0ea177c951",
                      "_modified": 1615366572,
                      "_created": 1615366532,
                      "_id": "6048898478f13b61a46fc881"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Cockpit2"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2024-03-13T12:11:27.209Z",
  "stoppedAt": "2024-03-13T12:11:27.799Z",
  "status": "running",
  "finished": true
}