test-workflows/snapshots/124-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1676891407793,
            "executionTime": 0,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set": [
          {
            "startTime": 1676891407794,
            "executionTime": 100,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 545,
                      "name": "Name1676891407894"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "QuestDB": [
          {
            "startTime": 1676891407894,
            "executionTime": 172,
            "source": [
              {
                "previousNode": "Set"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 545,
                      "name": "Name1676891407894"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "QuestDB1": [
          {
            "startTime": 1676891408068,
            "executionTime": 123,
            "source": [
              {
                "previousNode": "QuestDB"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 545,
                      "name": "Name1676891407894"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "QuestDB2": [
          {
            "startTime": 1676891408192,
            "executionTime": 119,
            "source": [
              {
                "previousNode": "QuestDB1"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                []
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "QuestDB2"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2023-02-20T11:10:07.791Z",
  "stoppedAt": "2023-02-20T11:10:08.312Z",
  "status": "running",
  "finished": true
}