test-workflows/snapshots/182-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1747343994910,
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": 0,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Webflow": [
          {
            "startTime": 1747343994910,
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": 1513,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_cid": "608289f18593d40792d70d54",
                      "_id": "68265a7bcf2b25604fb8766e",
                      "_draft": true,
                      "_archived": false,
                      "name": "Item1747343994912",
                      "slug": "ItemSlug1747343994913",
                      "updated-on": "2025-05-15T21:19:55.285Z",
                      "updated-by": "Person_60828826c12bb73d4752eedb",
                      "created-on": "2025-05-15T21:19:55.285Z",
                      "created-by": "Person_60828826c12bb73d4752eedb",
                      "published-on": {
                        "object": true
                      },
                      "published-by": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Webflow1": [
          {
            "startTime": 1747343996423,
            "executionIndex": 2,
            "source": [
              {
                "previousNode": "Webflow"
              }
            ],
            "hints": [],
            "executionTime": 677,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_cid": "608289f18593d40792d70d54",
                      "_id": "68265a7bcf2b25604fb8766e",
                      "_draft": true,
                      "_archived": false,
                      "name": "Item1747343994912",
                      "slug": "ItemSlug1747343994913",
                      "updated-on": "2025-05-15T21:19:55.285Z",
                      "updated-by": "Person_60828826c12bb73d4752eedb",
                      "created-on": "2025-05-15T21:19:55.285Z",
                      "created-by": "Person_60828826c12bb73d4752eedb",
                      "published-on": {
                        "object": true
                      },
                      "published-by": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Webflow2": [
          {
            "startTime": 1747343997100,
            "executionIndex": 3,
            "source": [
              {
                "previousNode": "Webflow1"
              }
            ],
            "hints": [],
            "executionTime": 473,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_cid": "608289f18593d40792d70d54",
                      "_id": "68265a7bcf2b25604fb8766e",
                      "_draft": false,
                      "_archived": false,
                      "name": "UpdatedItem1747343994912",
                      "slug": "UpdatedItemSlug1747343994913",
                      "updated-on": "2025-05-15T21:19:57.521Z",
                      "updated-by": "Person_60828826c12bb73d4752eedb",
                      "created-on": "2025-05-15T21:19:55.285Z",
                      "created-by": "Person_60828826c12bb73d4752eedb",
                      "published-on": {
                        "object": true
                      },
                      "published-by": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Webflow3": [
          {
            "startTime": 1747343997573,
            "executionIndex": 4,
            "source": [
              {
                "previousNode": "Webflow2"
              }
            ],
            "hints": [],
            "executionTime": 658,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "deleted": 1
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Webflow4": [
          {
            "startTime": 1747343998231,
            "executionIndex": 5,
            "source": [
              {
                "previousNode": "Webflow3"
              }
            ],
            "hints": [],
            "executionTime": 479,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_cid": "608289f18593d40792d70d54",
                      "_id": "6826407aa3de802cc025d6b8",
                      "_draft": true,
                      "_archived": false,
                      "name": "Item1747337338117",
                      "slug": "ItemSlug1747337338118",
                      "updated-on": "2025-05-15T19:28:58.462Z",
                      "updated-by": "Person_60828826c12bb73d4752eedb",
                      "created-on": "2025-05-15T19:28:58.462Z",
                      "created-by": "Person_60828826c12bb73d4752eedb",
                      "published-on": {
                        "object": true
                      },
                      "published-by": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Webflow4"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2025-05-15T21:19:54.910Z",
  "stoppedAt": "2025-05-15T21:19:58.710Z",
  "status": "running",
  "finished": true
}