test-workflows/snapshots/190-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1676891419278,
            "executionTime": 1,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Discourse": [
          {
            "startTime": 1676891419280,
            "executionTime": 633,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 383,
                      "name": "Category1676891419295",
                      "color": "FF6D5A",
                      "text_color": "0000FF",
                      "slug": "category1676891419295",
                      "topic_count": 0,
                      "post_count": 0,
                      "position": 382,
                      "description": {
                        "object": true
                      },
                      "description_text": {
                        "object": true
                      },
                      "description_excerpt": {
                        "object": true
                      },
                      "topic_url": "/t/about-the-category1676891419295-category/763",
                      "read_restricted": false,
                      "permission": {
                        "object": true
                      },
                      "notification_level": 1,
                      "can_edit": true,
                      "topic_template": {
                        "object": true
                      },
                      "has_children": {
                        "object": true
                      },
                      "sort_order": {
                        "object": true
                      },
                      "sort_ascending": {
                        "object": true
                      },
                      "show_subcategory_list": false,
                      "num_featured_topics": 3,
                      "default_view": {
                        "object": true
                      },
                      "subcategory_list_style": "rows_with_featured_topics",
                      "default_top_period": "all",
                      "default_list_filter": "all",
                      "minimum_required_tags": 0,
                      "navigate_to_first_post_after_read": false,
                      "custom_fields": {
                        "object": true
                      },
                      "min_tags_from_required_group": 1,
                      "required_tag_group_name": {
                        "object": true
                      },
                      "read_only_banner": {
                        "object": true
                      },
                      "available_groups": [
                        "json array"
                      ],
                      "auto_close_hours": {
                        "object": true
                      },
                      "auto_close_based_on_last_post": false,
                      "group_permissions": [
                        "json array"
                      ],
                      "email_in": {
                        "object": true
                      },
                      "email_in_allow_strangers": false,
                      "mailinglist_mirror": false,
                      "all_topics_wiki": false,
                      "allow_unlimited_owner_edits_on_first_post": false,
                      "can_delete": true,
                      "allow_badges": true,
                      "topic_featured_link_allowed": true,
                      "search_priority": 0,
                      "default_slow_mode_seconds": {
                        "object": true
                      },
                      "uploaded_logo": {
                        "object": true
                      },
                      "uploaded_background": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Discourse3": [
          {
            "startTime": 1676891419914,
            "executionTime": 273,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 419,
                      "automatic": false,
                      "name": "Group1676891419914",
                      "user_count": 0,
                      "mentionable_level": 0,
                      "messageable_level": 0,
                      "visibility_level": 0,
                      "primary_group": false,
                      "title": {
                        "object": true
                      },
                      "grant_trust_level": {
                        "object": true
                      },
                      "incoming_email": {
                        "object": true
                      },
                      "has_messages": false,
                      "flair_url": {
                        "object": true
                      },
                      "flair_bg_color": {
                        "object": true
                      },
                      "flair_color": {
                        "object": true
                      },
                      "bio_raw": {
                        "object": true
                      },
                      "bio_cooked": {
                        "object": true
                      },
                      "bio_excerpt": {
                        "object": true
                      },
                      "public_admission": false,
                      "public_exit": false,
                      "allow_membership_requests": false,
                      "full_name": {
                        "object": true
                      },
                      "default_notification_level": 3,
                      "membership_request_template": {
                        "object": true
                      },
                      "members_visibility_level": 0,
                      "can_see_members": true,
                      "can_admin_group": true,
                      "publish_read_state": false
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Discourse7": [
          {
            "startTime": 1676891420188,
            "executionTime": 1124,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 767,
                      "name": "UserName LastName",
                      "username": "nodeqa",
                      "avatar_template": "/letter_avatar_proxy/v4/letter/n/d78d45/{size}.png",
                      "created_at": "2023-02-20T11:10:20.863Z",
                      "cooked": "<p>Content Mon Feb 20 2023 12:10:20 GMT+0100 (Central European Standard Time)</p>",
                      "post_number": 1,
                      "post_type": 1,
                      "updated_at": "2023-02-20T11:10:20.863Z",
                      "reply_count": 0,
                      "reply_to_post_number": {
                        "object": true
                      },
                      "quote_count": 0,
                      "incoming_link_count": 0,
                      "reads": 0,
                      "readers_count": 0,
                      "score": 0,
                      "yours": true,
                      "topic_id": 764,
                      "topic_slug": "post-1676891420193",
                      "display_username": "UserName LastName",
                      "primary_group_name": {
                        "object": true
                      },
                      "flair_name": {
                        "object": true
                      },
                      "flair_url": {
                        "object": true
                      },
                      "flair_bg_color": {
                        "object": true
                      },
                      "flair_color": {
                        "object": true
                      },
                      "version": 1,
                      "can_edit": true,
                      "can_delete": false,
                      "can_recover": false,
                      "can_wiki": true,
                      "user_title": {
                        "object": true
                      },
                      "bookmarked": false,
                      "raw": "Content Mon Feb 20 2023 12:10:20 GMT+0100 (Central European Standard Time)",
                      "actions_summary": [
                        "json array"
                      ],
                      "moderator": false,
                      "admin": true,
                      "staff": true,
                      "user_id": 1,
                      "draft_sequence": 0,
                      "hidden": false,
                      "trust_level": 1,
                      "deleted_at": {
                        "object": true
                      },
                      "user_deleted": false,
                      "edit_reason": {
                        "object": true
                      },
                      "can_view_edit_history": true,
                      "wiki": false,
                      "reviewable_id": {
                        "object": true
                      },
                      "reviewable_score_count": 0,
                      "reviewable_score_pending_count": 0
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set": [
          {
            "startTime": 1676891421312,
            "executionTime": 15,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "username": "Username934"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Discourse1": [
          {
            "startTime": 1676891421327,
            "executionTime": 426,
            "source": [
              {
                "previousNode": "Discourse"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 383,
                      "name": "UpdatedCategory1676891419295",
                      "color": "FF6D5A",
                      "text_color": "0000FF",
                      "slug": "category1676891419295",
                      "topic_count": 0,
                      "post_count": 0,
                      "position": 382,
                      "description": {
                        "object": true
                      },
                      "description_text": {
                        "object": true
                      },
                      "description_excerpt": {
                        "object": true
                      },
                      "topic_url": "/t/about-the-updatedcategory1676891419295-category/763",
                      "read_restricted": false,
                      "permission": {
                        "object": true
                      },
                      "notification_level": 1,
                      "can_edit": true,
                      "topic_template": {
                        "object": true
                      },
                      "has_children": {
                        "object": true
                      },
                      "sort_order": {
                        "object": true
                      },
                      "sort_ascending": {
                        "object": true
                      },
                      "show_subcategory_list": false,
                      "num_featured_topics": 3,
                      "default_view": {
                        "object": true
                      },
                      "subcategory_list_style": "rows_with_featured_topics",
                      "default_top_period": "all",
                      "default_list_filter": "all",
                      "minimum_required_tags": 0,
                      "navigate_to_first_post_after_read": false,
                      "custom_fields": {
                        "object": true
                      },
                      "min_tags_from_required_group": 1,
                      "required_tag_group_name": {
                        "object": true
                      },
                      "read_only_banner": {
                        "object": true
                      },
                      "available_groups": [
                        "json array"
                      ],
                      "auto_close_hours": {
                        "object": true
                      },
                      "auto_close_based_on_last_post": false,
                      "group_permissions": [
                        "json array"
                      ],
                      "email_in": {
                        "object": true
                      },
                      "email_in_allow_strangers": false,
                      "mailinglist_mirror": false,
                      "all_topics_wiki": false,
                      "allow_unlimited_owner_edits_on_first_post": false,
                      "can_delete": true,
                      "allow_badges": true,
                      "topic_featured_link_allowed": true,
                      "search_priority": 0,
                      "default_slow_mode_seconds": {
                        "object": true
                      },
                      "uploaded_logo": {
                        "object": true
                      },
                      "uploaded_background": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Discourse4": [
          {
            "startTime": 1676891421755,
            "executionTime": 254,
            "source": [
              {
                "previousNode": "Discourse3"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": "OK"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Discourse14": [
          {
            "startTime": 1676891422010,
            "executionTime": 204,
            "source": [
              {
                "previousNode": "Discourse3"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": "OK",
                      "usernames": [
                        "json array"
                      ],
                      "emails": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Discourse8": [
          {
            "startTime": 1676891422214,
            "executionTime": 461,
            "source": [
              {
                "previousNode": "Discourse7"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 767,
                      "name": "UserName LastName",
                      "username": "nodeqa",
                      "avatar_template": "/letter_avatar_proxy/v4/letter/n/d78d45/{size}.png",
                      "created_at": "2023-02-20T11:10:20.863Z",
                      "cooked": "<p>updated</p><p>Content Mon Feb 20 2023 12:10:20 GMT+0100 (Central European Standard Time)</p><p></p>",
                      "post_number": 1,
                      "post_type": 1,
                      "updated_at": "2023-02-20T11:10:22.550Z",
                      "reply_count": 0,
                      "reply_to_post_number": {
                        "object": true
                      },
                      "quote_count": 0,
                      "incoming_link_count": 0,
                      "reads": 1,
                      "readers_count": 0,
                      "score": 0,
                      "yours": true,
                      "topic_id": 764,
                      "topic_slug": "post-1676891420193",
                      "display_username": "UserName LastName",
                      "primary_group_name": {
                        "object": true
                      },
                      "flair_name": {
                        "object": true
                      },
                      "flair_url": {
                        "object": true
                      },
                      "flair_bg_color": {
                        "object": true
                      },
                      "flair_color": {
                        "object": true
                      },
                      "version": 1,
                      "can_edit": true,
                      "can_delete": false,
                      "can_recover": false,
                      "can_wiki": true,
                      "user_title": {
                        "object": true
                      },
                      "bookmarked": false,
                      "raw": "updated<p>Content Mon Feb 20 2023 12:10:20 GMT+0100 (Central European Standard Time)</p>",
                      "actions_summary": [
                        "json array"
                      ],
                      "moderator": false,
                      "admin": true,
                      "staff": true,
                      "user_id": 1,
                      "draft_sequence": 1,
                      "hidden": false,
                      "trust_level": 1,
                      "deleted_at": {
                        "object": true
                      },
                      "user_deleted": false,
                      "edit_reason": {
                        "object": true
                      },
                      "can_view_edit_history": true,
                      "wiki": false,
                      "reviewable_id": {
                        "object": true
                      },
                      "reviewable_score_count": 0,
                      "reviewable_score_pending_count": 0
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Discourse11": [
          {
            "startTime": 1676891422676,
            "executionTime": 238,
            "source": [
              {
                "previousNode": "Set"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": false,
                      "message": "Username must be unique"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Discourse2": [
          {
            "startTime": 1676891422914,
            "executionTime": 981,
            "source": [
              {
                "previousNode": "Discourse1"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 1,
                      "name": "Uncategorized",
                      "color": "0088CC",
                      "text_color": "FFFFFF",
                      "slug": "uncategorized",
                      "topic_count": 377,
                      "post_count": 0,
                      "position": 0,
                      "description": "Topics that don't need a category, or don't fit into any other existing category.",
                      "description_text": "Topics that don't need a category, or don't fit into any other existing category.",
                      "description_excerpt": "Topics that don't need a category, or don't fit into any other existing category.",
                      "topic_url": {
                        "object": true
                      },
                      "read_restricted": false,
                      "permission": 1,
                      "notification_level": 1,
                      "can_edit": true,
                      "topic_template": {
                        "object": true
                      },
                      "has_children": false,
                      "sort_order": {
                        "object": true
                      },
                      "sort_ascending": {
                        "object": true
                      },
                      "show_subcategory_list": false,
                      "num_featured_topics": 3,
                      "default_view": {
                        "object": true
                      },
                      "subcategory_list_style": "rows_with_featured_topics",
                      "default_top_period": "all",
                      "default_list_filter": "all",
                      "minimum_required_tags": 0,
                      "navigate_to_first_post_after_read": false,
                      "topics_day": 0,
                      "topics_week": 0,
                      "topics_month": 0,
                      "topics_year": 0,
                      "topics_all_time": 377,
                      "is_uncategorized": true,
                      "subcategory_ids": [
                        "json array"
                      ],
                      "uploaded_logo": {
                        "object": true
                      },
                      "uploaded_background": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Discourse5": [
          {
            "startTime": 1676891423896,
            "executionTime": 159,
            "source": [
              {
                "previousNode": "Discourse4"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 419,
                      "automatic": false,
                      "name": "UpGroup1676891419914",
                      "user_count": 1,
                      "mentionable_level": 0,
                      "messageable_level": 0,
                      "visibility_level": 0,
                      "primary_group": false,
                      "title": {
                        "object": true
                      },
                      "grant_trust_level": {
                        "object": true
                      },
                      "incoming_email": {
                        "object": true
                      },
                      "has_messages": false,
                      "flair_url": {
                        "object": true
                      },
                      "flair_bg_color": {
                        "object": true
                      },
                      "flair_color": {
                        "object": true
                      },
                      "bio_raw": {
                        "object": true
                      },
                      "bio_cooked": {
                        "object": true
                      },
                      "bio_excerpt": {
                        "object": true
                      },
                      "public_admission": false,
                      "public_exit": false,
                      "allow_membership_requests": false,
                      "full_name": {
                        "object": true
                      },
                      "default_notification_level": 3,
                      "membership_request_template": {
                        "object": true
                      },
                      "is_group_user": true,
                      "members_visibility_level": 0,
                      "can_see_members": true,
                      "can_admin_group": true,
                      "publish_read_state": false,
                      "is_group_owner_display": false,
                      "mentionable": true,
                      "messageable": true,
                      "automatic_membership_email_domains": {
                        "object": true
                      },
                      "smtp_server": {
                        "object": true
                      },
                      "smtp_port": {
                        "object": true
                      },
                      "smtp_ssl": {
                        "object": true
                      },
                      "smtp_enabled": false,
                      "smtp_updated_at": {
                        "object": true
                      },
                      "smtp_updated_by": {
                        "object": true
                      },
                      "imap_server": {
                        "object": true
                      },
                      "imap_port": {
                        "object": true
                      },
                      "imap_ssl": {
                        "object": true
                      },
                      "imap_mailbox_name": "",
                      "imap_mailboxes": [
                        "json array"
                      ],
                      "imap_enabled": false,
                      "imap_updated_at": {
                        "object": true
                      },
                      "imap_updated_by": {
                        "object": true
                      },
                      "email_username": {
                        "object": true
                      },
                      "email_password": {
                        "object": true
                      },
                      "imap_last_error": {
                        "object": true
                      },
                      "imap_old_emails": {
                        "object": true
                      },
                      "imap_new_emails": {
                        "object": true
                      },
                      "message_count": 0,
                      "allow_unknown_sender_topic_replies": false,
                      "watching_category_ids": [
                        "json array"
                      ],
                      "tracking_category_ids": [
                        "json array"
                      ],
                      "watching_first_post_category_ids": [
                        "json array"
                      ],
                      "regular_category_ids": [
                        "json array"
                      ],
                      "muted_category_ids": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Discourse15": [
          {
            "startTime": 1676891424055,
            "executionTime": 155,
            "source": [
              {
                "previousNode": "Discourse14"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": "OK",
                      "usernames": [
                        "json array"
                      ],
                      "skipped_usernames": [
                        "json array"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Discourse9": [
          {
            "startTime": 1676891424211,
            "executionTime": 180,
            "source": [
              {
                "previousNode": "Discourse8"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 767,
                      "name": "UserName LastName",
                      "username": "nodeqa",
                      "avatar_template": "/letter_avatar_proxy/v4/letter/n/d78d45/{size}.png",
                      "created_at": "2023-02-20T11:10:20.863Z",
                      "cooked": "<p>updated</p><p>Content Mon Feb 20 2023 12:10:20 GMT+0100 (Central European Standard Time)</p><p></p>",
                      "post_number": 1,
                      "post_type": 1,
                      "updated_at": "2023-02-20T11:10:22.550Z",
                      "reply_count": 0,
                      "reply_to_post_number": {
                        "object": true
                      },
                      "quote_count": 0,
                      "incoming_link_count": 0,
                      "reads": 1,
                      "readers_count": 0,
                      "score": 0,
                      "yours": true,
                      "topic_id": 764,
                      "topic_slug": "post-1676891420193",
                      "display_username": "UserName LastName",
                      "primary_group_name": {
                        "object": true
                      },
                      "flair_name": {
                        "object": true
                      },
                      "flair_url": {
                        "object": true
                      },
                      "flair_bg_color": {
                        "object": true
                      },
                      "flair_color": {
                        "object": true
                      },
                      "version": 1,
                      "can_edit": true,
                      "can_delete": false,
                      "can_recover": false,
                      "can_wiki": true,
                      "user_title": {
                        "object": true
                      },
                      "bookmarked": false,
                      "raw": "updated<p>Content Mon Feb 20 2023 12:10:20 GMT+0100 (Central European Standard Time)</p>",
                      "actions_summary": [
                        "json array"
                      ],
                      "moderator": false,
                      "admin": true,
                      "staff": true,
                      "user_id": 1,
                      "hidden": false,
                      "trust_level": 1,
                      "deleted_at": {
                        "object": true
                      },
                      "user_deleted": false,
                      "edit_reason": {
                        "object": true
                      },
                      "can_view_edit_history": true,
                      "wiki": false,
                      "reviewable_id": {
                        "object": true
                      },
                      "reviewable_score_count": 0,
                      "reviewable_score_pending_count": 0
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Discourse12": [
          {
            "startTime": 1676891424391,
            "executionTime": 319,
            "source": [
              {
                "previousNode": "Discourse11"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "user_badges": [
                        "json array"
                      ],
                      "user": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Discourse6": [
          {
            "startTime": 1676891424710,
            "executionTime": 198,
            "source": [
              {
                "previousNode": "Discourse5"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 1,
                      "automatic": true,
                      "name": "admins",
                      "display_name": "admins",
                      "user_count": 2,
                      "mentionable_level": 0,
                      "messageable_level": 0,
                      "visibility_level": 1,
                      "primary_group": false,
                      "title": {
                        "object": true
                      },
                      "grant_trust_level": {
                        "object": true
                      },
                      "incoming_email": {
                        "object": true
                      },
                      "has_messages": false,
                      "flair_url": {
                        "object": true
                      },
                      "flair_bg_color": {
                        "object": true
                      },
                      "flair_color": {
                        "object": true
                      },
                      "bio_raw": {
                        "object": true
                      },
                      "bio_cooked": {
                        "object": true
                      },
                      "bio_excerpt": {
                        "object": true
                      },
                      "public_admission": false,
                      "public_exit": false,
                      "allow_membership_requests": false,
                      "full_name": {
                        "object": true
                      },
                      "default_notification_level": 3,
                      "membership_request_template": {
                        "object": true
                      },
                      "is_group_user": true,
                      "members_visibility_level": 0,
                      "can_see_members": true,
                      "can_admin_group": true,
                      "publish_read_state": false
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Discourse10": [
          {
            "startTime": 1676891424909,
            "executionTime": 2222,
            "source": [
              {
                "previousNode": "Discourse9"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 767,
                      "name": "UserName LastName",
                      "username": "nodeqa",
                      "avatar_template": "/letter_avatar_proxy/v4/letter/n/d78d45/{size}.png",
                      "created_at": "2023-02-20T11:10:20.863Z",
                      "cooked": "<p>updated</p><p>Content Mon Feb 20 2023 12:10:20 GMT+0100 (Central European Standard Time)</p><p></p>",
                      "post_number": 1,
                      "post_type": 1,
                      "updated_at": "2023-02-20T11:10:22.550Z",
                      "reply_count": 0,
                      "reply_to_post_number": {
                        "object": true
                      },
                      "quote_count": 0,
                      "incoming_link_count": 0,
                      "reads": 1,
                      "readers_count": 0,
                      "score": 0,
                      "yours": true,
                      "topic_id": 764,
                      "topic_slug": "post-1676891420193",
                      "topic_title": "Post 1676891420193",
                      "topic_html_title": "Post 1676891420193",
                      "category_id": 1,
                      "display_username": "UserName LastName",
                      "primary_group_name": {
                        "object": true
                      },
                      "flair_name": {
                        "object": true
                      },
                      "flair_url": {
                        "object": true
                      },
                      "flair_bg_color": {
                        "object": true
                      },
                      "flair_color": {
                        "object": true
                      },
                      "version": 1,
                      "can_edit": true,
                      "can_delete": false,
                      "can_recover": false,
                      "can_wiki": true,
                      "user_title": {
                        "object": true
                      },
                      "bookmarked": false,
                      "raw": "updated<p>Content Mon Feb 20 2023 12:10:20 GMT+0100 (Central European Standard Time)</p>",
                      "actions_summary": [
                        "json array"
                      ],
                      "moderator": false,
                      "admin": true,
                      "staff": true,
                      "user_id": 1,
                      "hidden": false,
                      "trust_level": 1,
                      "deleted_at": {
                        "object": true
                      },
                      "user_deleted": false,
                      "edit_reason": {
                        "object": true
                      },
                      "can_view_edit_history": true,
                      "wiki": false,
                      "reviewable_id": {
                        "object": true
                      },
                      "reviewable_score_count": 0,
                      "reviewable_score_pending_count": 0
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Discourse13": [
          {
            "startTime": 1676891427131,
            "executionTime": 1526,
            "source": [
              {
                "previousNode": "Discourse12"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 239,
                      "username": "nodeqaadmin",
                      "name": "UserName LastName",
                      "avatar_template": "/letter_avatar_proxy/v4/letter/n/7c8e57/{size}.png",
                      "active": true,
                      "admin": true,
                      "moderator": false,
                      "last_seen_at": "2022-03-07T14:54:51.733Z",
                      "last_emailed_at": {
                        "object": true
                      },
                      "created_at": "2022-03-07T12:59:28.671Z",
                      "last_seen_age": 30226535.62024173,
                      "last_emailed_age": {
                        "object": true
                      },
                      "created_at_age": 30233458.68280304,
                      "trust_level": 0,
                      "manual_locked_trust_level": {
                        "object": true
                      },
                      "flag_level": 0,
                      "title": {
                        "object": true
                      },
                      "time_read": 0,
                      "staged": false,
                      "days_visited": 1,
                      "posts_read_count": 0,
                      "topics_entered": 0,
                      "post_count": 0
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Discourse13"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2023-02-20T11:10:19.276Z",
  "stoppedAt": "2023-02-20T11:10:28.658Z",
  "status": "running",
  "finished": true
}