test-workflows/snapshots/239-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "When clicking \"Test workflow\"": [
          {
            "startTime": 1747343997231,
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": 0,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "OpenAI Chat Model3": [
          {
            "startTime": 1747343997245,
            "executionTime": 2299,
            "executionIndex": 2,
            "executionStatus": "success",
            "source": [
              {
                "previousNode": "AI Agent3",
                "previousNodeRun": 0
              }
            ],
            "data": {
              "ai_languageModel": [
                [
                  {
                    "json": {
                      "response": {
                        "object": true
                      },
                      "tokenUsage": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            },
            "inputOverride": {
              "ai_languageModel": [
                [
                  {
                    "json": {
                      "messages": [
                        "System: Let's first understand the problem and devise a plan to solve the problem. Please output the plan starting with the header \"Plan:\" followed by a numbered list of steps. Please make the plan the minimum number of steps required to answer the query or complete the task accurately and precisely. You have a set of tools at your disposal to help you with this task:  calculator: Useful for getting the result of a math expression. The input to this tool should be a valid mathematical expression that could be executed by a simple calculator.  You must consider these tools when coming up with your plan. If the task is a question, the final step in the plan must be the following: \"Given the above steps taken, please respond to the original query.\" At the end of your plan, say \"<END_OF_PLAN>\"\nHuman: What is the result of 30 + (10002200 / 100)? Only respond with a number."
                      ],
                      "estimatedTokens": 188,
                      "options": {
                        "openai_api_key": {
                          "lc": 1,
                          "type": "secret",
                          "id": [
                            "OPENAI_API_KEY"
                          ]
                        },
                        "model": "gpt-4-turbo-preview",
                        "temperature": 0,
                        "timeout": 60000,
                        "max_retries": 2,
                        "configuration": {
                          "baseURL": "https://api.openai.com/v1"
                        },
                        "model_kwargs": {}
                      }
                    }
                  }
                ]
              ]
            },
            "metadata": {
              "subRun": [
                {
                  "node": "OpenAI Chat Model3",
                  "runIndex": 0
                },
                {
                  "node": "OpenAI Chat Model3",
                  "runIndex": 1
                },
                {
                  "node": "OpenAI Chat Model3",
                  "runIndex": 2
                },
                {
                  "node": "OpenAI Chat Model3",
                  "runIndex": 3
                },
                {
                  "node": "OpenAI Chat Model3",
                  "runIndex": 4
                },
                {
                  "node": "OpenAI Chat Model3",
                  "runIndex": 5
                }
              ]
            }
          },
          {
            "startTime": 1747343999545,
            "executionTime": 2549,
            "executionIndex": 3,
            "executionStatus": "success",
            "source": [
              {
                "previousNode": "AI Agent3",
                "previousNodeRun": 0
              }
            ],
            "data": {
              "ai_languageModel": [
                [
                  {
                    "json": {
                      "response": {
                        "object": true
                      },
                      "tokenUsage": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            },
            "inputOverride": {
              "ai_languageModel": [
                [
                  {
                    "json": {
                      "messages": [
                        "System: Answer the following questions as best you can. You have access to the following tools:\n\ncalculator: Useful for getting the result of a math expression. The input to this tool should be a valid mathematical expression that could be executed by a simple calculator.\n\nThe way you use the tools is by specifying a json blob, denoted below by $JSON_BLOB\nSpecifically, this $JSON_BLOB should have a \"action\" key (with the name of the tool to use) and a \"action_input\" key (with the input to the tool going here). \nThe $JSON_BLOB should only contain a SINGLE action, do NOT return a list of multiple actions. Here is an example of a valid $JSON_BLOB:\n\n```\n{\n  \"action\": \"calculator\",\n  \"action_input\": \"1 + 2\"\n}\n```\n\nALWAYS use the following format:\n\nQuestion: the input question you must answer\nThought: you should always think about what to do\nAction: \n```\n$JSON_BLOB\n```\nObservation: the result of the action\n... (this Thought/Action/Observation can repeat N times)\nThought: I now know the final answer\nFinal Answer: the final answer to the original input question\n\nBegin! Reminder to always use the exact characters `Final Answer` when responding.\nHuman: Previous steps: []\n\nCurrent objective: Calculate the division part of the expression: 10002200 / 100.\n\n\n\nYou may extract and combine relevant data from your previous steps when responding to me."
                      ],
                      "estimatedTokens": 311,
                      "options": {
                        "openai_api_key": {
                          "lc": 1,
                          "type": "secret",
                          "id": [
                            "OPENAI_API_KEY"
                          ]
                        },
                        "model": "gpt-4-turbo-preview",
                        "temperature": 0,
                        "timeout": 60000,
                        "max_retries": 2,
                        "configuration": {
                          "baseURL": "https://api.openai.com/v1"
                        },
                        "model_kwargs": {}
                      }
                    }
                  }
                ]
              ]
            }
          },
          {
            "startTime": 1747344002096,
            "executionTime": 1416,
            "executionIndex": 5,
            "executionStatus": "success",
            "source": [
              {
                "previousNode": "AI Agent3",
                "previousNodeRun": 0
              }
            ],
            "data": {
              "ai_languageModel": [
                [
                  {
                    "json": {
                      "response": {
                        "object": true
                      },
                      "tokenUsage": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            },
            "inputOverride": {
              "ai_languageModel": [
                [
                  {
                    "json": {
                      "messages": [
                        "System: Answer the following questions as best you can. You have access to the following tools:\n\ncalculator: Useful for getting the result of a math expression. The input to this tool should be a valid mathematical expression that could be executed by a simple calculator.\n\nThe way you use the tools is by specifying a json blob, denoted below by $JSON_BLOB\nSpecifically, this $JSON_BLOB should have a \"action\" key (with the name of the tool to use) and a \"action_input\" key (with the input to the tool going here). \nThe $JSON_BLOB should only contain a SINGLE action, do NOT return a list of multiple actions. Here is an example of a valid $JSON_BLOB:\n\n```\n{\n  \"action\": \"calculator\",\n  \"action_input\": \"1 + 2\"\n}\n```\n\nALWAYS use the following format:\n\nQuestion: the input question you must answer\nThought: you should always think about what to do\nAction: \n```\n$JSON_BLOB\n```\nObservation: the result of the action\n... (this Thought/Action/Observation can repeat N times)\nThought: I now know the final answer\nFinal Answer: the final answer to the original input question\n\nBegin! Reminder to always use the exact characters `Final Answer` when responding.\nHuman: Previous steps: []\n\nCurrent objective: Calculate the division part of the expression: 10002200 / 100.\n\nThis was your previous work (but I haven't seen any of it! I only see what you return as final answer):\nThought: To calculate the division part of the expression \\(10002200 / 100\\), I will use the calculator tool.\nAction: \n```\n{\n  \"action\": \"calculator\",\n  \"action_input\": \"10002200 / 100\"\n}\n```\n\nObservation: 100022\nThought:\n\nYou may extract and combine relevant data from your previous steps when responding to me."
                      ],
                      "estimatedTokens": 398,
                      "options": {
                        "openai_api_key": {
                          "lc": 1,
                          "type": "secret",
                          "id": [
                            "OPENAI_API_KEY"
                          ]
                        },
                        "model": "gpt-4-turbo-preview",
                        "temperature": 0,
                        "timeout": 60000,
                        "max_retries": 2,
                        "configuration": {
                          "baseURL": "https://api.openai.com/v1"
                        },
                        "model_kwargs": {}
                      }
                    }
                  }
                ]
              ]
            }
          },
          {
            "startTime": 1747344003513,
            "executionTime": 2581,
            "executionIndex": 6,
            "executionStatus": "success",
            "source": [
              {
                "previousNode": "AI Agent3",
                "previousNodeRun": 0
              }
            ],
            "data": {
              "ai_languageModel": [
                [
                  {
                    "json": {
                      "response": {
                        "object": true
                      },
                      "tokenUsage": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            },
            "inputOverride": {
              "ai_languageModel": [
                [
                  {
                    "json": {
                      "messages": [
                        "System: Answer the following questions as best you can. You have access to the following tools:\n\ncalculator: Useful for getting the result of a math expression. The input to this tool should be a valid mathematical expression that could be executed by a simple calculator.\n\nThe way you use the tools is by specifying a json blob, denoted below by $JSON_BLOB\nSpecifically, this $JSON_BLOB should have a \"action\" key (with the name of the tool to use) and a \"action_input\" key (with the input to the tool going here). \nThe $JSON_BLOB should only contain a SINGLE action, do NOT return a list of multiple actions. Here is an example of a valid $JSON_BLOB:\n\n```\n{\n  \"action\": \"calculator\",\n  \"action_input\": \"1 + 2\"\n}\n```\n\nALWAYS use the following format:\n\nQuestion: the input question you must answer\nThought: you should always think about what to do\nAction: \n```\n$JSON_BLOB\n```\nObservation: the result of the action\n... (this Thought/Action/Observation can repeat N times)\nThought: I now know the final answer\nFinal Answer: the final answer to the original input question\n\nBegin! Reminder to always use the exact characters `Final Answer` when responding.\nHuman: Previous steps: [{\"action\":{\"text\":\"Calculate the division part of the expression: 10002200 / 100.\"},\"result\":{\"response\":\"The result of the division \\\\(10002200 / 100\\\\) is 100022.\"}}]\n\nCurrent objective: Add 30 to the result of step 1.\n\n\n\nYou may extract and combine relevant data from your previous steps when responding to me."
                      ],
                      "estimatedTokens": 353,
                      "options": {
                        "openai_api_key": {
                          "lc": 1,
                          "type": "secret",
                          "id": [
                            "OPENAI_API_KEY"
                          ]
                        },
                        "model": "gpt-4-turbo-preview",
                        "temperature": 0,
                        "timeout": 60000,
                        "max_retries": 2,
                        "configuration": {
                          "baseURL": "https://api.openai.com/v1"
                        },
                        "model_kwargs": {}
                      }
                    }
                  }
                ]
              ]
            }
          },
          {
            "startTime": 1747344006097,
            "executionTime": 1567,
            "executionIndex": 8,
            "executionStatus": "success",
            "source": [
              {
                "previousNode": "AI Agent3",
                "previousNodeRun": 0
              }
            ],
            "data": {
              "ai_languageModel": [
                [
                  {
                    "json": {
                      "response": {
                        "object": true
                      },
                      "tokenUsage": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            },
            "inputOverride": {
              "ai_languageModel": [
                [
                  {
                    "json": {
                      "messages": [
                        "System: Answer the following questions as best you can. You have access to the following tools:\n\ncalculator: Useful for getting the result of a math expression. The input to this tool should be a valid mathematical expression that could be executed by a simple calculator.\n\nThe way you use the tools is by specifying a json blob, denoted below by $JSON_BLOB\nSpecifically, this $JSON_BLOB should have a \"action\" key (with the name of the tool to use) and a \"action_input\" key (with the input to the tool going here). \nThe $JSON_BLOB should only contain a SINGLE action, do NOT return a list of multiple actions. Here is an example of a valid $JSON_BLOB:\n\n```\n{\n  \"action\": \"calculator\",\n  \"action_input\": \"1 + 2\"\n}\n```\n\nALWAYS use the following format:\n\nQuestion: the input question you must answer\nThought: you should always think about what to do\nAction: \n```\n$JSON_BLOB\n```\nObservation: the result of the action\n... (this Thought/Action/Observation can repeat N times)\nThought: I now know the final answer\nFinal Answer: the final answer to the original input question\n\nBegin! Reminder to always use the exact characters `Final Answer` when responding.\nHuman: Previous steps: [{\"action\":{\"text\":\"Calculate the division part of the expression: 10002200 / 100.\"},\"result\":{\"response\":\"The result of the division \\\\(10002200 / 100\\\\) is 100022.\"}}]\n\nCurrent objective: Add 30 to the result of step 1.\n\nThis was your previous work (but I haven't seen any of it! I only see what you return as final answer):\nThought: To achieve the current objective, I need to add 30 to the result of step 1, which was 100022.\n\nAction: \n```\n{\n  \"action\": \"calculator\",\n  \"action_input\": \"100022 + 30\"\n}\n```\n\nObservation: 100052\nThought:\n\nYou may extract and combine relevant data from your previous steps when responding to me."
                      ],
                      "estimatedTokens": 441,
                      "options": {
                        "openai_api_key": {
                          "lc": 1,
                          "type": "secret",
                          "id": [
                            "OPENAI_API_KEY"
                          ]
                        },
                        "model": "gpt-4-turbo-preview",
                        "temperature": 0,
                        "timeout": 60000,
                        "max_retries": 2,
                        "configuration": {
                          "baseURL": "https://api.openai.com/v1"
                        },
                        "model_kwargs": {}
                      }
                    }
                  }
                ]
              ]
            }
          },
          {
            "startTime": 1747344007667,
            "executionTime": 796,
            "executionIndex": 9,
            "executionStatus": "success",
            "source": [
              {
                "previousNode": "AI Agent3",
                "previousNodeRun": 0
              }
            ],
            "data": {
              "ai_languageModel": [
                [
                  {
                    "json": {
                      "response": {
                        "object": true
                      },
                      "tokenUsage": {
                        "object": true
                      }
                    }
                  }
                ]
              ]
            },
            "inputOverride": {
              "ai_languageModel": [
                [
                  {
                    "json": {
                      "messages": [
                        "System: Answer the following questions as best you can. You have access to the following tools:\n\ncalculator: Useful for getting the result of a math expression. The input to this tool should be a valid mathematical expression that could be executed by a simple calculator.\n\nThe way you use the tools is by specifying a json blob, denoted below by $JSON_BLOB\nSpecifically, this $JSON_BLOB should have a \"action\" key (with the name of the tool to use) and a \"action_input\" key (with the input to the tool going here). \nThe $JSON_BLOB should only contain a SINGLE action, do NOT return a list of multiple actions. Here is an example of a valid $JSON_BLOB:\n\n```\n{\n  \"action\": \"calculator\",\n  \"action_input\": \"1 + 2\"\n}\n```\n\nALWAYS use the following format:\n\nQuestion: the input question you must answer\nThought: you should always think about what to do\nAction: \n```\n$JSON_BLOB\n```\nObservation: the result of the action\n... (this Thought/Action/Observation can repeat N times)\nThought: I now know the final answer\nFinal Answer: the final answer to the original input question\n\nBegin! Reminder to always use the exact characters `Final Answer` when responding.\nHuman: Previous steps: [{\"action\":{\"text\":\"Calculate the division part of the expression: 10002200 / 100.\"},\"result\":{\"response\":\"The result of the division \\\\(10002200 / 100\\\\) is 100022.\"}},{\"action\":{\"text\":\"Add 30 to the result of step 1.\"},\"result\":{\"response\":\"The final result after adding 30 to 100022 is 100052.\"}}]\n\nCurrent objective: Output the final result as a number.\n\n The original question was: What is the result of 30 + (10002200 / 100)? Only respond with a number..\n\n\n\nYou may extract and combine relevant data from your previous steps when responding to me."
                      ],
                      "estimatedTokens": 416,
                      "options": {
                        "openai_api_key": {
                          "lc": 1,
                          "type": "secret",
                          "id": [
                            "OPENAI_API_KEY"
                          ]
                        },
                        "model": "gpt-4-turbo-preview",
                        "temperature": 0,
                        "timeout": 60000,
                        "max_retries": 2,
                        "configuration": {
                          "baseURL": "https://api.openai.com/v1"
                        },
                        "model_kwargs": {}
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Calculator3": [
          {
            "startTime": 1747344002094,
            "executionTime": 1,
            "executionIndex": 4,
            "executionStatus": "success",
            "source": [
              {
                "previousNode": "AI Agent3",
                "previousNodeRun": 0
              }
            ],
            "data": {
              "ai_tool": [
                [
                  {
                    "json": {
                      "response": "100022"
                    }
                  }
                ]
              ]
            },
            "inputOverride": {
              "ai_tool": [
                [
                  {
                    "json": {
                      "query": "10002200 / 100"
                    }
                  }
                ]
              ]
            },
            "metadata": {
              "subRun": [
                {
                  "node": "Calculator3",
                  "runIndex": 0
                },
                {
                  "node": "Calculator3",
                  "runIndex": 1
                }
              ]
            }
          },
          {
            "startTime": 1747344006095,
            "executionTime": 0,
            "executionIndex": 7,
            "executionStatus": "success",
            "source": [
              {
                "previousNode": "AI Agent3",
                "previousNodeRun": 0
              }
            ],
            "data": {
              "ai_tool": [
                [
                  {
                    "json": {
                      "response": "100052"
                    }
                  }
                ]
              ]
            },
            "inputOverride": {
              "ai_tool": [
                [
                  {
                    "json": {
                      "query": "100022 + 30"
                    }
                  }
                ]
              ]
            }
          }
        ],
        "AI Agent3": [
          {
            "startTime": 1747343997232,
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "When clicking \"Test workflow\""
              }
            ],
            "hints": [],
            "executionTime": 11232,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "output": "100052"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "AI Agent3"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {
        "OpenAI Chat Model3": [
          {
            "subRun": [
              {
                "node": "OpenAI Chat Model3",
                "runIndex": 0
              },
              {
                "node": "OpenAI Chat Model3",
                "runIndex": 1
              },
              {
                "node": "OpenAI Chat Model3",
                "runIndex": 2
              },
              {
                "node": "OpenAI Chat Model3",
                "runIndex": 3
              },
              {
                "node": "OpenAI Chat Model3",
                "runIndex": 4
              },
              {
                "node": "OpenAI Chat Model3",
                "runIndex": 5
              }
            ]
          }
        ],
        "Calculator3": [
          {
            "subRun": [
              {
                "node": "Calculator3",
                "runIndex": 0
              },
              {
                "node": "Calculator3",
                "runIndex": 1
              }
            ]
          }
        ]
      },
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2025-05-15T21:19:57.231Z",
  "stoppedAt": "2025-05-15T21:20:08.464Z",
  "status": "running",
  "finished": true
}