test-workflows/snapshots/33-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1676891385930,
            "executionTime": 1,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Zoom": [
          {
            "startTime": 1676891385931,
            "executionTime": 635,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "uuid": "oRlR90RNTw2pd8VI4b+Wcw==",
                      "id": 78415116127,
                      "host_id": "nRgFaftbSnmu0V5MWWIDAA",
                      "host_email": "nodeqa@n8n.io",
                      "topic": "test",
                      "type": 2,
                      "status": "waiting",
                      "start_time": "2023-02-20T11:09:46Z",
                      "duration": 60,
                      "timezone": "Europe/Paris",
                      "created_at": "2023-02-20T11:09:46Z",
                      "start_url": "https://us04web.zoom.us/s/78415116127?zak=eyJ0eXAiOiJKV1QiLCJzdiI6IjAwMDAwMSIsInptX3NrbSI6InptX28ybSIsImFsZyI6IkhTMjU2In0.eyJhdWQiOiJjbGllbnRzbSIsInVpZCI6Im5SZ0ZhZnRiU25tdTBWNU1XV0lEQUEiLCJpc3MiOiJ3ZWIiLCJzayI6IjAiLCJzdHkiOjEwMCwid2NkIjoidXMwNCIsImNsdCI6MCwibW51bSI6Ijc4NDE1MTE2MTI3IiwiZXhwIjoxNjc2ODk4NTg2LCJpYXQiOjE2NzY4OTEzODYsImFpZCI6IjFHdXNnSGsxVFAyVVFvUDRNVkU1UlEiLCJjaWQiOiIifQ.EwHxHLdTe-vrH2YMZusYTiShmKhzyOtAT4RYH0UnYQ4",
                      "join_url": "https://us04web.zoom.us/j/78415116127?pwd=xaYBX8khiADyaoIR03LByEVLuRB4IM.1",
                      "password": "mV6LuA",
                      "h323_password": "171732",
                      "pstn_password": "171732",
                      "encrypted_password": "xaYBX8khiADyaoIR03LByEVLuRB4IM.1",
                      "settings": {
                        "object": true
                      },
                      "pre_schedule": false
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Zoom1": [
          {
            "startTime": 1676891386566,
            "executionTime": 367,
            "source": [
              {
                "previousNode": "Zoom"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Zoom2": [
          {
            "startTime": 1676891386933,
            "executionTime": 248,
            "source": [
              {
                "previousNode": "Zoom1"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "uuid": "oRlR90RNTw2pd8VI4b+Wcw==",
                      "id": 78415116127,
                      "host_id": "nRgFaftbSnmu0V5MWWIDAA",
                      "topic": "test",
                      "type": 2,
                      "start_time": "2023-02-20T11:09:46Z",
                      "duration": 30,
                      "timezone": "Europe/Paris",
                      "created_at": "2023-02-20T11:09:46Z",
                      "join_url": "https://us04web.zoom.us/j/78415116127?pwd=xaYBX8khiADyaoIR03LByEVLuRB4IM.1"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Zoom3": [
          {
            "startTime": 1676891387181,
            "executionTime": 277,
            "source": [
              {
                "previousNode": "Zoom2"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "uuid": "oRlR90RNTw2pd8VI4b+Wcw==",
                      "id": 78415116127,
                      "host_id": "nRgFaftbSnmu0V5MWWIDAA",
                      "host_email": "nodeqa@n8n.io",
                      "topic": "test",
                      "type": 2,
                      "status": "waiting",
                      "start_time": "2023-02-20T11:09:46Z",
                      "duration": 30,
                      "timezone": "Europe/Paris",
                      "created_at": "2023-02-20T11:09:46Z",
                      "start_url": "https://us04web.zoom.us/s/78415116127?zak=eyJ0eXAiOiJKV1QiLCJzdiI6IjAwMDAwMSIsInptX3NrbSI6InptX28ybSIsImFsZyI6IkhTMjU2In0.eyJhdWQiOiJjbGllbnRzbSIsInVpZCI6Im5SZ0ZhZnRiU25tdTBWNU1XV0lEQUEiLCJpc3MiOiJ3ZWIiLCJzayI6IjAiLCJzdHkiOjEwMCwid2NkIjoidXMwNCIsImNsdCI6MCwibW51bSI6Ijc4NDE1MTE2MTI3IiwiZXhwIjoxNjc2ODk4NTg3LCJpYXQiOjE2NzY4OTEzODcsImFpZCI6IjFHdXNnSGsxVFAyVVFvUDRNVkU1UlEiLCJjaWQiOiIifQ.T6-x2VI8MjhMP0vG-bNtYKMP8gTL5xrZE5NTha2jmqM",
                      "join_url": "https://us04web.zoom.us/j/78415116127?pwd=xaYBX8khiADyaoIR03LByEVLuRB4IM.1",
                      "password": "mV6LuA",
                      "h323_password": "171732",
                      "pstn_password": "171732",
                      "encrypted_password": "xaYBX8khiADyaoIR03LByEVLuRB4IM.1",
                      "settings": {
                        "object": true
                      },
                      "pre_schedule": false
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Zoom4": [
          {
            "startTime": 1676891387458,
            "executionTime": 279,
            "source": [
              {
                "previousNode": "Zoom3"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Zoom4"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2023-02-20T11:09:45.929Z",
  "stoppedAt": "2023-02-20T11:09:47.737Z",
  "status": "running",
  "finished": true
}