test-workflows/snapshots/49-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1676891392504,
            "executionTime": 1,
            "source": [],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Bitly": [
          {
            "startTime": 1676891392506,
            "executionTime": 211,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "created_at": "2021-02-19T16:45:14+0000",
                      "id": "bit.ly/3qAXhOP",
                      "link": "https://bit.ly/3qAXhOP",
                      "custom_bitlinks": [
                        "json array"
                      ],
                      "long_url": "https://n8n.io/",
                      "title": "n8n",
                      "archived": false,
                      "tags": [
                        "json array"
                      ],
                      "deeplinks": [
                        "json array"
                      ],
                      "references": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Bitly1": [
          {
            "startTime": 1676891392718,
            "executionTime": 238,
            "source": [
              {
                "previousNode": "Bitly"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "created_at": "2021-02-19T16:45:14+0000",
                      "id": "bit.ly/3qAXhOP",
                      "link": "https://bit.ly/3qAXhOP",
                      "custom_bitlinks": [
                        "json array"
                      ],
                      "long_url": "https://n8n.io/",
                      "title": "n8n",
                      "archived": false,
                      "created_by": "nodeqa",
                      "client_id": "a5e8cebb233c5d07e5c553e917dffb92fec5264d",
                      "tags": [
                        "json array"
                      ],
                      "deeplinks": [
                        "json array"
                      ],
                      "references": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Bitly2": [
          {
            "startTime": 1676891392957,
            "executionTime": 200,
            "source": [
              {
                "previousNode": "Bitly1"
              }
            ],
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "created_at": "2021-02-19T16:45:14+0000",
                      "id": "bit.ly/3qAXhOP",
                      "link": "http://bit.ly/3qAXhOP",
                      "custom_bitlinks": [
                        "json array"
                      ],
                      "long_url": "https://n8n.io/",
                      "archived": false,
                      "created_by": "nodeqa",
                      "client_id": "a5e8cebb233c5d07e5c553e917dffb92fec5264d",
                      "tags": [
                        "json array"
                      ],
                      "deeplinks": [
                        "json array"
                      ],
                      "references": {
                        "object": true
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Bitly2"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2023-02-20T11:09:52.503Z",
  "stoppedAt": "2023-02-20T11:09:53.157Z",
  "status": "running",
  "finished": true
}