test-workflows/snapshots/67-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1747344010437,
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": 0,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist": [
          {
            "startTime": 1747344010437,
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": 319,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "archived": false,
                      "color": 1,
                      "created_ts": 1747344011,
                      "creator": 511904,
                      "default_groups": [
                        "json array"
                      ],
                      "default_recipients": [
                        "json array"
                      ],
                      "description": "",
                      "filters": {
                        "object": true
                      },
                      "icon": 0,
                      "id": 786209,
                      "is_favorited": false,
                      "name": "TestChannel1747344010441",
                      "public": false,
                      "use_default_recipients": false,
                      "user_ids": [
                        "json array"
                      ],
                      "version": 0,
                      "workspace_id": 164330
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist4": [
          {
            "startTime": 1747344010756,
            "executionIndex": 2,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": 323,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "actions": [
                        "json array"
                      ],
                      "attachments": [
                        "json array"
                      ],
                      "content": "Message 1747344010758",
                      "conversation_id": 1067233,
                      "creator": 511904,
                      "creator_name": "nodeqa",
                      "deleted": false,
                      "direct_group_mentions": [
                        "json array"
                      ],
                      "direct_mentions": [
                        "json array"
                      ],
                      "id": 102322002,
                      "last_edited_ts": {
                        "object": true
                      },
                      "obj_index": 2740,
                      "posted_ts": 1747344011,
                      "reactions": {
                        "object": true
                      },
                      "system_message": {
                        "object": true
                      },
                      "version": 0,
                      "workspace_id": 164330
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist13": [
          {
            "startTime": 1747344011079,
            "executionIndex": 3,
            "source": [
              {
                "previousNode": "Twist"
              }
            ],
            "hints": [],
            "executionTime": 333,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "actions": [
                        "json array"
                      ],
                      "attachments": [
                        "json array"
                      ],
                      "channel_id": 786209,
                      "closed": false,
                      "comment_count": 0,
                      "content": "test",
                      "creator": 511904,
                      "creator_name": "nodeqa",
                      "direct_group_mentions": [
                        "json array"
                      ],
                      "direct_mentions": [
                        "json array"
                      ],
                      "groups": [
                        "json array"
                      ],
                      "id": 6968332,
                      "in_inbox": false,
                      "is_archived": true,
                      "is_saved": false,
                      "last_comment": {
                        "object": true
                      },
                      "last_edited_ts": {
                        "object": true
                      },
                      "last_obj_index": -1,
                      "last_updated_ts": 1747344011,
                      "muted_until_ts": {
                        "object": true
                      },
                      "participants": [
                        "json array"
                      ],
                      "pinned": false,
                      "pinned_ts": {
                        "object": true
                      },
                      "posted_ts": 1747344011,
                      "reactions": {
                        "object": true
                      },
                      "recipients": [
                        "json array"
                      ],
                      "responders": [
                        "json array"
                      ],
                      "snippet": "test",
                      "snippet_creator": 511904,
                      "snippet_mask_avatar_url": {
                        "object": true
                      },
                      "snippet_mask_poster": {
                        "object": true
                      },
                      "starred": false,
                      "system_message": {
                        "object": true
                      },
                      "title": "Thread1747344011082",
                      "to_emails": [
                        "json array"
                      ],
                      "version": 0,
                      "workspace_id": 164330
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist9": [
          {
            "startTime": 1747344011412,
            "executionIndex": 4,
            "source": [
              {
                "previousNode": "Twist4"
              }
            ],
            "hints": [],
            "executionTime": 295,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "actions": [
                        "json array"
                      ],
                      "attachments": [
                        "json array"
                      ],
                      "content": "Message 1747344010758",
                      "conversation_id": 1067233,
                      "creator": 511904,
                      "creator_name": "nodeqa",
                      "deleted": false,
                      "direct_group_mentions": [
                        "json array"
                      ],
                      "direct_mentions": [
                        "json array"
                      ],
                      "id": 102322002,
                      "last_edited_ts": {
                        "object": true
                      },
                      "obj_index": 2740,
                      "posted_ts": 1747344011,
                      "reactions": {
                        "object": true
                      },
                      "system_message": {
                        "object": true
                      },
                      "version": 0,
                      "workspace_id": 164330
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist18": [
          {
            "startTime": 1747344011707,
            "executionIndex": 5,
            "source": [
              {
                "previousNode": "Twist13"
              }
            ],
            "hints": [],
            "executionTime": 365,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "actions": [
                        "json array"
                      ],
                      "attachments": [
                        "json array"
                      ],
                      "channel_id": 786209,
                      "content": "Comment1747344011710",
                      "creator": 511904,
                      "creator_name": "nodeqa",
                      "deleted": false,
                      "deleted_by": {
                        "object": true
                      },
                      "direct_group_mentions": [
                        "json array"
                      ],
                      "direct_mentions": [
                        "json array"
                      ],
                      "groups": [
                        "json array"
                      ],
                      "id": 95587076,
                      "last_edited_ts": {
                        "object": true
                      },
                      "obj_index": 0,
                      "posted_ts": 1747344012,
                      "reactions": {
                        "object": true
                      },
                      "recipients": [
                        "json array"
                      ],
                      "system_message": {
                        "object": true
                      },
                      "thread_id": 6968332,
                      "to_emails": [
                        "json array"
                      ],
                      "version": 0,
                      "workspace_id": 164330
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist10": [
          {
            "startTime": 1747344012072,
            "executionIndex": 6,
            "source": [
              {
                "previousNode": "Twist9"
              }
            ],
            "hints": [],
            "executionTime": 143,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "actions": [
                        "json array"
                      ],
                      "attachments": [
                        "json array"
                      ],
                      "content": "Message 1747344010758",
                      "conversation_id": 1067233,
                      "creator": 511904,
                      "creator_name": "nodeqa",
                      "deleted": false,
                      "direct_group_mentions": [
                        "json array"
                      ],
                      "direct_mentions": [
                        "json array"
                      ],
                      "id": 102322002,
                      "last_edited_ts": {
                        "object": true
                      },
                      "obj_index": 2740,
                      "posted_ts": 1747344011,
                      "reactions": {
                        "object": true
                      },
                      "system_message": {
                        "object": true
                      },
                      "version": 0,
                      "workspace_id": 164330
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist19": [
          {
            "startTime": 1747344012215,
            "executionIndex": 7,
            "source": [
              {
                "previousNode": "Twist18"
              }
            ],
            "hints": [],
            "executionTime": 156,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "actions": [
                        "json array"
                      ],
                      "attachments": [
                        "json array"
                      ],
                      "channel_id": 786209,
                      "content": "Comment1747344011710",
                      "creator": 511904,
                      "creator_name": "nodeqa",
                      "deleted": false,
                      "deleted_by": {
                        "object": true
                      },
                      "direct_group_mentions": [
                        "json array"
                      ],
                      "direct_mentions": [
                        "json array"
                      ],
                      "groups": [
                        "json array"
                      ],
                      "id": 95587076,
                      "last_edited_ts": {
                        "object": true
                      },
                      "obj_index": 0,
                      "posted_ts": 1747344012,
                      "reactions": {
                        "object": true
                      },
                      "recipients": [
                        "json array"
                      ],
                      "system_message": {
                        "object": true
                      },
                      "thread_id": 6968332,
                      "to_emails": [
                        "json array"
                      ],
                      "version": 0,
                      "workspace_id": 164330
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist11": [
          {
            "startTime": 1747344012371,
            "executionIndex": 8,
            "source": [
              {
                "previousNode": "Twist10"
              }
            ],
            "hints": [],
            "executionTime": 158,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "actions": [
                        "json array"
                      ],
                      "attachments": [
                        "json array"
                      ],
                      "content": "Message 1747344010758",
                      "conversation_id": 1067233,
                      "creator": 511904,
                      "creator_name": "nodeqa",
                      "deleted": false,
                      "direct_group_mentions": [
                        "json array"
                      ],
                      "direct_mentions": [
                        "json array"
                      ],
                      "id": 102322002,
                      "last_edited_ts": {
                        "object": true
                      },
                      "obj_index": 2740,
                      "posted_ts": 1747344011,
                      "reactions": {
                        "object": true
                      },
                      "system_message": {
                        "object": true
                      },
                      "version": 1,
                      "workspace_id": 164330
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist20": [
          {
            "startTime": 1747344012529,
            "executionIndex": 9,
            "source": [
              {
                "previousNode": "Twist19"
              }
            ],
            "hints": [],
            "executionTime": 174,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "actions": [
                        "json array"
                      ],
                      "attachments": [
                        "json array"
                      ],
                      "channel_id": 786209,
                      "content": "Updated Content",
                      "creator": 511904,
                      "creator_name": "nodeqa",
                      "deleted": false,
                      "deleted_by": {
                        "object": true
                      },
                      "direct_group_mentions": [
                        "json array"
                      ],
                      "direct_mentions": [
                        "json array"
                      ],
                      "groups": [
                        "json array"
                      ],
                      "id": 95587076,
                      "last_edited_ts": 1747344012,
                      "obj_index": 0,
                      "posted_ts": 1747344012,
                      "reactions": {
                        "object": true
                      },
                      "recipients": [
                        "json array"
                      ],
                      "system_message": {
                        "object": true
                      },
                      "thread_id": 6968332,
                      "to_emails": [
                        "json array"
                      ],
                      "version": 1,
                      "workspace_id": 164330
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist12": [
          {
            "startTime": 1747344012703,
            "executionIndex": 10,
            "source": [
              {
                "previousNode": "Twist11"
              }
            ],
            "hints": [],
            "executionTime": 148,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": "ok"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist21": [
          {
            "startTime": 1747344012851,
            "executionIndex": 11,
            "source": [
              {
                "previousNode": "Twist20"
              }
            ],
            "hints": [],
            "executionTime": 168,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "actions": [
                        "json array"
                      ],
                      "attachments": [
                        "json array"
                      ],
                      "channel_id": 786209,
                      "content": "Updated Content",
                      "creator": 511904,
                      "creator_name": "nodeqa",
                      "deleted": false,
                      "deleted_by": {
                        "object": true
                      },
                      "direct_group_mentions": [
                        "json array"
                      ],
                      "direct_mentions": [
                        "json array"
                      ],
                      "groups": [
                        "json array"
                      ],
                      "id": 95587076,
                      "last_edited_ts": 1747344013,
                      "obj_index": 0,
                      "posted_ts": 1747344012,
                      "reactions": {
                        "object": true
                      },
                      "recipients": [
                        "json array"
                      ],
                      "system_message": {
                        "object": true
                      },
                      "thread_id": 6968332,
                      "to_emails": [
                        "json array"
                      ],
                      "version": 1,
                      "workspace_id": 164330
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist22": [
          {
            "startTime": 1747344013019,
            "executionIndex": 12,
            "source": [
              {
                "previousNode": "Twist21"
              }
            ],
            "hints": [],
            "executionTime": 171,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": "ok"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist14": [
          {
            "startTime": 1747344013190,
            "executionIndex": 13,
            "source": [
              {
                "previousNode": "Twist22"
              }
            ],
            "hints": [],
            "executionTime": 143,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "actions": [
                        "json array"
                      ],
                      "attachments": [
                        "json array"
                      ],
                      "channel_id": 786209,
                      "closed": false,
                      "comment_count": 1,
                      "content": "test",
                      "creator": 511904,
                      "creator_name": "nodeqa",
                      "direct_group_mentions": [
                        "json array"
                      ],
                      "direct_mentions": [
                        "json array"
                      ],
                      "groups": [
                        "json array"
                      ],
                      "id": 6968332,
                      "in_inbox": false,
                      "is_archived": true,
                      "is_saved": false,
                      "last_comment": {
                        "object": true
                      },
                      "last_edited_ts": {
                        "object": true
                      },
                      "last_obj_index": 0,
                      "last_updated_ts": 1747344012,
                      "muted_until_ts": {
                        "object": true
                      },
                      "participants": [
                        "json array"
                      ],
                      "pinned": false,
                      "pinned_ts": {
                        "object": true
                      },
                      "posted_ts": 1747344011,
                      "reactions": {
                        "object": true
                      },
                      "recipients": [
                        "json array"
                      ],
                      "responders": [
                        "json array"
                      ],
                      "snippet": "test",
                      "snippet_creator": 511904,
                      "snippet_mask_avatar_url": {
                        "object": true
                      },
                      "snippet_mask_poster": {
                        "object": true
                      },
                      "starred": false,
                      "system_message": {
                        "object": true
                      },
                      "title": "Thread1747344011082",
                      "to_emails": [
                        "json array"
                      ],
                      "version": 3,
                      "workspace_id": 164330
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist15": [
          {
            "startTime": 1747344013333,
            "executionIndex": 14,
            "source": [
              {
                "previousNode": "Twist14"
              }
            ],
            "hints": [],
            "executionTime": 172,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "actions": [
                        "json array"
                      ],
                      "attachments": [
                        "json array"
                      ],
                      "channel_id": 786209,
                      "closed": false,
                      "comment_count": 1,
                      "content": "Updated Content",
                      "creator": 511904,
                      "creator_name": "nodeqa",
                      "direct_group_mentions": [
                        "json array"
                      ],
                      "direct_mentions": [
                        "json array"
                      ],
                      "groups": [
                        "json array"
                      ],
                      "id": 6968332,
                      "in_inbox": false,
                      "is_archived": true,
                      "is_saved": false,
                      "last_comment": {
                        "object": true
                      },
                      "last_edited_ts": 1747344013,
                      "last_obj_index": 0,
                      "last_updated_ts": 1747344012,
                      "muted_until_ts": {
                        "object": true
                      },
                      "participants": [
                        "json array"
                      ],
                      "pinned": false,
                      "pinned_ts": {
                        "object": true
                      },
                      "posted_ts": 1747344011,
                      "reactions": {
                        "object": true
                      },
                      "recipients": [
                        "json array"
                      ],
                      "responders": [
                        "json array"
                      ],
                      "snippet": "test",
                      "snippet_creator": 511904,
                      "snippet_mask_avatar_url": {
                        "object": true
                      },
                      "snippet_mask_poster": {
                        "object": true
                      },
                      "starred": false,
                      "system_message": {
                        "object": true
                      },
                      "title": "Thread1747344011082",
                      "to_emails": [
                        "json array"
                      ],
                      "version": 4,
                      "workspace_id": 164330
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist17": [
          {
            "startTime": 1747344013505,
            "executionIndex": 15,
            "source": [
              {
                "previousNode": "Twist15"
              }
            ],
            "hints": [],
            "executionTime": 151,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "actions": [
                        "json array"
                      ],
                      "attachments": [
                        "json array"
                      ],
                      "channel_id": 786209,
                      "closed": false,
                      "comment_count": 1,
                      "content": "Updated Content",
                      "creator": 511904,
                      "creator_name": "nodeqa",
                      "direct_group_mentions": [
                        "json array"
                      ],
                      "direct_mentions": [
                        "json array"
                      ],
                      "groups": [
                        "json array"
                      ],
                      "id": 6968332,
                      "in_inbox": false,
                      "is_archived": true,
                      "is_saved": false,
                      "last_comment": {
                        "object": true
                      },
                      "last_edited_ts": 1747344013,
                      "last_obj_index": 0,
                      "last_updated_ts": 1747344012,
                      "muted_until_ts": {
                        "object": true
                      },
                      "participants": [
                        "json array"
                      ],
                      "pinned": false,
                      "pinned_ts": {
                        "object": true
                      },
                      "posted_ts": 1747344011,
                      "reactions": {
                        "object": true
                      },
                      "recipients": [
                        "json array"
                      ],
                      "responders": [
                        "json array"
                      ],
                      "snippet": "Updated Content",
                      "snippet_creator": 511904,
                      "snippet_mask_avatar_url": {
                        "object": true
                      },
                      "snippet_mask_poster": {
                        "object": true
                      },
                      "starred": false,
                      "system_message": {
                        "object": true
                      },
                      "title": "Thread1747344011082",
                      "to_emails": [
                        "json array"
                      ],
                      "version": 4,
                      "workspace_id": 164330
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist16": [
          {
            "startTime": 1747344013656,
            "executionIndex": 16,
            "source": [
              {
                "previousNode": "Twist17"
              }
            ],
            "hints": [],
            "executionTime": 156,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": "ok"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist1": [
          {
            "startTime": 1747344013812,
            "executionIndex": 17,
            "source": [
              {
                "previousNode": "Twist16"
              }
            ],
            "hints": [],
            "executionTime": 298,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "archived": false,
                      "color": 1,
                      "created_ts": 1747344011,
                      "creator": 511904,
                      "default_groups": [
                        "json array"
                      ],
                      "default_recipients": [
                        "json array"
                      ],
                      "description": "",
                      "filters": {
                        "object": true
                      },
                      "icon": 0,
                      "id": 786209,
                      "is_favorited": false,
                      "name": "UpdatedChannel1747344013817",
                      "public": false,
                      "use_default_recipients": false,
                      "user_ids": [
                        "json array"
                      ],
                      "version": 1,
                      "workspace_id": 164330
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist2": [
          {
            "startTime": 1747344014110,
            "executionIndex": 18,
            "source": [
              {
                "previousNode": "Twist1"
              }
            ],
            "hints": [],
            "executionTime": 143,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "archived": false,
                      "color": 1,
                      "created_ts": 1747344011,
                      "creator": 511904,
                      "default_groups": [
                        "json array"
                      ],
                      "default_recipients": [
                        "json array"
                      ],
                      "description": "",
                      "filters": {
                        "object": true
                      },
                      "icon": 0,
                      "id": 786209,
                      "is_favorited": false,
                      "name": "UpdatedChannel1747344013817",
                      "public": false,
                      "use_default_recipients": false,
                      "user_ids": [
                        "json array"
                      ],
                      "version": 1,
                      "workspace_id": 164330
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist3": [
          {
            "startTime": 1747344014253,
            "executionIndex": 19,
            "source": [
              {
                "previousNode": "Twist2"
              }
            ],
            "hints": [],
            "executionTime": 206,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "archived": false,
                      "color": 1,
                      "created_ts": 1614250659,
                      "creator": 511904,
                      "default_groups": [
                        "json array"
                      ],
                      "default_recipients": [
                        "json array"
                      ],
                      "description": "",
                      "filters": {
                        "object": true
                      },
                      "icon": 0,
                      "id": 437294,
                      "is_favorited": false,
                      "name": "General",
                      "public": true,
                      "use_default_recipients": false,
                      "user_ids": [
                        "json array"
                      ],
                      "version": 0,
                      "workspace_id": 164330
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist5": [
          {
            "startTime": 1747344014459,
            "executionIndex": 20,
            "source": [
              {
                "previousNode": "Twist3"
              }
            ],
            "hints": [],
            "executionTime": 145,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": "ok"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist6": [
          {
            "startTime": 1747344014605,
            "executionIndex": 21,
            "source": [
              {
                "previousNode": "Twist5"
              }
            ],
            "hints": [],
            "executionTime": 147,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": "ok"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist7": [
          {
            "startTime": 1747344014752,
            "executionIndex": 22,
            "source": [
              {
                "previousNode": "Twist6"
              }
            ],
            "hints": [],
            "executionTime": 169,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": "ok"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Twist8": [
          {
            "startTime": 1747344014921,
            "executionIndex": 23,
            "source": [
              {
                "previousNode": "Twist7"
              }
            ],
            "hints": [],
            "executionTime": 180,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "status": "ok"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Twist8"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2025-05-15T21:20:10.436Z",
  "stoppedAt": "2025-05-15T21:20:15.101Z",
  "status": "running",
  "finished": true
}