test-workflows/snapshots/83-snapshot.json
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": 1747344011255,
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": 0,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "RSS Feed Read": [
          {
            "startTime": 1747344011255,
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": 444,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "title": "Bolto",
                      "link": "https://www.producthunt.com/posts/bolto-3",
                      "pubDate": "2025-03-11T23:04:40.000Z",
                      "author": "Garry Tan",
                      "content": "          <p>\n            Find, interview, and hire engineers with AI\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/bolto-3?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/941021?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/941021",
                      "isoDate": "2025-03-11T23:04:40.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Flowise",
                      "link": "https://www.producthunt.com/posts/flowise",
                      "pubDate": "2025-05-13T08:49:36.000Z",
                      "author": "Garry Tan",
                      "content": "          <p>\n            Build AI agents, visually\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/flowise?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/964762?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/964762",
                      "isoDate": "2025-05-13T08:49:36.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Tolt",
                      "link": "https://www.producthunt.com/posts/tolt",
                      "pubDate": "2024-09-19T10:10:07.000Z",
                      "author": "Daniel",
                      "content": "          <p>\n            All-in-one affiliate marketing software for SaaS startups\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/tolt?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/490699?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/490699",
                      "isoDate": "2024-09-19T10:10:07.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "HubSpot Meeting Scheduler in Email",
                      "link": "https://www.producthunt.com/posts/hubspot-meeting-scheduler-in-email",
                      "pubDate": "2025-05-14T10:33:26.000Z",
                      "author": "Zeeshan Akhtar",
                      "content": "          <p>\n            More meetings. Less drop-offs.\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/hubspot-meeting-scheduler-in-email?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/965345?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/965345",
                      "isoDate": "2025-05-14T10:33:26.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "1Stroke",
                      "link": "https://www.producthunt.com/posts/1stroke",
                      "pubDate": "2025-05-12T17:02:24.000Z",
                      "author": "Mo-Acen",
                      "content": "          <p>\n            Right click and reply with AI\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/1stroke?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/964508?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/964508",
                      "isoDate": "2025-05-12T17:02:24.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "OpenMemory MCP",
                      "link": "https://www.producthunt.com/posts/openmemory-mcp",
                      "pubDate": "2025-05-14T10:06:56.000Z",
                      "author": "Zac Zuo",
                      "content": "          <p>\n            Your private, local memory layer for all AI tools\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/openmemory-mcp?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/965334?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/965334",
                      "isoDate": "2025-05-14T10:06:56.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "PhraseClip",
                      "link": "https://www.producthunt.com/posts/phraseclip",
                      "pubDate": "2025-05-14T18:48:55.000Z",
                      "author": "Maciej",
                      "content": "          <p>\n            Improve your vocabulary as you browse the web\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/phraseclip?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/965516?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/965516",
                      "isoDate": "2025-05-14T18:48:55.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Mukh.1",
                      "link": "https://www.producthunt.com/posts/mukh-1",
                      "pubDate": "2025-05-14T19:17:30.000Z",
                      "author": "Farrukh Anwaar",
                      "content": "          <p>\n            Automate work with AI agents\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/mukh-1?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/965528?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/965528",
                      "isoDate": "2025-05-14T19:17:30.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Friendzone",
                      "link": "https://www.producthunt.com/posts/friendzone-2",
                      "pubDate": "2025-05-14T15:01:49.000Z",
                      "author": "Jan Früchtl",
                      "content": "          <p>\n            Privacy-first second brain for relationships\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/friendzone-2?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/965471?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/965471",
                      "isoDate": "2025-05-14T15:01:49.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Museboard",
                      "link": "https://www.producthunt.com/posts/museboard",
                      "pubDate": "2025-05-14T19:28:59.000Z",
                      "author": "Sage Causie",
                      "content": "          <p>\n            Moodboarding made simple—for creators, by a creator\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/museboard?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/965531?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/965531",
                      "isoDate": "2025-05-14T19:28:59.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Files Magic AI ",
                      "link": "https://www.producthunt.com/posts/files-magic-ai",
                      "pubDate": "2025-05-08T14:10:38.000Z",
                      "author": "Gowtham V",
                      "content": "          <p>\n            AI based Files organization for macOS\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/files-magic-ai?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/962798?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/962798",
                      "isoDate": "2025-05-08T14:10:38.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Granola 2.0",
                      "link": "https://www.producthunt.com/posts/granola-2-0",
                      "pubDate": "2025-05-14T19:39:09.000Z",
                      "author": "Chris Messina",
                      "content": "          <p>\n            A second brain for your team\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/granola-2-0?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/965535?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/965535",
                      "isoDate": "2025-05-14T19:39:09.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Plakar",
                      "link": "https://www.producthunt.com/posts/plakar",
                      "pubDate": "2025-05-08T04:28:26.000Z",
                      "author": "Victor Coisne",
                      "content": "          <p>\n            Effortless open source backup platform\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/plakar?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/962548?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/962548",
                      "isoDate": "2025-05-08T04:28:26.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Material 3 Expressive",
                      "link": "https://www.producthunt.com/posts/material-3-expressive",
                      "pubDate": "2025-05-14T07:04:45.000Z",
                      "author": "Ankit Sharma",
                      "content": "          <p>\n            Build more engaging, easy-to-use products\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/material-3-expressive?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/965231?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/965231",
                      "isoDate": "2025-05-14T07:04:45.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Phala Cloud",
                      "link": "https://www.producthunt.com/posts/phala-cloud",
                      "pubDate": "2025-05-14T00:27:59.000Z",
                      "author": "Marvin Tong",
                      "content": "          <p>\n            Zero-trust cloud for safe AGI\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/phala-cloud?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/965089?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/965089",
                      "isoDate": "2025-05-14T00:27:59.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "RustScan",
                      "link": "https://www.producthunt.com/posts/rustscan",
                      "pubDate": "2025-05-14T08:38:01.000Z",
                      "author": "Rishabh Kumar",
                      "content": "          <p>\n            Fast and developer-friendly Rust contract security scanner\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/rustscan?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/965281?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/965281",
                      "isoDate": "2025-05-14T08:38:01.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Joyn",
                      "link": "https://www.producthunt.com/posts/joyn-4",
                      "pubDate": "2025-05-13T01:35:25.000Z",
                      "author": "Larissa Licha",
                      "content": "          <p>\n            Align product teams with the people closest to customers\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/joyn-4?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/964623?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/964623",
                      "isoDate": "2025-05-13T01:35:25.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "PixVerse V4.5",
                      "link": "https://www.producthunt.com/posts/pixverse-v4-5",
                      "pubDate": "2025-05-14T10:32:34.000Z",
                      "author": "Zac Zuo",
                      "content": "          <p>\n            Cinematic AI video with pro camera controls & fusion\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/pixverse-v4-5?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/965344?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/965344",
                      "isoDate": "2025-05-14T10:32:34.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Macrodata Refinement Application",
                      "link": "https://www.producthunt.com/posts/macrodata-refinement-application",
                      "pubDate": "2025-05-14T15:55:33.000Z",
                      "author": "Louie Garofalo",
                      "content": "          <p>\n            Uncover hidden emotions with Macrodata Refinement\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/macrodata-refinement-application?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/965484?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/965484",
                      "isoDate": "2025-05-14T15:55:33.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Opusense",
                      "link": "https://www.producthunt.com/posts/opusense",
                      "pubDate": "2025-05-13T17:51:22.000Z",
                      "author": "Garry Tan",
                      "content": "          <p>\n            AI-generated reports for site inspections\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/opusense?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/964981?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/964981",
                      "isoDate": "2025-05-13T17:51:22.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Dolphin AI",
                      "link": "https://www.producthunt.com/posts/dolphin-ai",
                      "pubDate": "2025-05-11T18:56:18.000Z",
                      "author": "Ilai Szpiezak",
                      "content": "          <p>\n            Track customer requests from calls on autopilot\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/dolphin-ai?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/964114?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/964114",
                      "isoDate": "2025-05-11T18:56:18.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Sahha Insights API",
                      "link": "https://www.producthunt.com/posts/sahha-insights-api",
                      "pubDate": "2025-05-01T04:53:53.000Z",
                      "author": "Aleks Dahlberg",
                      "content": "          <p>\n            Reveal the patterns in your users' lives that matter most\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/sahha-insights-api?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/959879?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/959879",
                      "isoDate": "2025-05-01T04:53:53.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Ad Tracker for AdMob",
                      "link": "https://www.producthunt.com/posts/ad-tracker-for-admob",
                      "pubDate": "2025-05-13T14:21:40.000Z",
                      "author": "D:Zero",
                      "content": "          <p>\n            A clean, reliable AdMob analytics app\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/ad-tracker-for-admob?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/964905?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/964905",
                      "isoDate": "2025-05-13T14:21:40.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "NotionApps 2.0",
                      "link": "https://www.producthunt.com/posts/notionapps-2-0",
                      "pubDate": "2024-10-24T13:46:19.000Z",
                      "author": "Kevin William David",
                      "content": "          <p>\n            Build web apps & portals from Notion without coding\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/notionapps-2-0?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/534081?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/534081",
                      "isoDate": "2024-10-24T13:46:19.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Gadget",
                      "link": "https://www.producthunt.com/posts/gadget-3",
                      "pubDate": "2025-04-21T20:57:16.000Z",
                      "author": "Robleh Jama",
                      "content": "          <p>\n            The fastest way to build and scale apps with AI\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/gadget-3?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/956117?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/956117",
                      "isoDate": "2025-04-21T20:57:16.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Tokenomy.ai",
                      "link": "https://www.producthunt.com/posts/tokenomy-ai",
                      "pubDate": "2025-05-09T21:46:09.000Z",
                      "author": "Mahesh Lambe",
                      "content": "          <p>\n            See your LLM token bill before you hit send.\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/tokenomy-ai?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/963421?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/963421",
                      "isoDate": "2025-05-09T21:46:09.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Better Off 2.0",
                      "link": "https://www.producthunt.com/posts/better-off-2-0",
                      "pubDate": "2025-05-13T18:05:26.000Z",
                      "author": "Danielle Juncal",
                      "content": "          <p>\n            Build your online will or trust for free\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/better-off-2-0?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/964984?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/964984",
                      "isoDate": "2025-05-13T18:05:26.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Airbnb Services and Experiences",
                      "link": "https://www.producthunt.com/posts/airbnb-services-and-experiences",
                      "pubDate": "2025-05-13T20:46:46.000Z",
                      "author": "Chris Messina",
                      "content": "          <p>\n            Now you can Airbnb more than an Airbnb\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/airbnb-services-and-experiences?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/965062?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/965062",
                      "isoDate": "2025-05-13T20:46:46.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "One Click Deploy",
                      "link": "https://www.producthunt.com/posts/one-click-deploy",
                      "pubDate": "2025-05-13T20:40:49.000Z",
                      "author": "Ella",
                      "content": "          <p>\n            Deploy your LiveKit Voice AI agents instantly\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/one-click-deploy?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/965061?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/965061",
                      "isoDate": "2025-05-13T20:40:49.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "SafeTrigger",
                      "link": "https://www.producthunt.com/posts/safetrigger",
                      "pubDate": "2025-04-24T20:10:53.000Z",
                      "author": "Mateusz Piórowski",
                      "content": "          <p>\n            Zero-knowledge vault - secure files, share on your terms\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/safetrigger?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/957531?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/957531",
                      "isoDate": "2025-04-24T20:10:53.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Life, The Human Network",
                      "link": "https://www.producthunt.com/posts/life-the-human-network",
                      "pubDate": "2025-05-13T11:49:40.000Z",
                      "author": "Julien Belmont",
                      "content": "          <p>\n            What social networks always should have been\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/life-the-human-network?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/964847?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/964847",
                      "isoDate": "2025-05-13T11:49:40.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Timesible",
                      "link": "https://www.producthunt.com/posts/timesible",
                      "pubDate": "2025-05-06T14:13:58.000Z",
                      "author": "Amine Barchid",
                      "content": "          <p>\n            From Task to Invoice, without switching tools\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/timesible?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/961881?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/961881",
                      "isoDate": "2025-05-06T14:13:58.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Basin MCP",
                      "link": "https://www.producthunt.com/posts/basin-mcp",
                      "pubDate": "2025-05-13T13:36:38.000Z",
                      "author": "Henry Lee",
                      "content": "          <p>\n            Stop your Cursor / Windsurf from hallucinating w/ a MCP tool\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/basin-mcp?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/964885?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/964885",
                      "isoDate": "2025-05-13T13:36:38.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Kazu Navi (かずナビ)",
                      "link": "https://www.producthunt.com/posts/kazu-navi",
                      "pubDate": "2025-05-02T09:14:00.000Z",
                      "author": "Daniel Ramón Robertson",
                      "content": "          <p>\n            Learn Japanese with clarity, context, and confidence\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/kazu-navi?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/960308?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/960308",
                      "isoDate": "2025-05-02T09:14:00.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Unitor",
                      "link": "https://www.producthunt.com/posts/unitor",
                      "pubDate": "2025-05-13T04:04:20.000Z",
                      "author": "Jiva",
                      "content": "          <p>\n            Quickly compare unit prices while shopping smarter.\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/unitor?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/964654?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/964654",
                      "isoDate": "2025-05-13T04:04:20.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Document Parser by Contextual AI",
                      "link": "https://www.producthunt.com/posts/document-parser-by-contextual-ai",
                      "pubDate": "2025-05-13T07:04:45.000Z",
                      "author": "Jay Chen",
                      "content": "          <p>\n            Multimodal document parser designed for RAG systems\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/document-parser-by-contextual-ai?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/964719?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/964719",
                      "isoDate": "2025-05-13T07:04:45.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Shadow",
                      "link": "https://www.producthunt.com/posts/shadow-269237dc-c19b-45da-baf7-13cec35e4430",
                      "pubDate": "2025-03-05T11:01:25.000Z",
                      "author": "Ben Lang",
                      "content": "          <p>\n            Meet once, stay ahead—Shadow helps you follow through\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/shadow-269237dc-c19b-45da-baf7-13cec35e4430?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/938521?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/938521",
                      "isoDate": "2025-03-05T11:01:25.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Generated Assets",
                      "link": "https://www.producthunt.com/posts/generated-assets",
                      "pubDate": "2025-05-13T17:00:20.000Z",
                      "author": "Michael Thomas",
                      "content": "          <p>\n            Turn any idea into an investable index with AI\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/generated-assets?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/964967?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/964967",
                      "isoDate": "2025-05-13T17:00:20.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "TikTok AI Alive",
                      "link": "https://www.producthunt.com/posts/tiktok-ai-alive",
                      "pubDate": "2025-05-14T02:54:37.000Z",
                      "author": "Zac Zuo",
                      "content": "          <p>\n            Bringing your photos to life on TikTok Stories\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/tiktok-ai-alive?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/965115?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/965115",
                      "isoDate": "2025-05-14T02:54:37.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "GMSSH",
                      "link": "https://www.producthunt.com/posts/gmssh",
                      "pubDate": "2025-05-13T07:23:25.000Z",
                      "author": "JasperChen",
                      "content": "          <p>\n            Enable everyone to manage servers simply and efficiently\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/gmssh?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/964727?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/964727",
                      "isoDate": "2025-05-13T07:23:25.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Webifier.io",
                      "link": "https://www.producthunt.com/posts/webifier-io-2",
                      "pubDate": "2025-05-05T06:58:35.000Z",
                      "author": "Ali Bockerwey",
                      "content": "          <p>\n            Generate beautiful React websites with AI\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/webifier-io-2?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/961225?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/961225",
                      "isoDate": "2025-05-05T06:58:35.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Nayla",
                      "link": "https://www.producthunt.com/posts/nayla",
                      "pubDate": "2025-05-13T06:45:25.000Z",
                      "author": "Yannick",
                      "content": "          <p>\n            The all-in-one AI browser & workspace that works for you\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/nayla?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/964704?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/964704",
                      "isoDate": "2025-05-13T06:45:25.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Zoho Forms",
                      "link": "https://www.producthunt.com/posts/zoho-forms",
                      "pubDate": "2025-05-05T06:02:04.000Z",
                      "author": "Shobana Sruthi Mohan",
                      "content": "          <p>\n            One form builder. Endless possibilities for every business. \n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/zoho-forms?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/961212?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/961212",
                      "isoDate": "2025-05-05T06:02:04.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "AppearOnAI ",
                      "link": "https://www.producthunt.com/posts/appearonai",
                      "pubDate": "2025-05-10T18:17:12.000Z",
                      "author": "Chris Messina",
                      "content": "          <p>\n            Get recommended by ChatGPT, Gemini, and Claude\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/appearonai?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/963753?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/963753",
                      "isoDate": "2025-05-10T18:17:12.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Asendia AI",
                      "link": "https://www.producthunt.com/posts/asendia-ai-2",
                      "pubDate": "2025-05-08T02:48:51.000Z",
                      "author": "Rihab Lajmi",
                      "content": "          <p>\n            Land your dream job 10x faster with Sarah, your AI job agent\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/asendia-ai-2?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/962527?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/962527",
                      "isoDate": "2025-05-08T02:48:51.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "CoLaunchly",
                      "link": "https://www.producthunt.com/posts/colaunchly",
                      "pubDate": "2025-04-30T07:39:29.000Z",
                      "author": "Alex Cloudstar",
                      "content": "          <p>\n            Launch your app faster. With zero guesswork\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/colaunchly?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/959493?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/959493",
                      "isoDate": "2025-04-30T07:39:29.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Probo",
                      "link": "https://www.producthunt.com/posts/probo",
                      "pubDate": "2025-04-14T16:19:02.000Z",
                      "author": "Garry Tan",
                      "content": "          <p>\n            Compliance for Startups to get SOC2/ISO27001/HIPAA in a week\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/probo?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/953388?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/953388",
                      "isoDate": "2025-04-14T16:19:02.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Zetta",
                      "link": "https://www.producthunt.com/posts/zetta-2",
                      "pubDate": "2025-05-10T19:22:28.000Z",
                      "author": "Tyler Hanson",
                      "content": "          <p>\n            Automated business intelligence platform\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/zetta-2?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/963766?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/963766",
                      "isoDate": "2025-05-10T19:22:28.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Xogot",
                      "link": "https://www.producthunt.com/posts/xogot",
                      "pubDate": "2025-05-12T14:11:10.000Z",
                      "author": "Joseph Hill",
                      "content": "          <p>\n            Godot-powered game dev for iPad\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/xogot?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/964449?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/964449",
                      "isoDate": "2025-05-12T14:11:10.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "RADiCAL",
                      "link": "https://www.producthunt.com/posts/radical-3",
                      "pubDate": "2025-05-12T16:22:25.000Z",
                      "author": "Alice Gardner",
                      "content": "          <p>\n            AI motion capture meets 3D storytelling\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/radical-3?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/964497?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/964497",
                      "isoDate": "2025-05-12T16:22:25.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  }
                ]
              ]
            }
          }
        ],
        "Function": [
          {
            "startTime": 1747344011699,
            "executionIndex": 2,
            "source": [
              {
                "previousNode": "RSS Feed Read"
              }
            ],
            "hints": [],
            "executionTime": 2,
            "executionStatus": "success",
            "data": {
              "main": [
                []
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Function"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "2025-05-15T21:20:11.255Z",
  "stoppedAt": "2025-05-15T21:20:11.701Z",
  "status": "running",
  "finished": true
}