packages/workflow/test/fixtures/WorkflowDataProxy/memory_with_disconnected_tool_run.json
{
	"data": {
		"resultData": {
			"runData": {
				"When clicking 'Execute Workflow'": [
					{
						"startTime": 1234567890000,
						"executionTime": 0,
						"data": {
							"main": [
								[
									{
										"json": {}
									}
								]
							]
						},
						"source": []
					}
				],
				"Edit Fields1": [
					{
						"startTime": 1234567890000,
						"executionTime": 0,
						"data": {
							"main": [
								[
									{
										"json": {
											"sessionId": "test-session-123"
										}
									}
								]
							]
						},
						"source": []
					}
				],
				"Memory Node": [
					{
						"startTime": 1234567890001,
						"executionTime": 0,
						"data": {
							"main": [
								[
									{
										"json": {}
									}
								]
							]
						},
						"source": [
							{
								"previousNode": "Edit Fields1"
							}
						]
					}
				]
			}
		}
	}
}
