packages/workflow/test/fixtures/WorkflowDataProxy/partial_data_run.json
{
	"data": {
		"startData": {},
		"resultData": {
			"runData": {
				"Start": [
					{
						"startTime": 1,
						"executionTime": 1,
						"data": {
							"main": [
								[
									{
										"json": {}
									}
								]
							]
						},
						"source": []
					}
				],
				"Function": [
					{
						"startTime": 1,
						"executionTime": 1,
						"data": {
							"main": [[]]
						},
						"source": [
							{
								"previousNode": "Start"
							}
						]
					}
				],
				"Rename": [
					{
						"startTime": 1,
						"executionTime": 1,
						"data": {
							"main": [[]]
						},
						"source": [
							{
								"previousNode": "Function"
							}
						]
					}
				],
				"End": [
					{
						"startTime": 1,
						"executionTime": 1,
						"data": {
							"main": [[]]
						},
						"source": [
							{
								"previousNode": "Rename"
							}
						]
					}
				]
			}
		}
	},
	"mode": "manual",
	"startedAt": "2024-02-08T15:45:18.848Z",
	"stoppedAt": "2024-02-08T15:45:18.862Z",
	"status": "running"
}
