packages/nodes-base/nodes/Microsoft/ToDo/test/list.getAll.sp.perItemContinueOnFail.workflow.json
{
	"name": "microsoft to do - list getAll (service principal, per-item target, continueOnFail)",
	"nodes": [
		{
			"parameters": {},
			"id": "3a000000-0000-4000-8000-000000000001",
			"name": "When clicking 'Execute workflow'",
			"type": "n8n-nodes-base.manualTrigger",
			"typeVersion": 1,
			"position": [0, 0]
		},
		{
			"parameters": {
				"data": [{ "user": "not a user" }, { "user": "jane@contoso.com" }]
			},
			"id": "3a000000-0000-4000-8000-000000000002",
			"name": "Test Data",
			"type": "n8n-nodes-testing.testData",
			"typeVersion": 1,
			"position": [200, 0]
		},
		{
			"parameters": {
				"authentication": "microsoftEntraServicePrincipalApi",
				"userTarget": {
					"__rl": true,
					"value": "={{ $json.user }}",
					"mode": "id"
				},
				"resource": "list",
				"operation": "getAll",
				"returnAll": false,
				"limit": 50
			},
			"id": "3a000000-0000-4000-8000-000000000003",
			"name": "Microsoft To Do",
			"type": "n8n-nodes-base.microsoftToDo",
			"typeVersion": 1,
			"position": [400, 0],
			"onError": "continueRegularOutput",
			"credentials": {
				"microsoftEntraServicePrincipalApi": {
					"id": "1",
					"name": "Microsoft Entra Service Principal account"
				}
			}
		}
	],
	"pinData": {
		"Microsoft To Do": [
			{
				"json": {
					"error": "The target ID is not valid"
				}
			},
			{
				"json": {
					"id": "list-jane",
					"displayName": "Jane Tasks"
				}
			}
		]
	},
	"connections": {
		"When clicking 'Execute workflow'": {
			"main": [[{ "node": "Test Data", "type": "main", "index": 0 }]]
		},
		"Test Data": {
			"main": [[{ "node": "Microsoft To Do", "type": "main", "index": 0 }]]
		}
	},
	"active": false,
	"settings": {},
	"tags": []
}
