packages/cli/src/evaluation.ee/test-runner/__tests__/mock-data/execution-data.multiple-triggers.json
{
	"startData": {},
	"resultData": {
		"runData": {
			"When clicking ‘Execute workflow’": [
				{
					"hints": [],
					"startTime": 1732882424975,
					"executionTime": 0,
					"source": [],
					"executionStatus": "success",
					"data": {
						"main": [
							[
								{
									"json": {},
									"pairedItem": {
										"item": 0
									}
								}
							]
						]
					}
				}
			],
			"NoOp": [
				{
					"hints": [],
					"startTime": 1732882424977,
					"executionTime": 1,
					"source": [
						{
							"previousNode": "When clicking ‘Execute workflow’"
						}
					],
					"executionStatus": "success",
					"data": {
						"main": [
							[
								{
									"json": {},
									"pairedItem": {
										"item": 0
									}
								}
							]
						]
					}
				}
			],
			"NoOp2": [
				{
					"hints": [],
					"startTime": 1732882424978,
					"executionTime": 0,
					"source": [
						{
							"previousNode": "NoOp"
						}
					],
					"executionStatus": "success",
					"data": {
						"main": [
							[
								{
									"json": {},
									"pairedItem": {
										"item": 0
									}
								}
							]
						]
					}
				}
			]
		},
		"pinData": {},
		"lastNodeExecuted": "NoOp2"
	},
	"executionData": {
		"contextData": {},
		"nodeExecutionStack": [],
		"metadata": {},
		"waitingExecution": {},
		"waitingExecutionSource": {}
	}
}
